#### IMPORTO LIBRERIAS ####

In [13]:
import pandas as pd
import numpy as np
from sklearn import linear_model

#configuro notebook para mostrar varios salidas en la misma celda
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
#amplio el output de columnas a 500
pd.set_option('display.max_columns', 500)

!pwd
!ls -l

/Users/mac/Documents/MASTER_DATA_SCIENCE/tfm
total 264824
-rw-r--r--   1 mac  staff     57711 14 jun 01:02 Analisis_DGT.ipynb
-rw-r--r--   1 mac  staff    104803 15 abr 11:08 TFM_DGT-pruebas.ipynb
-rw-r--r--   1 mac  staff    111416 14 jun 02:13 TFM_DGT.ipynb
-rw-r--r--   1 mac  staff  33726464 31 may 22:31 aa.db
drwxr-xr-x  21 mac  staff       714 31 may 22:43 cleaned
-rw-r--r--   1 mac  staff  33726464 31 may 14:35 data.db
-rw-r--r--   1 mac  staff      8192 31 may 13:43 datos_dgt.db
-rw-r--r--   1 mac  staff         0 23 may 22:42 gg
-rw-r--r--   1 mac  staff  67846144 31 may 22:27 jj.db
drwxr-xr-x   5 mac  staff       170 30 mar 23:28 metadata
drwxr-xr-x  11 mac  staff       374 30 mar 23:28 raw
drwxr-xr-x  21 mac  staff       714 13 jun 22:16 raw_zip

### CONSERVO LOS DATOS ORIGINALES EN LA CARPETA RAW. LOS FICHEROS DE TRABAJO ESTAN EN LA CARPETA CLEANED

In [14]:
!ls -l
!cp -r raw/* cleaned/

total 264824
-rw-r--r--   1 mac  staff     57711 14 jun 01:02 Analisis_DGT.ipynb
-rw-r--r--   1 mac  staff    104803 15 abr 11:08 TFM_DGT-pruebas.ipynb
-rw-r--r--   1 mac  staff    111416 14 jun 02:13 TFM_DGT.ipynb
-rw-r--r--   1 mac  staff  33726464 31 may 22:31 aa.db
drwxr-xr-x  21 mac  staff       714 31 may 22:43 cleaned
-rw-r--r--   1 mac  staff  33726464 31 may 14:35 data.db
-rw-r--r--   1 mac  staff      8192 31 may 13:43 datos_dgt.db
-rw-r--r--   1 mac  staff         0 23 may 22:42 gg
-rw-r--r--   1 mac  staff  67846144 31 may 22:27 jj.db
drwxr-xr-x   5 mac  staff       170 30 mar 23:28 metadata
drwxr-xr-x  11 mac  staff       374 30 mar 23:28 raw
drwxr-xr-x  21 mac  staff       714 13 jun 22:16 raw_zip

### GUARDO UN LISTADO POR TIPOLOGIA DE FICHERO, PARA POSTERIORMENTE ALMACENARLO EN UN DICCIONARIO ###

In [15]:
accvict=!ls ./cleaned/MICRODATOS_ACC_VICT_20*/TABLA_ACCVICT_*.csv
pers=!ls ./cleaned/MICRODATOS_ACC_VICT_20*/TABLA_PERS_*.csv
vehic=!ls ./cleaned/MICRODATOS_ACC_VICT_20*/TABLA_VEHIC_*.csv
dic_all_files={'Accvict':accvict,'Pers':pers,'Vehic':vehic}
len(dic_all_files)

3

#### RUTAS DE TODOS LOS FICHEROS ####

In [16]:
dic_all_files

{'Accvict': ['./cleaned/MICRODATOS_ACC_VICT_2008/TABLA_ACCVICT_24H_2008.csv',
  './cleaned/MICRODATOS_ACC_VICT_2009/TABLA_ACCVICT_24H_2009.csv',
  './cleaned/MICRODATOS_ACC_VICT_2010/TABLA_ACCVICT_24H_2010.csv',
  './cleaned/MICRODATOS_ACC_VICT_2011/TABLA_ACCVICT_2011.csv',
  './cleaned/MICRODATOS_ACC_VICT_2012/TABLA_ACCVICT_2012.csv',
  './cleaned/MICRODATOS_ACC_VICT_2013/TABLA_ACCVICT_2013.csv',
  './cleaned/MICRODATOS_ACC_VICT_2014/TABLA_ACCVICT_2014.csv',
  './cleaned/MICRODATOS_ACC_VICT_2015/TABLA_ACCVICT_2015.csv'],
 'Pers': ['./cleaned/MICRODATOS_ACC_VICT_2008/TABLA_PERS_24H_2008.csv',
  './cleaned/MICRODATOS_ACC_VICT_2009/TABLA_PERS_24H_2009.csv',
  './cleaned/MICRODATOS_ACC_VICT_2010/TABLA_PERS_24H_2010.csv',
  './cleaned/MICRODATOS_ACC_VICT_2011/TABLA_PERS_2011.csv',
  './cleaned/MICRODATOS_ACC_VICT_2012/TABLA_PERS_2012.csv',
  './cleaned/MICRODATOS_ACC_VICT_2013/TABLA_PERS_2013.csv',
  './cleaned/MICRODATOS_ACC_VICT_2014/TABLA_PERS_2014.csv',
  './cleaned/MICRODATOS_ACC_VICT_2015/TABLA_PERS_2015.csv'],
 'Vehic': ['./cleaned/MICRODATOS_ACC_VICT_2008/TABLA_VEHIC_24H_2008.csv',
  './cleaned/MICRODATOS_ACC_VICT_2009/TABLA_VEHIC_24H_2009.csv',
  './cleaned/MICRODATOS_ACC_VICT_2010/TABLA_VEHIC_24H_2010.csv',
  './cleaned/MICRODATOS_ACC_VICT_2011/TABLA_VEHIC_2011.csv',
  './cleaned/MICRODATOS_ACC_VICT_2012/TABLA_VEHIC_2012.csv',
  './cleaned/MICRODATOS_ACC_VICT_2013/TABLA_VEHIC_2013.csv',
  './cleaned/MICRODATOS_ACC_VICT_2014/TABLA_VEHIC_2014.csv',
  './cleaned/MICRODATOS_ACC_VICT_2015/TABLA_VEHIC_2015.csv']}

### Ahora que los datos estan trazados, procedemos a realizar una observacion preliminar para comprobar si hay homgeneidad en los datos, y si disponemos de la misma informacion en cada data set, ya que segun la DGT, las extructuras de los datos cambian a partir del 2011 en hasta el 2015.

### Por los que tenemos dos grupos de datos:

### Tipo 1) 2008-2010
### Tipo 2) 2011-2015

### Recorro cada clave - para obtener las cabeceras y poder comparar que campos tengo en cada a√±o por tipo de fichero, e introduzco los data frames en una lista.

In [17]:
dic_all_files.keys()

dict_keys(['Accvict', 'Pers', 'Vehic'])

In [18]:
#Creo una lista con las cabeceras de los ficheros
Headers_List=[]
for key in dic_all_files.keys():
    df_2008=pd.read_csv(dic_all_files[key][0],delimiter=';',nrows=0,encoding="ISO-8859-1")
    df_2008=df_2008.transpose()
    df_2008.reset_index(inplace=True)
    df_2008.columns=[key+'_2008']

    df_2015=pd.read_csv(dic_all_files[key][7],delimiter=';',nrows=0,encoding="ISO-8859-1")
    df_2015=df_2015.transpose()
    df_2015.reset_index(inplace=True)
    df_2015.columns=[key+'_2015']
        
    Headers_List.append(df_2008.merge(df_2015, left_on=key+'_2008', right_on=key+'_2015', how='outer'))

### --------------------------------------------------------------------------------------------------

## REVISION DE LOS TRES TIPOS DE DATA SETS

### SE DISPONE DE TRES TIPOS DE DATASETS:

#### 1. ACCIDENTES
#### 2. PERSONAS
#### 3 .VEHICULOS

#### COMO PRIMER PASO VOY A REVISAR TANTO ESTRUCTURA, PARA DECIDIR QUE VARIABLES MANTENDRE PARA EL ANALISIS POSTERIOR. PROCEDERE A MODIFICAR LOS DATASET DE LA CARPETA "./CLEANED" ANTES DE REALIZAR LA CARGA PARA EN ANALISIS.

### --------------------------------------------------------------------------------------------------

###   1. ACCIDENTES

In [19]:
#Cabecera del fichero de Accidentes_victimas
Header_Accvict=Headers_List[0]
Header_Accvict

                Accvict_2008              Accvict_2015
0               ID_ACCIDENTE              ID_ACCIDENTE
1                       ANIO                      ANIO
2                        MES                       MES
3                       HORA                      HORA
4                  DIASEMANA                 DIASEMANA
5                  PROVINCIA                 PROVINCIA
6         COMUNIDAD_AUTONOMA        COMUNIDAD_AUTONOMA
7                       ISLA                      ISLA
8                  MUNICIPIO                 MUNICIPIO
9               TOT_VICTIMAS              TOT_VICTIMAS
10               TOT_MUERTOS               TOT_MUERTOS
11        TOT_HERIDOS_GRAVES        TOT_HERIDOS_GRAVES
12         TOT_HERIDOS_LEVES         TOT_HERIDOS_LEVES
13  TOT_VEHICULOS_IMPLICADOS  TOT_VEHICULOS_IMPLICADOS
14                      ZONA                      ZONA
15             ZONA_AGRUPADA             ZONA_AGRUPADA
16                 CARRETERA                 CARRETERA
17             RED_CARRETERA             RED_CARRETERA
18                  TIPO_VIA                  TIPO_VIA
19       TRAZADO_NO_INTERSEC       TRAZADO_NO_INTERSEC
20             TIPO_INTERSEC             TIPO_INTERSEC
21             ACOND_CALZADA                       NaN
22                 PRIORIDAD                       NaN
23        SUPERFICIE_CALZADA        SUPERFICIE_CALZADA
24               LUMINOSIDAD               LUMINOSIDAD
25     FACTORES_ATMOSFERICOS     FACTORES_ATMOSFERICOS
26   VISIBILIDAD_RESTRINGIDA   VISIBILIDAD_RESTRINGIDA
27        OTRA_CIRCUNSTANCIA                       NaN
28                    ACERAS                    ACERAS
29            TIPO_ACCIDENTE            TIPO_ACCIDENTE
30      DENSIDAD_CIRCULACION                       NaN
31        MEDIDAS_ESPECIALES                       NaN
32                       NaN             COD_MUNICIPIO
33                       NaN           TOT_VICTIMAS30D
34                       NaN            TOT_MUERTOS30D
35                       NaN     TOT_HERIDOS_GRAVES30D
36                       NaN      TOT_HERIDOS_LEVES30D
37                       NaN          PRIORIDAD_AGENTE
38                       NaN        PRIORIDAD_SEMAFORO
39                       NaN            PRIORIDAD_STOP
40                       NaN            PRIORIDAD_CEDA
41                       NaN          PRIORIDAD_MARCAS
42                       NaN            PRIORIDAD_PASO
43                       NaN            PRIORIDAD_OTRA

In [20]:
#mantengo solo las columnas que son iguales en los dos tipos de dataset

Header_Accvict=Header_Accvict[Header_Accvict['Accvict_2008']==Header_Accvict['Accvict_2015']]
Header_Accvict=Header_Accvict['Accvict_2008'].tolist()
dic_all_headers={'Accvict':Header_Accvict}
dic_all_headers

#Genero nuevo DF vacio con los nombres de columnas
df_all_years=pd.DataFrame(index=None, columns=dic_all_headers['Accvict'])

#Primero genero una vista con todos los datos para examinarlos
for file in dic_all_files['Accvict']:
    df_vict=pd.read_csv(file,delimiter=';',usecols=dic_all_headers['Accvict'],encoding="ISO-8859-1",dtype={'ID_ACCIDENTE': object})
    #relleno los nulos con 999
    df_vict.fillna(999,inplace=True)
    df_all_years=pd.concat([df_all_years,df_vict],ignore_index=True)


#muestreo los datos dde la vista
df_all_years.head(3)
df_all_years.tail(3)
df_all_years.sample(3)

#Decido descartar los siguientes campos, al no considerarlos relevantes o estar muy incompletos:
df_all_years.drop(['ISLA','MUNICIPIO','TIPO_INTERSEC','ACERAS','CARRETERA','TRAZADO_NO_INTERSEC'], axis=1, inplace=True)

#Actualizo mi diccionario con las cabeceras que utilizare en el proceso de carga
Header_Accvict=df_all_years.columns.tolist()
dic_all_headers={'Accvict':Header_Accvict}
dic_all_headers
#En el campo factores atmosfericos, como lo considero relevante
#y tengo 4787 valores desconocidos, englobo estos registros dentro de la categoria otros(9)

#Vacio el df de la vista, que contendra todos los a√±os
df_all_years=pd.DataFrame(index=None, columns=dic_all_headers['Accvict'])

for file in dic_all_files['Accvict']:
    df_acc=pd.read_csv(file,delimiter=";",usecols=dic_all_headers['Accvict'],encoding="ISO-8859-1",dtype={'ID_ACCIDENTE': object})
    df_acc.fillna(999,inplace=True)

    #factores atmosfericos desconocidos,tal y como cometo arriba van a otros
    df_acc.ix[(df_acc['FACTORES_ATMOSFERICOS']==999),'FACTORES_ATMOSFERICOS'] = 9
    #df_acc.ix[(df_vict['VISIBILIDAD_RESTRINGIDA']==999), 'VISIBILIDAD_RESTRINGIDA'] = df_all_years['VISIBILIDAD_RESTRINGIDA'][df_all_years['VISIBILIDAD_RESTRINGIDA']!=999].median()
    
    #Recorro todas las columnas del df, sustituyendo los known por la mediana del dato para tipos != objeto 'O'
    for col in df_acc.columns:
        if df_acc[col].dtype !='O':
            df_acc.ix[(df_acc[col]==999), col]=df_acc[col][df_acc[col]!=999].median()
            df_acc[col]=df_acc[col].astype(int)
        
    df_all_years=pd.concat([df_all_years,df_acc],ignore_index=True)
    df_acc.to_csv(file,index=False,sep=";",encoding="ISO-8859-1")
    print("MODFICADO ----- "+file)

#Convierto tambien los numericos de la vista tipo float a enteros
#Compruebo que me ha sustituido correctamente los 999 por la mediana.
for col in df_all_years.columns:
    if df_all_years[col].dtype !='O':
        df_all_years[col]=df_all_years[col].astype(int)
    df_all_years[col].value_counts(dropna=False)

df_all_years.to_csv("./cleaned/view_accvict_08_15.csv",index=False,sep=";",encoding="ISO-8859-1")
print("CREADA VISTA CON DATOS DE ACCIDENTES Y VISTIMAS DE 2008 A 2015")

########   FIN DEL PROCESAMIENTO DE LOS DATASET DE ACCIDENTES #########

{'Accvict': ['ID_ACCIDENTE',
  'ANIO',
  'MES',
  'HORA',
  'DIASEMANA',
  'PROVINCIA',
  'COMUNIDAD_AUTONOMA',
  'ISLA',
  'MUNICIPIO',
  'TOT_VICTIMAS',
  'TOT_MUERTOS',
  'TOT_HERIDOS_GRAVES',
  'TOT_HERIDOS_LEVES',
  'TOT_VEHICULOS_IMPLICADOS',
  'ZONA',
  'ZONA_AGRUPADA',
  'CARRETERA',
  'RED_CARRETERA',
  'TIPO_VIA',
  'TRAZADO_NO_INTERSEC',
  'TIPO_INTERSEC',
  'SUPERFICIE_CALZADA',
  'LUMINOSIDAD',
  'FACTORES_ATMOSFERICOS',
  'VISIBILIDAD_RESTRINGIDA',
  'ACERAS',
  'TIPO_ACCIDENTE']}

,ID_ACCIDENTE,ANIO,MES,HORA,DIASEMANA,PROVINCIA,COMUNIDAD_AUTONOMA,ISLA,MUNICIPIO,TOT_VICTIMAS,TOT_MUERTOS,TOT_HERIDOS_GRAVES,TOT_HERIDOS_LEVES,TOT_VEHICULOS_IMPLICADOS,ZONA,ZONA_AGRUPADA,CARRETERA,RED_CARRETERA,TIPO_VIA,TRAZADO_NO_INTERSEC,TIPO_INTERSEC,SUPERFICIE_CALZADA,LUMINOSIDAD,FACTORES_ATMOSFERICOS,VISIBILIDAD_RESTRINGIDA,ACERAS,TIPO_ACCIDENTE
0,2008480000372,2008.0,4.0,7.0,5.0,48.0,17.0,999.0,999.0,4.0,0.0,0.0,4.0,1.0,1.0,1.0,BI-631,3.0,2.0,1.0,999.0,2.0,3.0,1.0,8.0,N,71.0
1,2008250021218,2008.0,3.0,14.0,7.0,25.0,9.0,999.0,999.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,C-12,2.0,5.0,2.0,999.0,1.0,1.0,9.0,8.0,N,22.0
2,2008430024095,2008.0,10.0,12.0,7.0,43.0,9.0,999.0,999.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,TV-7331,4.0,5.0,1.0,999.0,1.0,1.0,1.0,0.0,N,68.0

,ID_ACCIDENTE,ANIO,MES,HORA,DIASEMANA,PROVINCIA,COMUNIDAD_AUTONOMA,ISLA,MUNICIPIO,TOT_VICTIMAS,TOT_MUERTOS,TOT_HERIDOS_GRAVES,TOT_HERIDOS_LEVES,TOT_VEHICULOS_IMPLICADOS,ZONA,ZONA_AGRUPADA,CARRETERA,RED_CARRETERA,TIPO_VIA,TRAZADO_NO_INTERSEC,TIPO_INTERSEC,SUPERFICIE_CALZADA,LUMINOSIDAD,FACTORES_ATMOSFERICOS,VISIBILIDAD_RESTRINGIDA,ACERAS,TIPO_ACCIDENTE
711899,2016990000875,2015.0,12.0,11.0,4.0,28.0,13.0,999.0,28079.0,2.0,0.0,0.0,2.0,2.0,2.0,2.0,999,4.0,8.0,999.0,2.0,3.0,1.0,4.0,999.0,998,2.0
711900,2016990000876,2015.0,12.0,13.0,2.0,28.0,13.0,999.0,28079.0,1.0,0.0,0.0,1.0,1.0,2.0,2.0,999,4.0,8.0,1.0,999.0,1.0,1.0,1.0,999.0,999,7.0
711901,2016990001660,2015.0,11.0,15.0,1.0,28.0,13.0,999.0,28079.0,1.0,0.0,0.0,1.0,2.0,2.0,2.0,999,4.0,8.0,999.0,2.0,1.0,1.0,1.0,999.0,998,2.0

,ID_ACCIDENTE,ANIO,MES,HORA,DIASEMANA,PROVINCIA,COMUNIDAD_AUTONOMA,ISLA,MUNICIPIO,TOT_VICTIMAS,TOT_MUERTOS,TOT_HERIDOS_GRAVES,TOT_HERIDOS_LEVES,TOT_VEHICULOS_IMPLICADOS,ZONA,ZONA_AGRUPADA,CARRETERA,RED_CARRETERA,TIPO_VIA,TRAZADO_NO_INTERSEC,TIPO_INTERSEC,SUPERFICIE_CALZADA,LUMINOSIDAD,FACTORES_ATMOSFERICOS,VISIBILIDAD_RESTRINGIDA,ACERAS,TIPO_ACCIDENTE
2569,2008430023287,2008.0,6.0,10.0,3.0,43.0,9.0,999.0,999.0,1.0,0.0,0.0,1.0,2.0,1.0,1.0,N-420,4.0,5.0,1.0,999.0,1.0,1.0,1.0,0.0,N,13.0
249813,2010360000000,2010.0,2.0,10.0,4.0,36.0,12.0,999.0,36051.0,1.0,0.0,0.0,1.0,2.0,1.0,1.0,PO-550,2.0,5.0,999.0,1.0,1.0,1.0,1.0,8.0,S,12.0
326333,2011430022295,2011.0,9.0,16.0,5.0,43.0,9.0,999.0,43161.0,1.0,0.0,0.0,1.0,1.0,2.0,2.0,999,4.0,8.0,999.0,1.0,1.0,1.0,1.0,1.0,0,7.0

{'Accvict': ['ID_ACCIDENTE',
  'ANIO',
  'MES',
  'HORA',
  'DIASEMANA',
  'PROVINCIA',
  'COMUNIDAD_AUTONOMA',
  'TOT_VICTIMAS',
  'TOT_MUERTOS',
  'TOT_HERIDOS_GRAVES',
  'TOT_HERIDOS_LEVES',
  'TOT_VEHICULOS_IMPLICADOS',
  'ZONA',
  'ZONA_AGRUPADA',
  'RED_CARRETERA',
  'TIPO_VIA',
  'SUPERFICIE_CALZADA',
  'LUMINOSIDAD',
  'FACTORES_ATMOSFERICOS',
  'VISIBILIDAD_RESTRINGIDA',
  'TIPO_ACCIDENTE']}

MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2008/TABLA_ACCVICT_24H_2008.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2009/TABLA_ACCVICT_24H_2009.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2010/TABLA_ACCVICT_24H_2010.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2011/TABLA_ACCVICT_2011.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2012/TABLA_ACCVICT_2012.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2013/TABLA_ACCVICT_2013.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2014/TABLA_ACCVICT_2014.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2015/TABLA_ACCVICT_2015.csv

2009080000000      18364
2010080000000      18107
2009990000000       9085
2010990000000       8946
2010280000000       5044
2009460000000       4597
2009280000000       4410
2010460000000       4404
2010410000000       3223
2010110000000       2994
2009110000000       2730
2009170000000       2727
2009410000000       2636
2010170000000       2603
2010070000000       2438
2009430000000       2292
2009480000000       2216
2010430000000       2126
2009290000000       2106
2010480000000       2093
2009200000000       1974
2010360000000       1934
2010290000000       1933
2009330000000       1922
2009360000000       1878
2010330000000       1823
2009500000000       1796
2010200000000       1760
2009030000000       1729
2010030000000       1687
                   ...
2008990013815          1
201511020000318        1
2008040001754          1
2008250021341          1
2015990001290          1
2012410002926          1
2012381000891          1
2013070100369          1
2008200000560          1
2013280002983          1
2014080000945          1
2011460002729          1
2012080014244          1
2013080011109          1
201446250001014        1
2015489000559          1
2014410000372          1
2013990007813          1
2013990005414          1
2012210000335          1
2013430022812          1
2013080016910          1
201531901000029        1
201539087000073        1
2008030002839          1
2013180001332          1
2011360002827          1
2015080017990          1
201552001000575        1
2008120000851          1
Name: ID_ACCIDENTE, dtype: int64

2015    97756
2008    93161
2014    91570
2013    89519
2009    88251
2010    85503
2012    83115
2011    83027
Name: ANIO, dtype: int64

7     65542
6     62857
10    62465
5     61810
9     59530
11    59326
3     59080
12    57504
4     57120
8     56571
1     56326
2     53771
Name: MES, dtype: int64

14    50900
13    49985
19    47913
12    45912
18    45647
20    42737
15    42392
17    42003
11    39866
16    38648
9     38555
10    35469
8     34384
21    33464
22    25598
7     21813
23    17903
6     12540
0     10137
1      9118
5      7575
2      7009
3      6312
4      6022
Name: HORA, dtype: int64

5    115329
4    105408
1    105110
3    104661
2    104199
6     94620
7     82575
Name: DIASEMANA, dtype: int64

8     146569
28    113936
46     36233
41     26901
11     21723
7      20464
17     19579
29     19411
3      17788
33     16718
43     16622
48     16022
20     14863
36     14804
50     13253
38     11792
18     11634
25      9703
14      9100
15      8816
45      7480
30      7141
35      6996
23      6982
6       6864
24      6857
9       6532
1       6407
4       6265
39      6148
12      6133
47      5534
26      5337
21      5316
37      5249
13      4808
2       4418
10      4303
52      4035
27      3716
5       3593
22      3523
31      3360
16      3256
32      2618
34      2493
40      2436
19      2204
51      1564
49      1473
42      1468
44      1462
Name: PROVINCIA, dtype: int64

9     192473
13    113936
1     107332
10     60154
7      35635
12     29954
16     25058
8      22166
4      20464
5      18788
2      18238
17     17571
3      16718
11     11167
14      7141
6       6148
18      5599
15      3360
Name: COMUNIDAD_AUTONOMA, dtype: int64

1     522827
2     126411
3      36581
4      15072
5       6424
6       2475
7       1032
8        504
9        253
10       110
11        47
12        39
13        23
14        16
18        14
16        14
15        11
32         5
17         5
24         4
20         3
21         3
22         3
26         3
19         2
57         2
53         2
37         2
35         2
34         2
31         2
23         2
30         1
27         1
25         1
38         1
39         1
52         1
63         1
Name: TOT_VICTIMAS, dtype: int64

0     698204
1      12619
2        873
3        150
4         33
5         12
6          5
9          2
8          2
14         1
7          1
Name: TOT_MUERTOS, dtype: int64

0     628265
1      74407
2       7435
3       1288
4        345
5        107
6         33
7          7
8          3
9          3
10         3
40         1
14         1
16         1
17         1
21         1
43         1
Name: TOT_HERIDOS_GRAVES, dtype: int64

1     474279
2     113245
0      70581
3      32191
4      12874
5       5138
6       1947
7        823
8        387
9        188
10        83
11        34
12        31
13        16
14        15
15        12
17         9
18         8
16         7
20         5
21         4
19         3
22         3
32         2
24         2
36         2
27         2
30         2
31         2
43         1
34         1
26         1
29         1
47         1
25         1
52         1
Name: TOT_HERIDOS_LEVES, dtype: int64

2     374920
1     273281
3      47469
4      11374
5       2995
6       1010
7        408
8        181
9         95
10        42
11        29
12        18
13        16
0         14
14         9
15         7
21         5
23         3
30         3
16         3
17         2
20         2
26         2
32         2
55         1
18         1
22         1
24         1
25         1
34         1
36         1
39         1
43         1
45         1
47         1
91         1
Name: TOT_VEHICULOS_IMPLICADOS, dtype: int64

2    403042
1    301334
3      6761
4       765
Name: ZONA, dtype: int64

2    409803
1    302099
Name: ZONA_AGRUPADA, dtype: int64

4    462204
1     91948
2     88891
3     60515
5      8344
Name: RED_CARRETERA, dtype: int64

8    263004
9    138259
3    114178
5     94922
2     65112
1     18046
7      6841
4      6219
6      5321
Name: TIPO_VIA, dtype: int64

1    600109
3     91002
7      9596
2      3893
9      2370
4      1762
6      1546
5      1044
8       580
Name: SUPERFICIE_CALZADA, dtype: int64

1    503603
3    121127
4     36137
2     33297
5     17738
Name: LUMINOSIDAD, dtype: int64

1    606046
4     58499
9     26100
5     11766
8      3519
3      2262
2      1430
7      1344
6       936
Name: FACTORES_ATMOSFERICOS, dtype: int64

1    421417
8    151022
0     94613
2     11739
7     11337
3     10176
4      7755
5      2681
6      1162
Name: VISIBILIDAD_RESTRINGIDA, dtype: int64

2     89924
4     82990
12    70554
7     55923
14    51057
3     34237
33    29470
20    27167
5     24207
13    22316
19    21280
16    21037
15    19466
71    15121
9     14116
1     13998
6     12085
68    10606
18    10454
11    10194
41     8905
10     7449
66     7166
64     5987
24     5595
56     4428
54     4363
63     4289
62     3068
52     2917
53     2890
61     2886
8      2387
67     2095
21     1853
51     1760
17     1732
65     1170
36     1091
57     1013
22      855
55      798
58      536
31      256
32       94
35       55
23       37
34       25
Name: TIPO_ACCIDENTE, dtype: int64

CREADA VISTA CON DATOS DE ACCIDENTES Y VISTIMAS DE 2008 A 2015

###   2. VEHICULOS

In [21]:
#Cabecera del fichero de Vehiculos
Header_Vehic=Headers_List[2]
Header_Vehic

                 Vehic_2008               Vehic_2015
0              ID_ACCIDENTE             ID_ACCIDENTE
1               ID_VEHICULO              ID_VEHICULO
2   ANIO_MATRICULA_VEHICULO  ANIO_MATRICULA_VEHICULO
3    MES_MATRICULA_VEHICULO   MES_MATRICULA_VEHICULO
4             TIPO_VEHICULO            TIPO_VEHICULO
5           ESTADO_VEHICULO                      NaN
6      NUMERO_OCUPANTES_VEH     NUMERO_OCUPANTES_VEH
7     MERCANCIAS_PELIGROSAS    MERCANCIAS_PELIGROSAS
8       VEHICULO_INCENDIADO      VEHICULO_INCENDIADO
9                      ANIO                     ANIO
10                      NaN         ANOMALIA_NINGUNA
11                      NaN       ANOMALIA_NEUMATICO
12                      NaN        ANOMALIA_REVENTON
13                      NaN       ANOMALIA_DIRECCION
14                      NaN          ANOMALIA_FRENOS

In [22]:
#Matego solo las columnas inguales y actualizo mi diccionario con las cabeceras que utilizare en el proceso de carga

Header_Vehic=Header_Vehic[Header_Vehic['Vehic_2008']==Header_Vehic['Vehic_2015']]
Header_Vehic=Header_Vehic['Vehic_2008'].tolist()
dic_all_headers={'Vehic':Header_Vehic}
dic_all_headers

#Genero un df vacio donde concatenare todos los a√±os para ver la cantidad de valores de que 
#dispongo por cada columna

df_all_years=pd.DataFrame(index=None, columns=dic_all_headers['Vehic'])

#Cargo cada csv y concateno
for file in dic_all_files['Vehic']:
    df_vehic=pd.read_csv(file,delimiter=';',usecols=dic_all_headers['Vehic'],encoding="ISO-8859-1",dtype={'ID_ACCIDENTE': object})
    #relleno los nulos con 999
    df_vehic.fillna(999,inplace=True)
    df_all_years=pd.concat([df_all_years,df_vehic],ignore_index=True)
    
#muestreo los datos
df_all_years.head(3)
df_all_years.tail(3)
df_all_years.sample(3)

#De las columnas del data frame final, que contiene todos los a√±os, 
#examino los distintos valores de las columnas, para tratar de decidir 
#que campos conservare para el analisis.


#Una vez examindas los resultado anteriores, decido descartar los siguientes campos de la vista:
df_all_years.drop(['MERCANCIAS_PELIGROSAS','VEHICULO_INCENDIADO'], axis=1, inplace=True)

#Actualizo mi diccionario con las cabeceras que utilizare en el proceso de carga
Header_Vehic=df_all_years.columns.tolist()
dic_all_headers={'Vehic':Header_Vehic}
dic_all_headers
#------------------SOBREECRITURA DE LOS DATOS APLICANDO MODIFICACIONES--------------
#Decido eliminor las siguientes columnas, por el alto numero de registro desconocidos y 
#porque considero que no me aportan valor:

#MERCANCIAS_PELIGROSAS
#VEHICULO_INCENDIADO

#Vacio el df de la vista, que contendra todos los a√±os
df_all_years=pd.DataFrame(index=None, columns=dic_all_headers['Vehic'])

for file in dic_all_files['Vehic']:
    df_vehic=pd.read_csv(file,delimiter=';',usecols=dic_all_headers['Vehic'],encoding="ISO-8859-1",dtype={'ID_ACCIDENTE': object})
    #relleno los nulos con 999
    df_vehic.fillna(999,inplace=True)
    for col in df_vehic.columns:
        if df_vehic[col].dtype !='O':
            df_vehic.ix[(df_vehic[col]==999), col]=df_vehic[col][df_vehic[col]!=999].median()


    df_vehic.to_csv(file,index=False,sep=";",encoding="ISO-8859-1")
    df_all_years=pd.concat([df_all_years,df_vehic],ignore_index=True)
    print("MODFICADO ----- "+file)


#Convierto tambien los numericos de la vista tipo float a enteros
#Compruebo que me ha sustituido correctamente los 999 por la mediana.
for col in df_all_years.columns:
    if df_all_years[col].dtype !='O':
        df_all_years[col]=df_all_years[col].astype(int)
    df_all_years[col].value_counts(dropna=False)

            
df_all_years.to_csv("./cleaned/view_vehic_08_15.csv",index=False,sep=";",encoding="ISO-8859-1")
print("CREADA VISTA CON DATOS DE ACCIDENTES Y VISTIMAS DE 2008 A 2015")
########   FIN DEL PROCESAMIENTO DE LOS DATASET DE VEHICULOS #########

{'Vehic': ['ID_ACCIDENTE',
  'ID_VEHICULO',
  'ANIO_MATRICULA_VEHICULO',
  'MES_MATRICULA_VEHICULO',
  'TIPO_VEHICULO',
  'NUMERO_OCUPANTES_VEH',
  'MERCANCIAS_PELIGROSAS',
  'VEHICULO_INCENDIADO',
  'ANIO']}

,ID_ACCIDENTE,ID_VEHICULO,ANIO_MATRICULA_VEHICULO,MES_MATRICULA_VEHICULO,TIPO_VEHICULO,NUMERO_OCUPANTES_VEH,MERCANCIAS_PELIGROSAS,VEHICULO_INCENDIADO,ANIO
0,2008410002330,2.0,9999.0,99.0,22.0,1.0,N,N,2008.0
1,2008520000162,2.0,1991.0,99.0,22.0,1.0,N,N,2008.0
2,2009460000665,3.0,2004.0,1.0,22.0,1.0,N,N,2008.0

,ID_ACCIDENTE,ID_VEHICULO,ANIO_MATRICULA_VEHICULO,MES_MATRICULA_VEHICULO,TIPO_VEHICULO,NUMERO_OCUPANTES_VEH,MERCANCIAS_PELIGROSAS,VEHICULO_INCENDIADO,ANIO
1239590,2016990000876,1.0,2011.0,1.0,6.0,1.0,0,999,2015.0
1239591,2016990001660,1.0,9999.0,99.0,6.0,1.0,0,999,2015.0
1239592,2016990001660,2.0,2011.0,1.0,6.0,4.0,0,999,2015.0

,ID_ACCIDENTE,ID_VEHICULO,ANIO_MATRICULA_VEHICULO,MES_MATRICULA_VEHICULO,TIPO_VEHICULO,NUMERO_OCUPANTES_VEH,MERCANCIAS_PELIGROSAS,VEHICULO_INCENDIADO,ANIO
988511,201426089000960,1.0,2006.0,10.0,4.0,1.0,0,999,2014.0
904552,2014070100178,2.0,1996.0,8.0,6.0,1.0,0,999,2013.0
683377,2012260000985,1.0,2001.0,6.0,6.0,1.0,0,999,2012.0

{'Vehic': ['ID_ACCIDENTE',
  'ID_VEHICULO',
  'ANIO_MATRICULA_VEHICULO',
  'MES_MATRICULA_VEHICULO',
  'TIPO_VEHICULO',
  'NUMERO_OCUPANTES_VEH',
  'ANIO']}

MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2008/TABLA_VEHIC_24H_2008.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2009/TABLA_VEHIC_24H_2009.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2010/TABLA_VEHIC_24H_2010.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2011/TABLA_VEHIC_2011.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2012/TABLA_VEHIC_2012.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2013/TABLA_VEHIC_2013.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2014/TABLA_VEHIC_2014.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2015/TABLA_VEHIC_2015.csv

2008280001807      91
2010290003177      55
2014209000038      47
2013400000574      45
2008450000201      43
201427030000030    39
2008480001448      36
2008150003490      34
2008450000161      32
2008450000200      32
2012490000316      30
201547085000098    30
2013400000484      30
2009330004512      26
2012080000613      26
2008250022170      25
2013280002688      24
2012150003239      23
2013400000493      23
2013280003721      23
2008320000383      22
2012410002094      21
2011130000064      21
2013470000701      21
2008450000205      21
2013250020690      21
2012330004294      20
201403123000044    20
2012350700183      18
2009080007556      17
                   ..
201503011000129     1
2009070100972       1
2009430018005       1
2013140002369       1
2014080003915       1
201526089001121     1
2010510000328       1
201426089000297     1
2011240001097       1
2010330003173       1
2014170018898       1
2015080015264       1
201541059000100     1
2012280002505       1
2010020000356       1
2008070102455       1
201433060000002     1
2011290000074       1
2011990007190       1
2009410001385       1
2013050000598       1
201445168000045     1
2014990007597       1
2011430021091       1
201436061000004     1
2012170018859       1
2014170020459       1
2012080000312       1
201426103000003     1
2011290001557       1
Name: ID_ACCIDENTE, dtype: int64

1     710054
2     438466
3      64903
4      16647
5       5005
6       1931
7        868
8        443
9        249
10       158
11       120
12        86
13        66
14        52
16        41
15        39
18        32
20        29
19        29
21        26
27        26
17        25
22        23
23        22
24        17
25        15
26        15
28        14
29        13
30        13
       ...
81         1
82         1
83         1
84         1
85         1
86         1
87         1
88         1
89         1
90         1
91         1
74         1
73         1
72         1
63         1
57         1
58         1
59         1
60         1
61         1
62         1
64         1
71         1
65         1
66         1
67         1
68         1
69         1
70         1
0          1
Name: ID_VEHICULO, dtype: int64

9999    423289
2007     77705
2006     73347
2005     67073
2004     58430
2008     54907
2003     49727
2001     46652
2000     45401
2002     44417
1999     41282
2009     32893
1998     30027
2010     29527
1997     22104
2011     21817
1996     16367
2012     14456
1995     12105
2013     11508
1994     11366
1992      9372
2014      8628
1993      8328
1991      6615
1990      5158
1989      4133
2015      3723
1988      2705
1987      1840
         ...
1900         5
1957         4
1952         4
1948         4
1943         3
1944         3
1949         3
1947         3
1950         3
1951         3
1954         3
1914         3
1938         2
1909         2
1945         2
1946         2
1932         1
1931         1
1926         1
1925         1
1924         1
1923         1
1921         1
1920         1
1939         1
1912         1
1910         1
1942         1
1953         1
1941         1
Name: ANIO_MATRICULA_VEHICULO, dtype: int64

99    502516
1     161316
7      65918
6      61920
3      57533
5      55623
10     51713
4      51691
12     50245
11     48738
2      47150
9      43491
8      41739
Name: MES_MATRICULA_VEHICULO, dtype: int64

6     491756
22    300202
4     106634
2      67209
11     56248
9      43968
3      39686
43     26815
1      10572
5       9317
16      9295
10      9218
12      8412
41      6863
21      6253
15      6183
51      5666
20      5350
81      3928
55      3673
61      3244
52      2564
63      2335
13      2067
8       1917
90      1431
7       1301
23      1272
18      1125
14       866
42       813
82       628
31       529
30       403
32       402
24       291
53       231
19       227
17       187
62       165
70       159
54       148
80        40
Name: TIPO_VEHICULO, dtype: int64

1     946479
2     188288
3      48701
4      24477
0      18881
5       9476
6        969
7        455
8        251
9        212
10       181
20       133
15       115
11        77
30        73
12        72
25        43
14        42
16        42
40        42
13        41
18        37
50        36
21        32
22        25
17        24
23        24
19        23
35        23
27        21
       ...
36        12
31        11
28        10
45        10
48         9
39         9
42         9
43         9
55         8
54         8
49         8
46         7
44         7
57         7
34         7
37         7
38         6
52         6
47         5
51         5
53         5
33         4
61         4
58         3
59         2
66         2
70         2
68         1
63         1
67         1
Name: NUMERO_OCUPANTES_VEH, dtype: int64

2015    170749
2008    163785
2014    158835
2013    155004
2009    154013
2010    149277
2011    144274
2012    143656
Name: ANIO, dtype: int64

CREADA VISTA CON DATOS DE ACCIDENTES Y VISTIMAS DE 2008 A 2015

###   1. PERSONAS

### TRATAMIENTO DATA SET PERSONAS

#### Se observa una diferencia en cuanto a la codificacion en los datos de sexo
#### entre los datasets anteriores y posteriores a 2011:

#####    -Para a√±os anteriores a 2011 la codificacion es V o H
#####    -Para a√±os posteriores, aparece codificados como 1 o 2, por lo que voy a intentar averiguar cual corresponde a hombre y mujeres
    
#### Es logico pensar que en los a√±os anteriores a 1960, por ejemplo, el numero de hombres conductores era considerablemente al de mujeres, por lo que voy agrupar por edades y a√±o de permiso de circulacion


#### Repito el procedimiento anterior para los datos desde 2011 a 2015 grabando los xls modificados en la carpeta cleaned junto con los otros data sets de a√±os 2008 a 2010

### Repito el procedimiento anterior para los datos desde 2011 a 2015
### grabando los xls modificados en la carpeta cleaned junto con los otros data set 
### de a√±os 2008 a 2010

In [23]:
#Cabecera del fichero de Personas
Header_Pers=Headers_List[1]
Header_Pers

               Pers_2008                  Pers_2015
0           ID_ACCIDENTE               ID_ACCIDENTE
1            ID_VEHICULO                ID_VEHICULO
2             ID_PERSONA                 ID_PERSONA
3           ID_CONDUCTOR               ID_CONDUCTOR
4            ID_PASAJERO                ID_PASAJERO
5              ID_PEATON                  ID_PEATON
6                   EDAD                       EDAD
7               COD_SEXO                        NaN
8           ANIO_PERMISO               ANIO_PERMISO
9           COD_POSICION                        NaN
10     COD_ACCESEGURIDAD                        NaN
11         COD_LESIVIDAD                        NaN
12             MANIOBRAS                  MANIOBRAS
13     INFRACC_VELOCIDAD          INFRACC_VELOCIDAD
14  INFRACC_NO_VELOCIDAD                        NaN
15          ACCIONPEATON                        NaN
16        INFRACC_PEATON             INFRACC_PEATON
17                  ANIO                       ANIO
18                   NaN                       SEXO
19                   NaN                   POSICION
20                   NaN               USO_CINTURON
21                   NaN                    USO_SRI
22                   NaN                  USO_CASCO
23                   NaN                 MUERTO_24H
24                   NaN                 MUERTO_30D
25                   NaN           HERIDO_GRAVE_24H
26                   NaN            HERIDO_GRAVE30D
27                   NaN            HERIDO_LEVE_24H
28                   NaN             HERIDO_LEVE30D
29                   NaN      DICCIONARIO_MANIOBRAS
30                   NaN               INFRACC_COND
31                   NaN           INFRACC_APERTURA
32                   NaN          INFRACC_ALUMBRADO
33                   NaN     INFRACC_CARGA_VEHICULO
34                   NaN            INFRACC_RESUMEN
35                   NaN  DICCIONARIO_ACCION_PEATON
36                   NaN              ACCION_PEATON

Header_Pers=Header_Pers[Header_Pers['Pers_2008']==Header_Pers['Pers_2015']]
Header_Pers=Header_Pers['Pers_2008'].tolist()
dic_all_headers={'Pers':Header_Pers}
dic_all_headers

df_all_years=pd.DataFrame(index=None, columns=dic_all_headers['Pers'])

#Cargo cada csv y concateno
for file in dic_all_files['Pers']:
    df_pers=pd.read_csv(file,delimiter=';',usecols=dic_all_headers['Pers'],encoding="ISO-8859-1",dtype={'ID_ACCIDENTE': object})
    #relleno los nulos con 999
    df_pers=df_pers.fillna(999)
    df_all_years=pd.concat([df_all_years,df_pers],ignore_index=True)
    
#muestreo los datos
df_all_years.head(3)
df_all_years.tail(3)
df_all_years.sample(3)

#De las columnas del data frame final, que contiene todos los a√±os, 
#examino los distintos valores de las columnas, para tratar de decidir 
#que campos conservare para el analisis.
for col in df_all_years.columns:
    #no saco los distinos valores para los id_accidente
    if col !='ID_ACCIDENTE':
        df_all_years[col].value_counts(dropna=False)

#Modifico el sexo y el a√±o de permiso en cada fichero origen

for file in range(3,8):
    #leo fichero
    df_pers_sexo=pd.read_csv(dic_all_files['Pers'][file],delimiter=";",encoding="ISO-8859-1",dtype={'ID_ACCIDENTE': object})
    #Para sexo desconocido relleno aleatoriamente con 1 o 2
    df_pers_sexo[df_pers_sexo['SEXO']==999]=np.random.randint(1,2)

    #selecciono las personas que son conductores ('ID_PERSONA'=1) y los a√±os desconocidos (9999) que quiero sutituir
    pers_grp=df_pers_sexo[(df_pers_sexo['ID_PERSONA']==1) & (df_pers_sexo['ANIO_PERMISO']!=9999)].groupby(['EDAD','SEXO'],as_index=False)['ANIO_PERMISO'].agg({'NUM_CONDUCTORES':'count','MEDIA_ANTIG_CARNET':'mean'})
    #conversion de a entero
    pers_grp['MEDIA_ANTIG_CARNET']=pers_grp['MEDIA_ANTIG_CARNET'].round(0)
    pers_grp['MEDIA_ANTIG_CARNET']=pers_grp['MEDIA_ANTIG_CARNET'].astype(int)

    #cruzo el df original por edad y sexo con el df con las medias
    merged=pd.merge(df_pers_sexo, pers_grp, how='left',on=['EDAD','SEXO'],suffixes=['_left', '_right'])
    merged.head()

    #1. sutituyo los 1 por V y los 2 por H
    merged.ix[(merged['SEXO']==1), 'SEXO'] ='V'
    merged.ix[(merged['SEXO']==2), 'SEXO'] ='M'
    #2. sustituyo los valores de a√±os de permisos deconocidos
    merged.ix[((merged['ANIO_PERMISO']==9999) | (merged['ANIO_PERMISO']==0.0)) & (df_pers_sexo['ID_PERSONA']==1), 'ANIO_PERMISO'] =merged['MEDIA_ANTIG_CARNET']
    merged.head()
    #elimino del df las columnas con el numeor de conductores y la media de a√±o de carnet
    merged.drop(['NUM_CONDUCTORES','MEDIA_ANTIG_CARNET'], axis=1, inplace=True)

    #si hubiese algun a√±o NULL, lo relleno a 0.0
    merged['ANIO_PERMISO'].fillna(0.0,inplace=True)
    merged['ANIO_PERMISO']=merged['ANIO_PERMISO'].astype(int)

    #existen errores en los a√±os de permiso, para conductores tenemos valores 0,1 y 999
    #muestro los diferentes valores de a√±o de permiso
    pd.value_counts(merged['ANIO_PERMISO'])
    #elimino esos registros
    merged=merged[(merged['ANIO_PERMISO'].isin([0,1,999])) & merged['ID_PERSONA']!=1]
    #Antes de guarda cada fichero, sustituyo los 999 por la mediana en cada columna
    for col in merged.columns:
        if merged[col].dtype !='O':
            merged.ix[(merged[col]==999), col]=merged[col][merged[col]!=999].median()
    #guardo el fichero    
    merged.to_csv(dic_all_files['Pers'][file],index=False,sep=";",encoding="ISO-8859-1")
    print("MODFICADO ----- "+dic_all_files['Pers'][file])


#Genero la vista con los datos de todos los a√±os
df_all_years=pd.DataFrame(index=None, columns=dic_all_headers['Pers'])

#Cargo de nuevo ya que he modificado las tablas que componen la vista y la genero de nuevo
#sustituyo en todos los a√±os los valores 999 por la mediana
for file in dic_all_files['Pers']:
    df_pers=pd.read_csv(file,delimiter=';',usecols=dic_all_headers['Pers'],encoding="ISO-8859-1",dtype={'ID_ACCIDENTE': object})
    #relleno los nulos con 999
    df_pers.fillna(999,inplace=True)
    
    for col in df_pers.columns:
        if df_pers[col].dtype !='O' and col != 'ANIO_PERMISO':
            df_pers.ix[(df_pers[col]==999), col]=df_pers[col][df_pers[col]!=999].median()
            
    #Acumulo los datos en un dataframe con todos los a√±os       
    df_all_years=pd.concat([df_all_years,df_pers],ignore_index=True)
    #Grabo el fichero fuente con las modificaciones
    df_pers.to_csv(file,index=False,sep=";",encoding="ISO-8859-1")


#Convierto tambien los numericos de la vista tipo float a enteros
#Compruebo que me ha sustituido correctamente los 999 por la mediana.
for col in df_all_years.columns:
    if df_all_years[col].dtype !='O':
        df_all_years[col]=df_all_years[col].astype(int)
    df_all_years[col].value_counts(dropna=False)


            
print("CREADA VISTA CON DATOS DE PERSONAS DE 2008 A 2015")
df_all_years.to_csv("./cleaned/view_pers_08_15.csv",index=False,sep=";",encoding="ISO-8859-1")

### ESTAS SON LA COLUMNAS FINALES DE LOS 3 DATASETS

In [24]:
Header_Pers=Header_Pers[Header_Pers['Pers_2008']==Header_Pers['Pers_2015']]
Header_Pers=Header_Pers['Pers_2008'].tolist()
dic_all_headers={'Pers':Header_Pers}
dic_all_headers


#Modifico el sexo y el a√±o de permiso en los ficheros de los a√±os 2011 a 2015

for file in range(3,8):
    #leo fichero
    df_pers_sexo=pd.read_csv(dic_all_files['Pers'][file],delimiter=";",encoding="ISO-8859-1",dtype={'ID_ACCIDENTE': object})
    df_pers_sexo.fillna(999,inplace=True)
    #1. sutituyo los 1 por V y los 2 por H
    df_pers_sexo.ix[(df_pers_sexo['SEXO']==1), 'SEXO'] ='V'
    df_pers_sexo.ix[(df_pers_sexo['SEXO']==2), 'SEXO'] ='M'
    
    for col in df_pers_sexo.columns:
        if df_pers_sexo[col].dtype !='O':
            df_pers_sexo[col]=df_pers_sexo[col].astype(int)
   
    #guardo el fichero    
    df_pers_sexo.to_csv(dic_all_files['Pers'][file],index=False,sep=";",encoding="ISO-8859-1")
    print("MODFICADO ----- "+dic_all_files['Pers'][file])


#Genero la vista con los datos de todos los a√±os
df_all_years=pd.DataFrame(index=None, columns=dic_all_headers['Pers'])

#Cargo de nuevo ya que he modificado las tablas que componen la vista y la genero de nuevo
#sustituyo en todos los a√±os los valores 999 por la mediana
for file in dic_all_files['Pers']:
    df_pers=pd.read_csv(file,delimiter=';',usecols=dic_all_headers['Pers'],encoding="ISO-8859-1",dtype={'ID_ACCIDENTE': object})
    #relleno los nulos con 999
    df_pers.fillna(999,inplace=True)
    #Modifico los valores desconocidos para todos los ficheros, excepto para la columna a√±o de permiso
    for col in df_pers.columns:
        if df_pers[col].dtype !='O':
            #convierto la columna a entero
            df_pers[col]=df_pers[col].astype(int)
            #Sustituyo los valores de a√±os de permisos deconocidos
            if col == 'ANIO_PERMISO':
                    df_pers.ix[((df_pers[col]==9999) | (df_pers[col]==0.0)) & (df_pers['ID_PERSONA']==1), col]=df_pers[col][(df_pers['ID_PERSONA']==1) & (df_pers[col]!=9999)].median()
            else:
                df_pers.ix[(df_pers[col]==999), col]=df_pers[col][df_pers[col]!=999].median()
            
    #Acumulo los datos en un dataframe con todos los a√±os       
    df_all_years=pd.concat([df_all_years,df_pers],ignore_index=True)
    #Grabo el fichero fuente con las modificaciones
    df_pers.to_csv(file,index=False,sep=";",encoding="ISO-8859-1")


#Convierto tambien los numericos de la vista tipo float a enteros
#Compruebo que me ha sustituido correctamente los 999 por la mediana.
for col in df_all_years.columns:
    if df_all_years[col].dtype !='O':
        df_all_years[col]=df_all_years[col].astype(int)
        df_all_years[col].value_counts(dropna=False)


            
print("CREADA VISTA CON DATOS DE PERSONAS DE 2008 A 2015")
df_all_years.to_csv("./cleaned/view_pers_08_15.csv",index=False,sep=";",encoding="ISO-8859-1")

{'Pers': ['ID_ACCIDENTE',
  'ID_VEHICULO',
  'ID_PERSONA',
  'ID_CONDUCTOR',
  'ID_PASAJERO',
  'ID_PEATON',
  'EDAD',
  'ANIO_PERMISO',
  'MANIOBRAS',
  'INFRACC_VELOCIDAD',
  'INFRACC_PEATON',
  'ANIO']}

MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2011/TABLA_PERS_2011.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2012/TABLA_PERS_2012.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2013/TABLA_PERS_2013.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2014/TABLA_PERS_2014.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2015/TABLA_PERS_2015.csv

1     1042224
2      573607
3       78297
4       19402
5        5733
6        2203
7        1023
8         503
9         269
10        188
11        149
13        102
12         99
14         67
16         60
15         54
19         50
20         48
21         46
43         44
22         44
18         42
27         38
23         37
17         37
24         29
25         29
26         26
38         23
31         22
       ...
91          1
82          1
75          1
76          1
81          1
83          1
84          1
85          1
73          1
87          1
88          1
89          1
92          1
69          1
71          1
70          1
68          1
67          1
66          1
65          1
64          1
63          1
62          1
61          1
60          1
59          1
58          1
57          1
56          1
93          1
Name: ID_VEHICULO, dtype: int64

1    1214662
2     412117
3      97957
Name: ID_PERSONA, dtype: int64

1     1355332
2      312839
3       40573
4       10100
5        2939
6        1145
7         538
8         287
9         168
10        109
11         81
12         63
13         47
14         41
16         33
15         32
18         26
19         25
20         25
21         23
17         22
27         22
22         21
23         19
24         15
25         13
26         13
28         12
29         11
30         10
       ...
79          1
80          1
81          1
82          1
83          1
84          1
85          1
86          1
87          1
88          1
89          1
74          1
73          1
72          1
63          1
57          1
58          1
59          1
60          1
61          1
62          1
64          1
71          1
65          1
66          1
67          1
68          1
69          1
70          1
0           1
Name: ID_CONDUCTOR, dtype: int64

1      1554820
2        89740
3        41701
4        18324
5         7140
6         3692
7         2043
8         1211
9          753
10         544
11         427
12         357
13         310
14         268
15         243
16         220
17         203
18         189
19         172
20         157
21         149
22         136
23         125
24         119
25         111
26         104
27          94
28          88
29          85
30          82
        ...
91           1
92           1
93           1
94           1
95           1
103          1
97           1
98           1
99           1
100          1
101          1
102          1
88           1
89           1
78           1
87           1
86           1
85           1
84           1
83           1
82           1
81           1
80           1
79           1
77           1
76           1
75           1
74           1
73           1
104          1
Name: ID_PASAJERO, dtype: int64

1     1716443
2        6889
3         958
4         244
5          83
6          34
7          18
8           6
10          5
12          5
11          5
9           5
13          3
14          3
15          3
16          3
17          2
43          1
18          1
19          1
20          1
21          1
44          1
23          1
34          1
42          1
41          1
40          1
39          1
38          1
37          1
36          1
35          1
33          1
24          1
32          1
31          1
30          1
29          1
28          1
27          1
26          1
25          1
22          1
Name: ID_PEATON, dtype: int64

34     73503
37     61966
35     55145
38     53720
36     53699
32     40355
30     39945
31     39914
33     39668
29     39315
28     39230
27     38822
25     38365
26     38227
23     38213
22     37942
24     37708
21     37395
20     36671
39     35270
40     34532
41     33177
19     32505
42     32293
43     31199
44     29672
45     29226
46     28092
47     27014
48     26459
       ...
4       4395
3       4276
2       3975
81      3867
82      3597
1       3533
83      2974
84      2618
0       2481
85      2132
86      1704
87      1387
88      1073
89       846
99       746
90       610
91       454
92       304
93       227
94       151
95       101
96        74
97        47
98        35
109       10
100        6
110        2
102        1
104        1
106        1
Name: EDAD, dtype: int64

999     350562
2000    239077
9999    159512
1999    127841
2001     68819
2008     51658
2007     50334
2006     43806
2005     35843
2009     34474
2004     33494
2003     26726
2010     26661
2002     22856
1996     21422
2011     20960
1997     20250
1995     19586
1992     19529
1993     18404
1994     18299
1990     17824
1991     17722
1989     17486
1998     17134
1988     16103
2012     15526
1987     15094
1986     12930
2013     11762
         ...
1963      2484
1962      1879
1961      1235
1960       941
1959       777
1958       644
1957       564
1956       402
1955       235
1954       210
1953       155
1952        98
1951        90
1950        68
1949        48
1947        31
1948        28
1945        22
1946        16
1920        10
1944         9
1943         8
1942         6
1941         4
1935         2
1940         2
1939         1
1934         1
1930         1
1927         1
Name: ANIO_PERMISO, dtype: int64

1     468748
52    276890
21    220281
22    169912
72    135879
12     94962
15     77230
16     74998
71     27395
51     25886
3      24421
11     18451
2      12843
77     11172
0       8077
41      7491
43      7381
19      7090
23      7016
20      6090
24      5915
17      5396
31      4375
18      4215
13      3546
5       3312
61      2137
25      1794
6       1792
14      1765
29      1723
7       1588
8       1269
42       967
30       716
4        609
9        593
26       509
10       179
27       123
Name: MANIOBRAS, dtype: int64

3    857098
4    644167
1     85123
5     82347
0     50616
2      5385
Name: INFRACC_VELOCIDAD, dtype: int64

2    1063576
9     628042
1      15548
4       6812
0       5197
3       2493
8       2267
5        652
6         92
7         57
Name: INFRACC_PEATON, dtype: int64

2015    238476
2008    223461
2014    222722
2013    219061
2009    212510
2010    206498
2012    202804
2011    199204
Name: ANIO, dtype: int64

CREADA VISTA CON DATOS DE PERSONAS DE 2008 A 2015

In [ ]:
df_pers_sexo=pd.read_csv(dic_all_files['Pers'][3],delimiter=";",encoding="ISO-8859-1",dtype={'ID_ACCIDENTE': object})
df_pers_sexo.fillna(0,inplace=True)
df_pers_sexo[(df_pers_sexo['ID_PERSONA']==1) & (df_pers_sexo['ANIO_PERMISO']!=9999.0)].median()
df_pers

### -------------------------------------------------------------------------------------------------------
### PROCEDO A CARGAR EN DATAFRAMES DE CADA UNO DE LOS FICHEROS DEL DICCIONARIO
### -------------------------------------------------------------------------------------------------------

In [ ]:
import sqlite3 
import pandas as pd
with sqlite3.connect("./cleaned/jj.db") as con:
    df = pd.read_csv('./cleaned/view_vehic_08_15.csv',delimiter=";",encoding="ISO-8859-1")
    c = con.cursor()
    c.executescript('''
    CREATE TABLE f (
    ID_ACCIDENTE INTEGER,
    ID_VEHICULO INTEGER,
    ANIO_MATRICULA_VEHICULO INTEGER,
    MES_MATRICULA_VEHICULO INTEGER,
    TIPO_VEHICULO INTEGER,
    NUMERO_OCUPANTES_VEH INTEGER,
    ANIO INTEGER)''')
  
    df.to_sql('f', con, index=False,schema=False)
    con.commit

In [ ]:
import sqlite3
with sqlite3.connect("./cleaned/datos_dgt.db") as con:
    c = con.cursor()
    c.executescript(
    "CREATE TABLE Direcciones (calle TEXT, cp NUMERIC);"
    "INSERT INTO Direcciones VALUES ('Calle 1', 1644);"
    "INSERT INTO Direcciones VALUES ('Calle 2', 7594);"
    )
    c.executescript(
    "CREATE TABLE vehic;"
    )
    df = pandas.read_csv('./cleaned/view_vehic_08_15.csv',delimiter=";",encoding="ISO-8859-1")
    df.to_sql(vehic, con, index=False)
    con.commit
c.close

In [ ]:
#guardo las claves de cada tipo de fichero
list_keys_dic=dic_all_files.keys()
list_keys_dic
#Actualizo el diccionario con la rutas a los ficheros de trabajo
dic_all_files['Accvict'].append('./cleaned/view_accvict_08_15.csv')
dic_all_files['Pers'].append('./cleaned/view_pers_08_15.csv')
dic_all_files['Vehic'].append('./cleaned/view_vehic_08_15.csv')
dic_all_files

In [ ]:
dic_all_files['Accvict'][8]

In [ ]:
#Creo un dataframe vacio para posteriormente rellenarlo con los a√±os 2001 al 2015
#Recorriendo por cada key los n values del diccionario

dic_total={}
df_total=pd.DataFrame()

for key in list_keys_dic:
    print ("#### "+key+" ####")
    for file in dic_all_files[key]:
        #meto en df cada file quedandome solo con las columnas seleccionadas anteriormente
        df_year=pd.read_csv(file,delimiter=";",encoding="ISO-8859-1",usecols=dic_all_headers[key])
        df_year=df_year.fillna(0)
        print("Cargando fichero-->"+file+"\n\t"+"Registros= "+str(df_year.shape[0])+"\n\t"+"Columnas= "+str(df_year.shape[1]))
        #df_total=df_total.append(df_year)
        df_total=pd.concat([df_total,df_year],ignore_index=True)
    dic_total[key] = df_total
print ("\n\t\t"+"##### CARGADOS EN DF_TOTAL TODOS LOS PERIODOS ########"+"\t\t")
df_total.shape

#### AHORA TENGO DE DATA FRAMES CON TODOS LOS A√ëOS DESDE 2008 HASTA 2015

In [ ]:
##para categorizar
#dic_total['Accvict']['HORA']=dic_total['Accvict']['HORA'].astype('category')
#dic_total['Accvict']['HORA'].describe()
#este funciona
dic_total['Accvict']['HORA']= pd.Series(pd.Categorical(dic_total['Accvict']['HORA'], categories=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]))
dic_total['Accvict']['HORA'].cat.rename_categories(['0','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23'])
dic_total['Accvict']['HORA'].cat.codes

In [ ]:
#Extraigo los datos cuantitativos de victimas por
# 1. A√±o-mes-dia de la semana
# 2. Localizacion geografica

accvict_geo=pd.get_dummies(dic_total['Accvict'], prefix=['CA','PROV'], columns=['COMUNIDAD_AUTONOMA','PROVINCIA'])

In [ ]:
dic_total['Accvict']

In [ ]:
df = pd.DataFrame({'A': ['x', 'y', 'x'], 'B': ['z', 'u', 'z'],
                  'C': [1,2,3],
                  'D':['j', 'l', 'j']})

In [ ]:
df

In [ ]:
df_1= pd.get_dummies(df)
df_1

In [ ]:
df_2=pd.get_dummies(df, prefix=['DDDD','DDD','D'], columns=['A','B','C'])
df_2

In [ ]:
  df_year=pd.read_csv(files_list[file],delimiter=";",encoding="ISO-8859-1",converters={'COD_MUNICIPIO': str, 'MUNICIPIO': str})


### LECTURA DE LOS DATASET DE VEHICULOS PARA LOS A√ëOS 2011-2015

In [ ]:
df_year.shape[0]

In [ ]:
#Creo un dataframe vacio para posteriormente rellenarlo con los a√±os 2001 al 2015
df_accvict_08_15 = pd.DataFrame()
dict={}
for key in list_keys_dic:
    for file in range(0,len(files_list)):
        df_year=pd.read_csv(files_list[file],delimiter=";",encoding="ISO-8859-1")
        df_year.fillna(0)
        dict[tipology]=files_list[file]
        print("Cargando fichero-->"+files_list[file]+"\n\t"+"Registros= "+str(df_year.shape[0])+"\n\t"+"Columnas= "+str(df_year.shape[1]))
        if tipology=='list_accvict'
        %(tipology)+_08_15=df_accvict_08_15.append(df_year)

In [ ]:
j=df_accvict_08_15.groupby(['ANIO']).size()

In [ ]:
type(j)

In [ ]:
df_accvict_08_15.groupby(['ANIO']).agg(['mean', 'count'])

In [ ]:
print(df_accvict_08_15.head())
#df1=df[['ANIO','TOT_VICTIMAS']]

In [ ]:
dict

In [ ]:
threedee.scatter(df.ANIO, df["TOT_MUERTOS"], df['Volume'])