#### IMPORTO LIBRERIAS ####

In [338]:
import pandas as pd
import numpy as np
from sklearn import linear_model

#configuro notebook para mostrar varios salidas en la misma celda
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
#amplio el output de columnas a 500
pd.set_option('display.max_columns', 500)

!pwd
!ls -l

/Users/mac/Documents/MASTER_DATA_SCIENCE/tfm
total 265352
-rw-r--r--   1 mac  staff    221629 12 jun 01:55 Analisis_DGT.ipynb
-rw-r--r--   1 mac  staff    104803 15 abr 11:08 TFM_DGT-pruebas.ipynb
-rw-r--r--   1 mac  staff    220491 12 jun 01:57 TFM_DGT.ipynb
-rw-r--r--   1 mac  staff  33726464 31 may 22:31 aa.db
drwxr-xr-x  21 mac  staff       714 31 may 22:43 cleaned
-rw-r--r--   1 mac  staff  33726464 31 may 14:35 data.db
-rw-r--r--   1 mac  staff      8192 31 may 13:43 datos_dgt.db
-rw-r--r--   1 mac  staff         0 23 may 22:42 gg
-rw-r--r--   1 mac  staff  67846144 31 may 22:27 jj.db
drwxr-xr-x   5 mac  staff       170 30 mar 23:28 metadata
drwxr-xr-x  11 mac  staff       374 30 mar 23:28 raw
drwxr-xr-x  15 mac  staff       510 12 jun 01:57 raw_zip

### CONSERVO LOS DATOS ORIGINALES EN LA CARPETA RAW. LOS FICHEROS DE TRABAJO ESTAN EN LA CARPETA CLEANED

In [339]:
!ls -l
!cp -r raw/* cleaned/

total 265352
-rw-r--r--   1 mac  staff    221629 12 jun 01:55 Analisis_DGT.ipynb
-rw-r--r--   1 mac  staff    104803 15 abr 11:08 TFM_DGT-pruebas.ipynb
-rw-r--r--   1 mac  staff    220491 12 jun 01:57 TFM_DGT.ipynb
-rw-r--r--   1 mac  staff  33726464 31 may 22:31 aa.db
drwxr-xr-x  21 mac  staff       714 31 may 22:43 cleaned
-rw-r--r--   1 mac  staff  33726464 31 may 14:35 data.db
-rw-r--r--   1 mac  staff      8192 31 may 13:43 datos_dgt.db
-rw-r--r--   1 mac  staff         0 23 may 22:42 gg
-rw-r--r--   1 mac  staff  67846144 31 may 22:27 jj.db
drwxr-xr-x   5 mac  staff       170 30 mar 23:28 metadata
drwxr-xr-x  11 mac  staff       374 30 mar 23:28 raw
drwxr-xr-x  15 mac  staff       510 12 jun 01:57 raw_zip

### GUARDO UN LISTADO POR TIPOLOGIA DE FICHERO, PARA POSTERIORMENTE ALMACENARLO EN UN DICCIONARIO ###

In [340]:
accvict=!ls ./cleaned/MICRODATOS_ACC_VICT_20*/TABLA_ACCVICT_*.csv
pers=!ls ./cleaned/MICRODATOS_ACC_VICT_20*/TABLA_PERS_*.csv
vehic=!ls ./cleaned/MICRODATOS_ACC_VICT_20*/TABLA_VEHIC_*.csv
dic_all_files={'Accvict':accvict,'Pers':pers,'Vehic':vehic}
len(dic_all_files)

3

#### RUTAS DE TODOS LOS FICHEROS ####

In [341]:
dic_all_files

{'Accvict': ['./cleaned/MICRODATOS_ACC_VICT_2008/TABLA_ACCVICT_24H_2008.csv',
  './cleaned/MICRODATOS_ACC_VICT_2009/TABLA_ACCVICT_24H_2009.csv',
  './cleaned/MICRODATOS_ACC_VICT_2010/TABLA_ACCVICT_24H_2010.csv',
  './cleaned/MICRODATOS_ACC_VICT_2011/TABLA_ACCVICT_2011.csv',
  './cleaned/MICRODATOS_ACC_VICT_2012/TABLA_ACCVICT_2012.csv',
  './cleaned/MICRODATOS_ACC_VICT_2013/TABLA_ACCVICT_2013.csv',
  './cleaned/MICRODATOS_ACC_VICT_2014/TABLA_ACCVICT_2014.csv',
  './cleaned/MICRODATOS_ACC_VICT_2015/TABLA_ACCVICT_2015.csv'],
 'Pers': ['./cleaned/MICRODATOS_ACC_VICT_2008/TABLA_PERS_24H_2008.csv',
  './cleaned/MICRODATOS_ACC_VICT_2009/TABLA_PERS_24H_2009.csv',
  './cleaned/MICRODATOS_ACC_VICT_2010/TABLA_PERS_24H_2010.csv',
  './cleaned/MICRODATOS_ACC_VICT_2011/TABLA_PERS_2011.csv',
  './cleaned/MICRODATOS_ACC_VICT_2012/TABLA_PERS_2012.csv',
  './cleaned/MICRODATOS_ACC_VICT_2013/TABLA_PERS_2013.csv',
  './cleaned/MICRODATOS_ACC_VICT_2014/TABLA_PERS_2014.csv',
  './cleaned/MICRODATOS_ACC_VICT_2015/TABLA_PERS_2015.csv'],
 'Vehic': ['./cleaned/MICRODATOS_ACC_VICT_2008/TABLA_VEHIC_24H_2008.csv',
  './cleaned/MICRODATOS_ACC_VICT_2009/TABLA_VEHIC_24H_2009.csv',
  './cleaned/MICRODATOS_ACC_VICT_2010/TABLA_VEHIC_24H_2010.csv',
  './cleaned/MICRODATOS_ACC_VICT_2011/TABLA_VEHIC_2011.csv',
  './cleaned/MICRODATOS_ACC_VICT_2012/TABLA_VEHIC_2012.csv',
  './cleaned/MICRODATOS_ACC_VICT_2013/TABLA_VEHIC_2013.csv',
  './cleaned/MICRODATOS_ACC_VICT_2014/TABLA_VEHIC_2014.csv',
  './cleaned/MICRODATOS_ACC_VICT_2015/TABLA_VEHIC_2015.csv']}

### Ahora que los datos estan trazados, procedemos a realizar una observacion preliminar para comprobar si hay homgeneidad en los datos, y si disponemos de la misma informacion en cada data set, ya que segun la DGT, las extructuras de los datos cambian a partir del 2011 en hasta el 2015.

### Por los que tenemos dos grupos de datos:

### Tipo 1) 2008-2010
### Tipo 2) 2011-2015

### Recorro cada clave - para obtener las cabeceras y poder comparar que campos tengo en cada a√±o por tipo de fichero, e introduzco los data frames en una lista.

In [342]:
dic_all_files.keys()

dict_keys(['Accvict', 'Pers', 'Vehic'])

In [343]:
#Creo una lista con las cabeceras de los ficheros
Headers_List=[]
for key in dic_all_files.keys():
    df_2008=pd.read_csv(dic_all_files[key][0],delimiter=';',nrows=0,encoding="ISO-8859-1")
    df_2008=df_2008.transpose()
    df_2008.reset_index(inplace=True)
    df_2008.columns=[key+'_2008']

    df_2015=pd.read_csv(dic_all_files[key][7],delimiter=';',nrows=0,encoding="ISO-8859-1")
    df_2015=df_2015.transpose()
    df_2015.reset_index(inplace=True)
    df_2015.columns=[key+'_2015']
        
    Headers_List.append(df_2008.merge(df_2015, left_on=key+'_2008', right_on=key+'_2015', how='outer'))

### --------------------------------------------------------------------------------------------------

## REVISION DE LOS TRES TIPOS DE DATA SETS

### SE DISPONE DE TRES TIPOS DE DATASETS:

#### 1. ACCIDENTES
#### 2. PERSONAS
#### 3 .VEHICULOS

#### COMO PRIMER PASO VOY A REVISAR TANTO ESTRUCTURA, PARA DECIDIR QUE VARIABLES MANTENDRE PARA EL ANALISIS POSTERIOR. PROCEDERE A MODIFICAR LOS DATASET DE LA CARPETA "./CLEANED" ANTES DE REALIZAR LA CARGA PARA EN ANALISIS.

### --------------------------------------------------------------------------------------------------

###   1. ACCIDENTES

In [344]:
#Cabecera del fichero de Accidentes_victimas
Header_Accvict=Headers_List[0]
Header_Accvict

                Accvict_2008              Accvict_2015
0               ID_ACCIDENTE              ID_ACCIDENTE
1                       ANIO                      ANIO
2                        MES                       MES
3                       HORA                      HORA
4                  DIASEMANA                 DIASEMANA
5                  PROVINCIA                 PROVINCIA
6         COMUNIDAD_AUTONOMA        COMUNIDAD_AUTONOMA
7                       ISLA                      ISLA
8                  MUNICIPIO                 MUNICIPIO
9               TOT_VICTIMAS              TOT_VICTIMAS
10               TOT_MUERTOS               TOT_MUERTOS
11        TOT_HERIDOS_GRAVES        TOT_HERIDOS_GRAVES
12         TOT_HERIDOS_LEVES         TOT_HERIDOS_LEVES
13  TOT_VEHICULOS_IMPLICADOS  TOT_VEHICULOS_IMPLICADOS
14                      ZONA                      ZONA
15             ZONA_AGRUPADA             ZONA_AGRUPADA
16                 CARRETERA                 CARRETERA
17             RED_CARRETERA             RED_CARRETERA
18                  TIPO_VIA                  TIPO_VIA
19       TRAZADO_NO_INTERSEC       TRAZADO_NO_INTERSEC
20             TIPO_INTERSEC             TIPO_INTERSEC
21             ACOND_CALZADA                       NaN
22                 PRIORIDAD                       NaN
23        SUPERFICIE_CALZADA        SUPERFICIE_CALZADA
24               LUMINOSIDAD               LUMINOSIDAD
25     FACTORES_ATMOSFERICOS     FACTORES_ATMOSFERICOS
26   VISIBILIDAD_RESTRINGIDA   VISIBILIDAD_RESTRINGIDA
27        OTRA_CIRCUNSTANCIA                       NaN
28                    ACERAS                    ACERAS
29            TIPO_ACCIDENTE            TIPO_ACCIDENTE
30      DENSIDAD_CIRCULACION                       NaN
31        MEDIDAS_ESPECIALES                       NaN
32                       NaN             COD_MUNICIPIO
33                       NaN           TOT_VICTIMAS30D
34                       NaN            TOT_MUERTOS30D
35                       NaN     TOT_HERIDOS_GRAVES30D
36                       NaN      TOT_HERIDOS_LEVES30D
37                       NaN          PRIORIDAD_AGENTE
38                       NaN        PRIORIDAD_SEMAFORO
39                       NaN            PRIORIDAD_STOP
40                       NaN            PRIORIDAD_CEDA
41                       NaN          PRIORIDAD_MARCAS
42                       NaN            PRIORIDAD_PASO
43                       NaN            PRIORIDAD_OTRA

In [345]:
#mantengo solo las columnas que son iguales en los dos tipos de dataset

Header_Accvict=Header_Accvict[Header_Accvict['Accvict_2008']==Header_Accvict['Accvict_2015']]
Header_Accvict=Header_Accvict['Accvict_2008'].tolist()
dic_all_headers={'Accvict':Header_Accvict}
dic_all_headers

#Genero nuevo DF vacio con los nombres de columnas
df_all_years=pd.DataFrame(index=None, columns=dic_all_headers['Accvict'])

#Primero genero una vista con todos los datos para examinarlos
for file in dic_all_files['Accvict']:
    df_vict=pd.read_csv(file,delimiter=';',usecols=dic_all_headers['Accvict'],encoding="ISO-8859-1",dtype={'ID_ACCIDENTE': object})
    #relleno los nulos con 999
    df_vict.fillna(999,inplace=True)
    df_all_years=pd.concat([df_all_years,df_vict],ignore_index=True)


#muestreo los datos dde la vista
df_all_years.head(3)
df_all_years.tail(3)
df_all_years.sample(3)

#Decido descartar los siguientes campos, al no considerarlos relevantes o estar muy incompletos:
df_all_years.drop(['ISLA','MUNICIPIO','TIPO_INTERSEC','ACERAS','CARRETERA','TRAZADO_NO_INTERSEC'], axis=1, inplace=True)

#Actualizo mi diccionario con las cabeceras que utilizare en el proceso de carga
Header_Accvict=df_all_years.columns.tolist()
dic_all_headers={'Accvict':Header_Accvict}
dic_all_headers
#En el campo factores atmosfericos, como lo considero relevante
#y tengo 4787 valores desconocidos, englobo estos registros dentro de la categoria otros(9)

#Vacio el df de la vista, que contendra todos los a√±os
df_all_years=pd.DataFrame(index=None, columns=dic_all_headers['Accvict'])

for file in dic_all_files['Accvict']:
    df_acc=pd.read_csv(file,delimiter=";",usecols=dic_all_headers['Accvict'],encoding="ISO-8859-1",dtype={'ID_ACCIDENTE': object})
    df_acc.fillna(999,inplace=True)

    #factores atmosfericos desconocidos,tal y como cometo arriba van a otros
    df_acc.ix[(df_acc['FACTORES_ATMOSFERICOS']==999),'FACTORES_ATMOSFERICOS'] = 9
    #df_acc.ix[(df_vict['VISIBILIDAD_RESTRINGIDA']==999), 'VISIBILIDAD_RESTRINGIDA'] = df_all_years['VISIBILIDAD_RESTRINGIDA'][df_all_years['VISIBILIDAD_RESTRINGIDA']!=999].median()
    
    #Recorro todas las columnas del df, sustituyendo los known por la mediana del dato para tipos != objeto 'O'
    for col in df_acc.columns:
        if df_acc[col].dtype !='O':
            df_acc.ix[(df_acc[col]==999), col]=df_acc[col][df_acc[col]!=999].median()
            df_acc[col]=df_acc[col].astype(int)
        
    df_all_years=pd.concat([df_all_years,df_acc],ignore_index=True)
    df_acc.to_csv(file,index=False,sep=";",encoding="ISO-8859-1")
    print("MODFICADO ----- "+file)

#Convierto tambien los numericos de la vista tipo float a enteros
#Compruebo que me ha sustituido correctamente los 999 por la mediana.
for col in df_all_years.columns:
    if df_all_years[col].dtype !='O':
        df_all_years[col]=df_all_years[col].astype(int)
    df_all_years[col].value_counts(dropna=False)

df_all_years.to_csv("./cleaned/view_accvict_08_15.csv",index=False,sep=";",encoding="ISO-8859-1")
print("CREADA VISTA CON DATOS DE ACCIDENTES Y VISTIMAS DE 2008 A 2015")

########   FIN DEL PROCESAMIENTO DE LOS DATASET DE ACCIDENTES #########

{'Accvict': ['ID_ACCIDENTE',
  'ANIO',
  'MES',
  'HORA',
  'DIASEMANA',
  'PROVINCIA',
  'COMUNIDAD_AUTONOMA',
  'ISLA',
  'MUNICIPIO',
  'TOT_VICTIMAS',
  'TOT_MUERTOS',
  'TOT_HERIDOS_GRAVES',
  'TOT_HERIDOS_LEVES',
  'TOT_VEHICULOS_IMPLICADOS',
  'ZONA',
  'ZONA_AGRUPADA',
  'CARRETERA',
  'RED_CARRETERA',
  'TIPO_VIA',
  'TRAZADO_NO_INTERSEC',
  'TIPO_INTERSEC',
  'SUPERFICIE_CALZADA',
  'LUMINOSIDAD',
  'FACTORES_ATMOSFERICOS',
  'VISIBILIDAD_RESTRINGIDA',
  'ACERAS',
  'TIPO_ACCIDENTE']}

,ID_ACCIDENTE,ANIO,MES,HORA,DIASEMANA,PROVINCIA,COMUNIDAD_AUTONOMA,ISLA,MUNICIPIO,TOT_VICTIMAS,TOT_MUERTOS,TOT_HERIDOS_GRAVES,TOT_HERIDOS_LEVES,TOT_VEHICULOS_IMPLICADOS,ZONA,ZONA_AGRUPADA,CARRETERA,RED_CARRETERA,TIPO_VIA,TRAZADO_NO_INTERSEC,TIPO_INTERSEC,SUPERFICIE_CALZADA,LUMINOSIDAD,FACTORES_ATMOSFERICOS,VISIBILIDAD_RESTRINGIDA,ACERAS,TIPO_ACCIDENTE
0,2008480000372,2008.0,4.0,7.0,5.0,48.0,17.0,999.0,999.0,4.0,0.0,0.0,4.0,1.0,1.0,1.0,BI-631,3.0,2.0,1.0,999.0,2.0,3.0,1.0,8.0,N,71.0
1,2008250021218,2008.0,3.0,14.0,7.0,25.0,9.0,999.0,999.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,C-12,2.0,5.0,2.0,999.0,1.0,1.0,9.0,8.0,N,22.0
2,2008430024095,2008.0,10.0,12.0,7.0,43.0,9.0,999.0,999.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,TV-7331,4.0,5.0,1.0,999.0,1.0,1.0,1.0,0.0,N,68.0

,ID_ACCIDENTE,ANIO,MES,HORA,DIASEMANA,PROVINCIA,COMUNIDAD_AUTONOMA,ISLA,MUNICIPIO,TOT_VICTIMAS,TOT_MUERTOS,TOT_HERIDOS_GRAVES,TOT_HERIDOS_LEVES,TOT_VEHICULOS_IMPLICADOS,ZONA,ZONA_AGRUPADA,CARRETERA,RED_CARRETERA,TIPO_VIA,TRAZADO_NO_INTERSEC,TIPO_INTERSEC,SUPERFICIE_CALZADA,LUMINOSIDAD,FACTORES_ATMOSFERICOS,VISIBILIDAD_RESTRINGIDA,ACERAS,TIPO_ACCIDENTE
711899,2016990000875,2015.0,12.0,11.0,4.0,28.0,13.0,999.0,28079.0,2.0,0.0,0.0,2.0,2.0,2.0,2.0,999,4.0,8.0,999.0,2.0,3.0,1.0,4.0,999.0,998,2.0
711900,2016990000876,2015.0,12.0,13.0,2.0,28.0,13.0,999.0,28079.0,1.0,0.0,0.0,1.0,1.0,2.0,2.0,999,4.0,8.0,1.0,999.0,1.0,1.0,1.0,999.0,999,7.0
711901,2016990001660,2015.0,11.0,15.0,1.0,28.0,13.0,999.0,28079.0,1.0,0.0,0.0,1.0,2.0,2.0,2.0,999,4.0,8.0,999.0,2.0,1.0,1.0,1.0,999.0,998,2.0

,ID_ACCIDENTE,ANIO,MES,HORA,DIASEMANA,PROVINCIA,COMUNIDAD_AUTONOMA,ISLA,MUNICIPIO,TOT_VICTIMAS,TOT_MUERTOS,TOT_HERIDOS_GRAVES,TOT_HERIDOS_LEVES,TOT_VEHICULOS_IMPLICADOS,ZONA,ZONA_AGRUPADA,CARRETERA,RED_CARRETERA,TIPO_VIA,TRAZADO_NO_INTERSEC,TIPO_INTERSEC,SUPERFICIE_CALZADA,LUMINOSIDAD,FACTORES_ATMOSFERICOS,VISIBILIDAD_RESTRINGIDA,ACERAS,TIPO_ACCIDENTE
418350,2012480000817,2012.0,10.0,9.0,1.0,48.0,16.0,999.0,999.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,A-8,5.0,7.0,2.0,999.0,3.0,1.0,4.0,1.0,998,19.0
357933,2012080001091,2012.0,1.0,15.0,2.0,8.0,9.0,999.0,8019.0,1.0,0.0,0.0,1.0,2.0,2.0,2.0,999,4.0,8.0,999.0,2.0,1.0,1.0,1.0,999.0,998,4.0
382601,2012170018821,2012.0,6.0,18.0,2.0,17.0,9.0,999.0,17117.0,1.0,0.0,0.0,1.0,2.0,2.0,2.0,999,4.0,8.0,999.0,2.0,3.0,1.0,4.0,999.0,998,2.0

{'Accvict': ['ID_ACCIDENTE',
  'ANIO',
  'MES',
  'HORA',
  'DIASEMANA',
  'PROVINCIA',
  'COMUNIDAD_AUTONOMA',
  'TOT_VICTIMAS',
  'TOT_MUERTOS',
  'TOT_HERIDOS_GRAVES',
  'TOT_HERIDOS_LEVES',
  'TOT_VEHICULOS_IMPLICADOS',
  'ZONA',
  'ZONA_AGRUPADA',
  'RED_CARRETERA',
  'TIPO_VIA',
  'SUPERFICIE_CALZADA',
  'LUMINOSIDAD',
  'FACTORES_ATMOSFERICOS',
  'VISIBILIDAD_RESTRINGIDA',
  'TIPO_ACCIDENTE']}

MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2008/TABLA_ACCVICT_24H_2008.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2009/TABLA_ACCVICT_24H_2009.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2010/TABLA_ACCVICT_24H_2010.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2011/TABLA_ACCVICT_2011.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2012/TABLA_ACCVICT_2012.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2013/TABLA_ACCVICT_2013.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2014/TABLA_ACCVICT_2014.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2015/TABLA_ACCVICT_2015.csv

2009080000000      18364
2010080000000      18107
2009990000000       9085
2010990000000       8946
2010280000000       5044
2009460000000       4597
2009280000000       4410
2010460000000       4404
2010410000000       3223
2010110000000       2994
2009110000000       2730
2009170000000       2727
2009410000000       2636
2010170000000       2603
2010070000000       2438
2009430000000       2292
2009480000000       2216
2010430000000       2126
2009290000000       2106
2010480000000       2093
2009200000000       1974
2010360000000       1934
2010290000000       1933
2009330000000       1922
2009360000000       1878
2010330000000       1823
2009500000000       1796
2010200000000       1760
2009030000000       1729
2010030000000       1687
                   ...
201546250001675        1
201528058000341        1
2011080014276          1
2008400001053          1
2015080012732          1
201403903000018        1
2011080010964          1
2011990011973          1
201403043000012        1
2013260001983          1
2008290001259          1
2012430021867          1
201429069002107        1
201407040001294        1
2013070102376          1
201435028000091        1
2008250021608          1
201446250000609        1
2015990000128          1
2014170019372          1
2012080003307          1
201515076000017        1
2008140000671          1
201428007000137        1
2012080012655          1
2014080006014          1
2012110000723          1
2013110002863          1
2013360002085          1
201524159000005        1
Name: ID_ACCIDENTE, dtype: int64

2015    97756
2008    93161
2014    91570
2013    89519
2009    88251
2010    85503
2012    83115
2011    83027
Name: ANIO, dtype: int64

7     65542
6     62857
10    62465
5     61810
9     59530
11    59326
3     59080
12    57504
4     57120
8     56571
1     56326
2     53771
Name: MES, dtype: int64

14    50900
13    49985
19    47913
12    45912
18    45647
20    42737
15    42392
17    42003
11    39866
16    38648
9     38555
10    35469
8     34384
21    33464
22    25598
7     21813
23    17903
6     12540
0     10137
1      9118
5      7575
2      7009
3      6312
4      6022
Name: HORA, dtype: int64

5    115329
4    105408
1    105110
3    104661
2    104199
6     94620
7     82575
Name: DIASEMANA, dtype: int64

8     146569
28    113936
46     36233
41     26901
11     21723
7      20464
17     19579
29     19411
3      17788
33     16718
43     16622
48     16022
20     14863
36     14804
50     13253
38     11792
18     11634
25      9703
14      9100
15      8816
45      7480
30      7141
35      6996
23      6982
6       6864
24      6857
9       6532
1       6407
4       6265
39      6148
12      6133
47      5534
26      5337
21      5316
37      5249
13      4808
2       4418
10      4303
52      4035
27      3716
5       3593
22      3523
31      3360
16      3256
32      2618
34      2493
40      2436
19      2204
51      1564
49      1473
42      1468
44      1462
Name: PROVINCIA, dtype: int64

9     192473
13    113936
1     107332
10     60154
7      35635
12     29954
16     25058
8      22166
4      20464
5      18788
2      18238
17     17571
3      16718
11     11167
14      7141
6       6148
18      5599
15      3360
Name: COMUNIDAD_AUTONOMA, dtype: int64

1     522827
2     126411
3      36581
4      15072
5       6424
6       2475
7       1032
8        504
9        253
10       110
11        47
12        39
13        23
14        16
18        14
16        14
15        11
32         5
17         5
24         4
20         3
21         3
22         3
26         3
19         2
57         2
53         2
37         2
35         2
34         2
31         2
23         2
30         1
27         1
25         1
38         1
39         1
52         1
63         1
Name: TOT_VICTIMAS, dtype: int64

0     698204
1      12619
2        873
3        150
4         33
5         12
6          5
9          2
8          2
14         1
7          1
Name: TOT_MUERTOS, dtype: int64

0     628265
1      74407
2       7435
3       1288
4        345
5        107
6         33
7          7
8          3
9          3
10         3
40         1
14         1
16         1
17         1
21         1
43         1
Name: TOT_HERIDOS_GRAVES, dtype: int64

1     474279
2     113245
0      70581
3      32191
4      12874
5       5138
6       1947
7        823
8        387
9        188
10        83
11        34
12        31
13        16
14        15
15        12
17         9
18         8
16         7
20         5
21         4
19         3
22         3
32         2
24         2
36         2
27         2
30         2
31         2
43         1
34         1
26         1
29         1
47         1
25         1
52         1
Name: TOT_HERIDOS_LEVES, dtype: int64

2     374920
1     273281
3      47469
4      11374
5       2995
6       1010
7        408
8        181
9         95
10        42
11        29
12        18
13        16
0         14
14         9
15         7
21         5
23         3
30         3
16         3
17         2
20         2
26         2
32         2
55         1
18         1
22         1
24         1
25         1
34         1
36         1
39         1
43         1
45         1
47         1
91         1
Name: TOT_VEHICULOS_IMPLICADOS, dtype: int64

2    403042
1    301334
3      6761
4       765
Name: ZONA, dtype: int64

2    409803
1    302099
Name: ZONA_AGRUPADA, dtype: int64

4    462204
1     91948
2     88891
3     60515
5      8344
Name: RED_CARRETERA, dtype: int64

8    263004
9    138259
3    114178
5     94922
2     65112
1     18046
7      6841
4      6219
6      5321
Name: TIPO_VIA, dtype: int64

1    600109
3     91002
7      9596
2      3893
9      2370
4      1762
6      1546
5      1044
8       580
Name: SUPERFICIE_CALZADA, dtype: int64

1    503603
3    121127
4     36137
2     33297
5     17738
Name: LUMINOSIDAD, dtype: int64

1    606046
4     58499
9     26100
5     11766
8      3519
3      2262
2      1430
7      1344
6       936
Name: FACTORES_ATMOSFERICOS, dtype: int64

1    421417
8    151022
0     94613
2     11739
7     11337
3     10176
4      7755
5      2681
6      1162
Name: VISIBILIDAD_RESTRINGIDA, dtype: int64

2     89924
4     82990
12    70554
7     55923
14    51057
3     34237
33    29470
20    27167
5     24207
13    22316
19    21280
16    21037
15    19466
71    15121
9     14116
1     13998
6     12085
68    10606
18    10454
11    10194
41     8905
10     7449
66     7166
64     5987
24     5595
56     4428
54     4363
63     4289
62     3068
52     2917
53     2890
61     2886
8      2387
67     2095
21     1853
51     1760
17     1732
65     1170
36     1091
57     1013
22      855
55      798
58      536
31      256
32       94
35       55
23       37
34       25
Name: TIPO_ACCIDENTE, dtype: int64

CREADA VISTA CON DATOS DE ACCIDENTES Y VISTIMAS DE 2008 A 2015

###   2. VEHICULOS

In [135]:
#Cabecera del fichero de Vehiculos
Header_Vehic=Headers_List[2]
Header_Vehic

                 Vehic_2008               Vehic_2015
0              ID_ACCIDENTE             ID_ACCIDENTE
1               ID_VEHICULO              ID_VEHICULO
2   ANIO_MATRICULA_VEHICULO  ANIO_MATRICULA_VEHICULO
3    MES_MATRICULA_VEHICULO   MES_MATRICULA_VEHICULO
4             TIPO_VEHICULO            TIPO_VEHICULO
5           ESTADO_VEHICULO                      NaN
6      NUMERO_OCUPANTES_VEH     NUMERO_OCUPANTES_VEH
7     MERCANCIAS_PELIGROSAS    MERCANCIAS_PELIGROSAS
8       VEHICULO_INCENDIADO      VEHICULO_INCENDIADO
9                      ANIO                     ANIO
10                      NaN         ANOMALIA_NINGUNA
11                      NaN       ANOMALIA_NEUMATICO
12                      NaN        ANOMALIA_REVENTON
13                      NaN       ANOMALIA_DIRECCION
14                      NaN          ANOMALIA_FRENOS

In [136]:
#Matego solo las columnas inguales y actualizo mi diccionario con las cabeceras que utilizare en el proceso de carga

Header_Vehic=Header_Vehic[Header_Vehic['Vehic_2008']==Header_Vehic['Vehic_2015']]
Header_Vehic=Header_Vehic['Vehic_2008'].tolist()
dic_all_headers={'Vehic':Header_Vehic}
dic_all_headers

#Genero un df vacio donde concatenare todos los a√±os para ver la cantidad de valores de que 
#dispongo por cada columna

df_all_years=pd.DataFrame(index=None, columns=dic_all_headers['Vehic'])

#Cargo cada csv y concateno
for file in dic_all_files['Vehic']:
    df_vehic=pd.read_csv(file,delimiter=';',usecols=dic_all_headers['Vehic'],encoding="ISO-8859-1")
    #relleno los nulos con 999
    df_vehic.fillna(999,inplace=True)
    df_all_years=pd.concat([df_all_years,df_vehic],ignore_index=True)
    
#muestreo los datos
df_all_years.head(3)
df_all_years.tail(3)
df_all_years.sample(3)

#De las columnas del data frame final, que contiene todos los a√±os, 
#examino los distintos valores de las columnas, para tratar de decidir 
#que campos conservare para el analisis.


#Una vez examindas los resultado anteriores, decido descartar los siguientes campos de la vista:
df_all_years.drop(['MERCANCIAS_PELIGROSAS','VEHICULO_INCENDIADO'], axis=1, inplace=True)

#Actualizo mi diccionario con las cabeceras que utilizare en el proceso de carga
Header_Vehic=df_all_years.columns.tolist()
dic_all_headers={'Vehic':Header_Vehic}
dic_all_headers
#------------------SOBREECRITURA DE LOS DATOS APLICANDO MODIFICACIONES--------------
#Decido eliminor las siguientes columnas, por el alto numero de registro desconocidos y 
#porque considero que no me aportan valor:

#MERCANCIAS_PELIGROSAS
#VEHICULO_INCENDIADO

#Vacio el df de la vista, que contendra todos los a√±os
df_all_years=pd.DataFrame(index=None, columns=dic_all_headers['Vehic'])

for file in dic_all_files['Vehic']:
    df_vehic=pd.read_csv(file,delimiter=';',usecols=dic_all_headers['Vehic'],encoding="ISO-8859-1")
    #relleno los nulos con 999
    df_vehic.fillna(999,inplace=True)
    for col in df_vehic.columns:
        if df_vehic[col].dtype !='O':
            df_vehic.ix[(df_vehic[col]==999), col]=df_vehic[col][df_vehic[col]!=999].median()


    df_vehic.to_csv(file,index=False,sep=";",encoding="ISO-8859-1")
    df_all_years=pd.concat([df_all_years,df_vehic],ignore_index=True)
    print("MODFICADO ----- "+file)

#Convierto tambien los numericos de la vista tipo float a enteros
#Compruebo que me ha sustituido correctamente los 999 por la mediana.
for col in df_all_years.columns:
        if df_all_years[col].dtype !='O':
            df_all_years[col]=df_all_years[col].astype(int)
            df_all_years[col].value_counts(dropna=False)

            
df_all_years.to_csv("./cleaned/view_vehic_08_15.csv",index=False,sep=";",encoding="ISO-8859-1")
print("CREADA VISTA CON DATOS DE ACCIDENTES Y VISTIMAS DE 2008 A 2015")
########   FIN DEL PROCESAMIENTO DE LOS DATASET DE VEHICULOS #########

{'Vehic': ['ID_ACCIDENTE',
  'ID_VEHICULO',
  'ANIO_MATRICULA_VEHICULO',
  'MES_MATRICULA_VEHICULO',
  'TIPO_VEHICULO',
  'NUMERO_OCUPANTES_VEH',
  'MERCANCIAS_PELIGROSAS',
  'VEHICULO_INCENDIADO',
  'ANIO']}

,ID_ACCIDENTE,ID_VEHICULO,ANIO_MATRICULA_VEHICULO,MES_MATRICULA_VEHICULO,TIPO_VEHICULO,NUMERO_OCUPANTES_VEH,MERCANCIAS_PELIGROSAS,VEHICULO_INCENDIADO,ANIO
0,2.008410e+12,2.0,9999.0,99.0,22.0,1.0,N,N,2008.0
1,2.008520e+12,2.0,1991.0,99.0,22.0,1.0,N,N,2008.0
2,2.009460e+12,3.0,2004.0,1.0,22.0,1.0,N,N,2008.0

,ID_ACCIDENTE,ID_VEHICULO,ANIO_MATRICULA_VEHICULO,MES_MATRICULA_VEHICULO,TIPO_VEHICULO,NUMERO_OCUPANTES_VEH,MERCANCIAS_PELIGROSAS,VEHICULO_INCENDIADO,ANIO
1239590,2.016990e+12,1.0,2011.0,1.0,6.0,1.0,0,999,2015.0
1239591,2.016990e+12,1.0,9999.0,99.0,6.0,1.0,0,999,2015.0
1239592,2.016990e+12,2.0,2011.0,1.0,6.0,4.0,0,999,2015.0

,ID_ACCIDENTE,ID_VEHICULO,ANIO_MATRICULA_VEHICULO,MES_MATRICULA_VEHICULO,TIPO_VEHICULO,NUMERO_OCUPANTES_VEH,MERCANCIAS_PELIGROSAS,VEHICULO_INCENDIADO,ANIO
163636,2.008290e+12,1.0,2007.0,3.0,22.0,1.0,N,N,2008.0
260331,2.009090e+12,1.0,2004.0,12.0,22.0,4.0,N,N,2009.0
3439,2.008460e+12,2.0,1997.0,10.0,22.0,1.0,N,N,2008.0

{'Vehic': ['ID_ACCIDENTE',
  'ID_VEHICULO',
  'ANIO_MATRICULA_VEHICULO',
  'MES_MATRICULA_VEHICULO',
  'TIPO_VEHICULO',
  'NUMERO_OCUPANTES_VEH',
  'ANIO']}

MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2008/TABLA_VEHIC_24H_2008.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2009/TABLA_VEHIC_24H_2009.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2010/TABLA_VEHIC_24H_2010.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2011/TABLA_VEHIC_2011.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2012/TABLA_VEHIC_2012.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2013/TABLA_VEHIC_2013.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2014/TABLA_VEHIC_2014.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2015/TABLA_VEHIC_2015.csv

2008280001807      91
2010290003177      55
2014209000038      47
2013400000574      45
2008450000201      43
201427030000030    39
2008480001448      36
2008150003490      34
2008450000200      32
2008450000161      32
2012490000316      30
2013400000484      30
201547085000098    30
2009330004512      26
2012080000613      26
2008250022170      25
2013280002688      24
2012150003239      23
2013280003721      23
2013400000493      23
2008320000383      22
2012410002094      21
2013470000701      21
2011130000064      21
2013250020690      21
2008450000205      21
201403123000044    20
2012330004294      20
2012350700183      18
2010080011851      17
                   ..
2013990003456       1
201441081000047     1
2014250021650       1
2013430022932       1
2008400000234       1
201507026000020     1
2009080009238       1
2012140001903       1
2008430023254       1
2010500002426       1
2014170020475       1
2013480051320       1
2013430023636       1
2015250023028       1
2008990007884       1
2008990001729       1
2008170019395       1
2010200050245       1
2011150000672       1
2009080017426       1
2013170020448       1
2012100000315       1
2011280007736       1
2011280003646       1
2011280005695       1
2011280001597       1
2012381000242       1
2015080010254       1
2015080004099       1
2008250022127       1
Name: ID_ACCIDENTE, dtype: int64

1     710054
2     438466
3      64903
4      16647
5       5005
6       1931
7        868
8        443
9        249
10       158
11       120
12        86
13        66
14        52
16        41
15        39
18        32
20        29
19        29
21        26
27        26
17        25
22        23
23        22
24        17
25        15
26        15
28        14
29        13
30        13
       ...
81         1
82         1
83         1
84         1
85         1
86         1
87         1
88         1
89         1
90         1
91         1
74         1
73         1
72         1
63         1
57         1
58         1
59         1
60         1
61         1
62         1
64         1
71         1
65         1
66         1
67         1
68         1
69         1
70         1
0          1
Name: ID_VEHICULO, dtype: int64

9999    423289
2007     77705
2006     73347
2005     67073
2004     58430
2008     54907
2003     49727
2001     46652
2000     45401
2002     44417
1999     41282
2009     32893
1998     30027
2010     29527
1997     22104
2011     21817
1996     16367
2012     14456
1995     12105
2013     11508
1994     11366
1992      9372
2014      8628
1993      8328
1991      6615
1990      5158
1989      4133
2015      3723
1988      2705
1987      1840
         ...
1900         5
1957         4
1952         4
1948         4
1943         3
1944         3
1949         3
1947         3
1950         3
1951         3
1954         3
1914         3
1938         2
1909         2
1945         2
1946         2
1932         1
1931         1
1926         1
1925         1
1924         1
1923         1
1921         1
1920         1
1939         1
1912         1
1910         1
1942         1
1953         1
1941         1
Name: ANIO_MATRICULA_VEHICULO, dtype: int64

99    502516
1     161316
7      65918
6      61920
3      57533
5      55623
10     51713
4      51691
12     50245
11     48738
2      47150
9      43491
8      41739
Name: MES_MATRICULA_VEHICULO, dtype: int64

6     491756
22    300202
4     106634
2      67209
11     56248
9      43968
3      39686
43     26815
1      10572
5       9317
16      9295
10      9218
12      8412
41      6863
21      6253
15      6183
51      5666
20      5350
81      3928
55      3673
61      3244
52      2564
63      2335
13      2067
8       1917
90      1431
7       1301
23      1272
18      1125
14       866
42       813
82       628
31       529
30       403
32       402
24       291
53       231
19       227
17       187
62       165
70       159
54       148
80        40
Name: TIPO_VEHICULO, dtype: int64

1     946479
2     188288
3      48701
4      24477
0      18881
5       9476
6        969
7        455
8        251
9        212
10       181
20       133
15       115
11        77
30        73
12        72
25        43
14        42
16        42
40        42
13        41
18        37
50        36
21        32
22        25
17        24
23        24
19        23
35        23
27        21
       ...
36        12
31        11
28        10
45        10
48         9
39         9
42         9
43         9
55         8
54         8
49         8
46         7
44         7
57         7
34         7
37         7
38         6
52         6
47         5
51         5
53         5
33         4
61         4
58         3
59         2
66         2
70         2
68         1
63         1
67         1
Name: NUMERO_OCUPANTES_VEH, dtype: int64

2015    170749
2008    163785
2014    158835
2013    155004
2009    154013
2010    149277
2011    144274
2012    143656
Name: ANIO, dtype: int64

CREADA VISTA CON DATOS DE ACCIDENTES Y VISTIMAS DE 2008 A 2015

###   1. PERSONAS

### TRATAMIENTO DATA SET PERSONAS

#### Se observa una diferencia en cuanto a la codificacion en los datos de sexo
#### entre los datasets anteriores y posteriores a 2011:

#####    -Para a√±os anteriores a 2011 la codificacion es V o H
#####    -Para a√±os posteriores, aparece codificados como 1 o 2, por lo que voy a intentar averiguar cual corresponde a hombre y mujeres
    
#### Es logico pensar que en los a√±os anteriores a 1960, por ejemplo, el numero de hombres conductores era considerablemente al de mujeres, por lo que voy agrupar por edades y a√±o de permiso de circulacion


#### Repito el procedimiento anterior para los datos desde 2011 a 2015 grabando los xls modificados en la carpeta cleaned junto con los otros data sets de a√±os 2008 a 2010

### Repito el procedimiento anterior para los datos desde 2011 a 2015
### grabando los xls modificados en la carpeta cleaned junto con los otros data set 
### de a√±os 2008 a 2010

In [137]:
#Cabecera del fichero de Personas
Header_Pers=Headers_List[1]
Header_Pers

               Pers_2008                  Pers_2015
0           ID_ACCIDENTE               ID_ACCIDENTE
1            ID_VEHICULO                ID_VEHICULO
2             ID_PERSONA                 ID_PERSONA
3           ID_CONDUCTOR               ID_CONDUCTOR
4            ID_PASAJERO                ID_PASAJERO
5              ID_PEATON                  ID_PEATON
6                   EDAD                       EDAD
7                   SEXO                       SEXO
8           ANIO_PERMISO               ANIO_PERMISO
9           COD_POSICION                        NaN
10     COD_ACCESEGURIDAD                        NaN
11         COD_LESIVIDAD                        NaN
12             MANIOBRAS                  MANIOBRAS
13     INFRACC_VELOCIDAD          INFRACC_VELOCIDAD
14  INFRACC_NO_VELOCIDAD                        NaN
15          ACCIONPEATON                        NaN
16        INFRACC_PEATON             INFRACC_PEATON
17                  ANIO                       ANIO
18                   NaN                   POSICION
19                   NaN               USO_CINTURON
20                   NaN                    USO_SRI
21                   NaN                  USO_CASCO
22                   NaN                 MUERTO_24H
23                   NaN                 MUERTO_30D
24                   NaN           HERIDO_GRAVE_24H
25                   NaN            HERIDO_GRAVE30D
26                   NaN            HERIDO_LEVE_24H
27                   NaN             HERIDO_LEVE30D
28                   NaN      DICCIONARIO_MANIOBRAS
29                   NaN               INFRACC_COND
30                   NaN           INFRACC_APERTURA
31                   NaN          INFRACC_ALUMBRADO
32                   NaN     INFRACC_CARGA_VEHICULO
33                   NaN            INFRACC_RESUMEN
34                   NaN  DICCIONARIO_ACCION_PEATON
35                   NaN              ACCION_PEATON

In [138]:
Header_Pers=Header_Pers[Header_Pers['Pers_2008']==Header_Pers['Pers_2015']]
Header_Pers=Header_Pers['Pers_2008'].tolist()
dic_all_headers={'Pers':Header_Pers}
dic_all_headers

df_all_years=pd.DataFrame(index=None, columns=dic_all_headers['Pers'])

#Cargo cada csv y concateno
for file in dic_all_files['Pers']:
    df_pers=pd.read_csv(file,delimiter=';',usecols=dic_all_headers['Pers'],encoding="ISO-8859-1")
    #relleno los nulos con 999
    df_pers=df_pers.fillna(999)
    df_all_years=pd.concat([df_all_years,df_pers],ignore_index=True)
    
#muestreo los datos
df_all_years.head(3)
df_all_years.tail(3)
df_all_years.sample(3)

#De las columnas del data frame final, que contiene todos los a√±os, 
#examino los distintos valores de las columnas, para tratar de decidir 
#que campos conservare para el analisis.
for col in df_all_years.columns:
    #no saco los distinos valores para los id_accidente
    if col !='ID_ACCIDENTE':
        df_all_years[col].value_counts(dropna=False)

#Modifico el sexo y el a√±o de permiso en cada fichero origen

for file in range(3,8):
    #leo fichero
    df_pers_sexo=pd.read_csv(dic_all_files['Pers'][file],delimiter=";",usecols=dic_all_headers['Pers'],encoding="ISO-8859-1")
    #Para sexo desconocido relleno aleatoriamente con 1 o 2
    df_pers_sexo[df_pers_sexo['SEXO']==999]=np.random.randint(1,2)

    #selecciono las personas que son conductores ('ID_PERSONA'=1) y los a√±os desconocidos (9999) que quiero sutituir
    pers_grp=df_pers_sexo[(df_pers_sexo['ID_PERSONA']==1) & (df_pers_sexo['ANIO_PERMISO']!=9999)].groupby(['EDAD','SEXO'],as_index=False)['ANIO_PERMISO'].agg({'NUM_CONDUCTORES':'count','MEDIA_ANTIG_CARNET':'mean'})
    #conversion de a entero
    pers_grp['MEDIA_ANTIG_CARNET']=pers_grp['MEDIA_ANTIG_CARNET'].round(0)
    pers_grp['MEDIA_ANTIG_CARNET']=pers_grp['MEDIA_ANTIG_CARNET'].astype(int)

    #cruzo el df original por edad y sexo con el df con las medias
    merged=pd.merge(df_pers_sexo, pers_grp, how='left',on=['EDAD','SEXO'],suffixes=['_left', '_right'])
    merged.head()

    #1. sutituyo los 1 por V y los 2 por H
    merged.ix[(merged['SEXO']==1), 'SEXO'] ='V'
    merged.ix[(merged['SEXO']==2), 'SEXO'] ='M'
    #2. sustituyo los valores de a√±os de permisos deconocidos
    merged.ix[((merged['ANIO_PERMISO']==9999) | (merged['ANIO_PERMISO']==0.0)) & (df_pers_sexo['ID_PERSONA']==1), 'ANIO_PERMISO'] =merged['MEDIA_ANTIG_CARNET']
    merged.head()
    #elimino del df las columnas con el numeor de conductores y la media de a√±o de carnet
    merged.drop(['NUM_CONDUCTORES','MEDIA_ANTIG_CARNET'], axis=1, inplace=True)

    #si hubiese algun a√±o NULL, lo relleno a 0.0
    merged['ANIO_PERMISO'].fillna(0.0,inplace=True)
    merged['ANIO_PERMISO']=merged['ANIO_PERMISO'].astype(int)

    #existen errores en los a√±os de permiso, para conductores tenemos valores 0,1 y 999
    #muestro los diferentes valores de a√±o de permiso
    pd.value_counts(merged['ANIO_PERMISO'])
    #elimino esos registros
    merged=merged[(merged['ANIO_PERMISO'].isin([0,1,999])) & merged['ID_PERSONA']!=1]
    #Antes de guarda cada fichero, sustituyo los 999 por la mediana en cada columna
    for col in merged.columns:
        if merged[col].dtype !='O':
            merged.ix[(merged[col]==999), col]=merged[col][merged[col]!=999].median()
    #guardo el fichero    
    merged.to_csv(dic_all_files['Pers'][file],index=False,sep=";",encoding="ISO-8859-1")
    print("MODFICADO ----- "+dic_all_files['Pers'][file])


#Genero la vista con los datos de todos los a√±os
df_all_years=pd.DataFrame(index=None, columns=dic_all_headers['Pers'])

#Cargo de nuevo ya que he modificado las tablas que componen la vista y la genero de nuevo
for file in dic_all_files['Pers']:
    df_pers=pd.read_csv(file,delimiter=';',usecols=dic_all_headers['Pers'],encoding="ISO-8859-1")
    #relleno los nulos con 999
    df_pers.fillna(999,inplace=True)
    df_all_years=pd.concat([df_all_years,df_pers],ignore_index=True)
    
#Convierto tambien los numericos de la vista tipo float a enteros
#Compruebo que me ha sustituido correctamente los 999 por la mediana.
for col in df_all_years.columns:
        if df_all_years[col].dtype !='O':
            df_all_years.ix[(df_all_years[col]==999), col]=df_all_years[col][df_all_years[col]!=999].median()
            df_all_years[col]=df_all_years[col].astype(int)
            df_all_years[col].value_counts(dropna=False)
            
print("CREADA VISTA CON DATOS DE VEHICULOS DE 2008 A 2015")
df_all_years.to_csv("./cleaned/view_pers_08_15.csv",index=False,sep=";",encoding="ISO-8859-1")

{'Pers': ['ID_ACCIDENTE',
  'ID_VEHICULO',
  'ID_PERSONA',
  'ID_CONDUCTOR',
  'ID_PASAJERO',
  'ID_PEATON',
  'EDAD',
  'SEXO',
  'ANIO_PERMISO',
  'MANIOBRAS',
  'INFRACC_VELOCIDAD',
  'INFRACC_PEATON',
  'ANIO']}

,ID_ACCIDENTE,ID_VEHICULO,ID_PERSONA,ID_CONDUCTOR,ID_PASAJERO,ID_PEATON,EDAD,SEXO,ANIO_PERMISO,MANIOBRAS,INFRACC_VELOCIDAD,INFRACC_PEATON,ANIO
0,"2,00801E+12",1.0,2.0,999.0,1.0,999.0,32.0,M,9999.0,999.0,999.0,999.0,2008.0
1,"2,00801E+12",2.0,2.0,999.0,1.0,999.0,60.0,M,9999.0,999.0,999.0,999.0,2008.0
2,"2,00801E+12",2.0,2.0,999.0,2.0,999.0,23.0,V,9999.0,999.0,999.0,999.0,2008.0

,ID_ACCIDENTE,ID_VEHICULO,ID_PERSONA,ID_CONDUCTOR,ID_PASAJERO,ID_PEATON,EDAD,SEXO,ANIO_PERMISO,MANIOBRAS,INFRACC_VELOCIDAD,INFRACC_PEATON,ANIO
1724733,2016990000358,999.0,3.0,999.0,999.0,1.0,31.0,1,999.0,999.0,999.0,2.0,2015.0
1724734,2016990000448,999.0,3.0,999.0,999.0,1.0,7.0,1,999.0,999.0,999.0,2.0,2015.0
1724735,2016990000876,999.0,3.0,999.0,999.0,2.0,7.0,2,999.0,999.0,999.0,2.0,2015.0

,ID_ACCIDENTE,ID_VEHICULO,ID_PERSONA,ID_CONDUCTOR,ID_PASAJERO,ID_PEATON,EDAD,SEXO,ANIO_PERMISO,MANIOBRAS,INFRACC_VELOCIDAD,INFRACC_PEATON,ANIO
1089141,2013080017135,1.0,1.0,1.0,999.0,999.0,32.0,1,2003.0,52.0,3.0,999.0,2013.0
1606767,201541091002758,1.0,1.0,1.0,999.0,999.0,32.0,1,2007.0,77.0,4.0,999.0,2015.0
1040156,2012390001396,999.0,3.0,999.0,999.0,1.0,6.0,1,999.0,999.0,999.0,1.0,2012.0

1.0      944267
2.0      573607
999.0     97957
3.0       78297
4.0       19402
5.0        5733
6.0        2203
7.0        1023
8.0         503
9.0         269
10.0        188
11.0        149
13.0        102
12.0         99
14.0         67
16.0         60
15.0         54
19.0         50
20.0         48
21.0         46
22.0         44
43.0         44
18.0         42
27.0         38
17.0         37
23.0         37
24.0         29
25.0         29
26.0         26
38.0         23
          ...
57.0          1
56.0          1
91.0          1
58.0          1
73.0          1
89.0          1
88.0          1
87.0          1
85.0          1
84.0          1
83.0          1
82.0          1
81.0          1
92.0          1
76.0          1
75.0          1
71.0          1
59.0          1
70.0          1
69.0          1
68.0          1
67.0          1
66.0          1
65.0          1
93.0          1
63.0          1
64.0          1
62.0          1
61.0          1
60.0          1
Name: ID_VEHICULO, dtype: int64

1.0    1214662
2.0     412117
3.0      97957
Name: ID_PERSONA, dtype: int64

1.0      845258
999.0    510074
2.0      312839
3.0       40573
4.0       10100
5.0        2939
6.0        1145
7.0         538
8.0         287
9.0         168
10.0        109
11.0         81
12.0         63
13.0         47
14.0         41
16.0         33
15.0         32
18.0         26
20.0         25
19.0         25
21.0         23
27.0         22
17.0         22
22.0         21
23.0         19
24.0         15
26.0         13
25.0         13
28.0         12
29.0         11
          ...
59.0          1
86.0          1
73.0          1
85.0          1
84.0          1
83.0          1
82.0          1
81.0          1
88.0          1
79.0          1
78.0          1
77.0          1
76.0          1
75.0          1
80.0          1
72.0          1
60.0          1
71.0          1
70.0          1
69.0          1
68.0          1
67.0          1
66.0          1
65.0          1
89.0          1
63.0          1
90.0          1
62.0          1
61.0          1
74.0          1
Name: ID_CONDUCTOR, dtype: int64

999.0    1312619
1.0       242201
2.0        89740
3.0        41701
4.0        18324
5.0         7140
6.0         3692
7.0         2043
8.0         1211
9.0          753
10.0         544
11.0         427
12.0         357
13.0         310
14.0         268
15.0         243
16.0         220
17.0         203
18.0         189
19.0         172
20.0         157
21.0         149
22.0         136
23.0         125
24.0         119
25.0         111
26.0         104
27.0          94
28.0          88
29.0          85
          ...
104.0          1
100.0          1
99.0           1
98.0           1
97.0           1
102.0          1
95.0           1
94.0           1
93.0           1
92.0           1
91.0           1
90.0           1
89.0           1
88.0           1
87.0           1
86.0           1
85.0           1
84.0           1
83.0           1
82.0           1
80.0           1
103.0          1
79.0           1
78.0           1
77.0           1
76.0           1
75.0           1
74.0           1
73.0           1
81.0           1
Name: ID_PASAJERO, dtype: int64

999.0    1626779
1.0        89664
2.0         6889
3.0          958
4.0          244
5.0           83
6.0           34
7.0           18
8.0            6
9.0            5
11.0           5
12.0           5
10.0           5
15.0           3
14.0           3
13.0           3
16.0           3
17.0           2
19.0           1
38.0           1
42.0           1
41.0           1
40.0           1
39.0           1
36.0           1
37.0           1
44.0           1
35.0           1
34.0           1
33.0           1
43.0           1
28.0           1
29.0           1
32.0           1
18.0           1
27.0           1
26.0           1
25.0           1
24.0           1
23.0           1
30.0           1
22.0           1
21.0           1
20.0           1
31.0           1
Name: ID_PEATON, dtype: int64

999.0    107080
32.0      40355
30.0      39945
31.0      39914
33.0      39668
34.0      39541
29.0      39315
35.0      39253
28.0      39230
27.0      38822
25.0      38365
36.0      38319
26.0      38227
23.0      38213
22.0      37942
24.0      37708
37.0      37443
21.0      37395
20.0      36671
38.0      36397
39.0      35270
40.0      34532
41.0      33177
19.0      32505
42.0      32293
43.0      31199
44.0      29672
45.0      29226
46.0      28092
47.0      27014
          ...
4.0        4395
3.0        4276
2.0        3975
81.0       3867
82.0       3597
1.0        3533
83.0       2974
84.0       2618
0.0        2481
85.0       2132
86.0       1704
87.0       1387
88.0       1073
89.0        846
99.0        746
90.0        610
91.0        454
92.0        304
93.0        227
94.0        151
95.0        101
96.0         74
97.0         47
98.0         35
109.0        10
100.0         6
110.0         2
104.0         1
102.0         1
106.0         1
Name: EDAD, dtype: int64

1      694965
V      427297
2      369572
M      200983
999     17730
X       14189
Name: SEXO, dtype: int64

9999.0    538162
999.0     350562
2008.0     51658
2007.0     50334
2006.0     43806
2005.0     35843
2009.0     34474
2004.0     33494
2003.0     26726
2010.0     26661
2002.0     22856
1996.0     21422
2011.0     20960
1997.0     20250
2000.0     19962
1995.0     19586
1992.0     19529
2001.0     19346
1993.0     18404
1994.0     18299
1990.0     17824
1999.0     17779
1991.0     17722
1989.0     17486
1998.0     17134
1988.0     16103
2012.0     15526
1987.0     15094
1986.0     12930
2013.0     11762
           ...
1963.0      2484
1962.0      1879
1961.0      1235
1960.0       941
1959.0       777
1958.0       644
1957.0       564
1956.0       402
1955.0       235
1954.0       210
1953.0       155
1952.0        98
1951.0        90
1950.0        68
1949.0        48
1947.0        31
1948.0        28
1945.0        22
1946.0        16
1920.0        10
1944.0         9
1943.0         8
1942.0         6
1941.0         4
1935.0         2
1940.0         2
1939.0         1
1934.0         1
1930.0         1
1927.0         1
Name: ANIO_PERMISO, dtype: int64

999.0    526460
1.0      468748
52.0     276890
72.0     135879
22.0      38750
21.0      32937
12.0      27908
71.0      27395
51.0      25886
3.0       24421
11.0      18451
2.0       12843
77.0      11172
0.0        8077
41.0       7491
43.0       7381
16.0       7195
19.0       7090
23.0       7016
20.0       6090
24.0       5915
17.0       5396
31.0       4375
18.0       4215
15.0       4133
13.0       3546
5.0        3312
61.0       2137
25.0       1794
6.0        1792
14.0       1765
29.0       1723
7.0        1588
8.0        1269
42.0        967
30.0        716
4.0         609
9.0         593
26.0        509
10.0        179
27.0        123
Name: MANIOBRAS, dtype: int64

3.0      530815
999.0    510074
4.0      460376
1.0       85123
5.0       82347
0.0       50616
2.0        5385
Name: INFRACC_VELOCIDAD, dtype: int64

999.0    1626779
2.0        45372
9.0        19467
1.0        15548
4.0         6812
0.0         5197
3.0         2493
8.0         2267
5.0          652
6.0           92
7.0           57
Name: INFRACC_PEATON, dtype: int64

2015.0    238476
2008.0    223461
2014.0    222722
2013.0    219061
2009.0    212510
2010.0    206498
2012.0    202804
2011.0    199204
Name: ANIO, dtype: int64

,ID_ACCIDENTE,ID_VEHICULO,ID_PERSONA,ID_CONDUCTOR,ID_PASAJERO,ID_PEATON,EDAD,SEXO,ANIO_PERMISO,MANIOBRAS,INFRACC_VELOCIDAD,INFRACC_PEATON,ANIO,NUM_CONDUCTORES,MEDIA_ANTIG_CARNET
0,2011010000018,1.0,1,1.0,NaN,NaN,65,1,9999.0,1.0,4.0,NaN,2011,470.0,1977.0
1,2011010000019,1.0,1,1.0,NaN,NaN,58,1,9999.0,1.0,3.0,NaN,2011,752.0,1982.0
2,2011010000020,1.0,1,1.0,NaN,NaN,31,2,9999.0,1.0,3.0,NaN,2011,758.0,2003.0
3,2011010000021,1.0,1,1.0,NaN,NaN,18,1,9999.0,1.0,3.0,NaN,2011,669.0,2010.0
4,2011010000021,2.0,1,2.0,NaN,NaN,45,1,9999.0,1.0,3.0,NaN,2011,1463.0,1993.0

,ID_ACCIDENTE,ID_VEHICULO,ID_PERSONA,ID_CONDUCTOR,ID_PASAJERO,ID_PEATON,EDAD,SEXO,ANIO_PERMISO,MANIOBRAS,INFRACC_VELOCIDAD,INFRACC_PEATON,ANIO,NUM_CONDUCTORES,MEDIA_ANTIG_CARNET
0,2011010000018,1.0,1,1.0,NaN,NaN,65,V,1977.0,1.0,4.0,NaN,2011,470.0,1977.0
1,2011010000019,1.0,1,1.0,NaN,NaN,58,V,1982.0,1.0,3.0,NaN,2011,752.0,1982.0
2,2011010000020,1.0,1,1.0,NaN,NaN,31,M,2003.0,1.0,3.0,NaN,2011,758.0,2003.0
3,2011010000021,1.0,1,1.0,NaN,NaN,18,V,2010.0,1.0,3.0,NaN,2011,669.0,2010.0
4,2011010000021,2.0,1,2.0,NaN,NaN,45,V,1993.0,1.0,3.0,NaN,2011,1463.0,1993.0

0       60651
2008     8027
2010     7743
2009     7375
2005     6729
2007     6649
2006     6479
2003     5346
2004     5083
1997     4222
2000     4113
1        3948
2002     3674
2001     3534
1993     3384
1996     3220
2011     3163
1998     3099
1988     3083
1995     3052
1986     3042
1994     3017
1999     3003
1992     2908
1977     2869
1991     2766
1990     2738
1989     2565
1985     1766
1979     1761
        ...
1980      992
1972      835
1970      718
1967      574
1969      551
1971      499
1968      410
1965      379
1966      341
1964      308
1963      285
1962      217
1961      160
1960       90
1959       90
1958       77
1957       69
1956       49
1954       27
1955       24
1953       22
1952       19
1951        9
1950        7
1949        6
1948        3
1943        3
1947        2
1945        2
1946        1
Name: ANIO_PERMISO, dtype: int64

MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2011/TABLA_PERS_2011.csv

,ID_ACCIDENTE,ID_VEHICULO,ID_PERSONA,ID_CONDUCTOR,ID_PASAJERO,ID_PEATON,EDAD,SEXO,ANIO_PERMISO,MANIOBRAS,INFRACC_VELOCIDAD,INFRACC_PEATON,ANIO,NUM_CONDUCTORES,MEDIA_ANTIG_CARNET
0,2012010000001,1.0,1,1.0,NaN,NaN,33,1,9999.0,43.0,4.0,NaN,2012,1954.0,2003.0
1,2012010000001,2.0,1,2.0,NaN,NaN,46,1,9999.0,1.0,1.0,NaN,2012,1508.0,1993.0
2,2012010000001,3.0,1,3.0,NaN,NaN,51,1,9999.0,1.0,3.0,NaN,2012,1195.0,1988.0
3,2012010000001,4.0,1,4.0,NaN,NaN,28,1,9999.0,43.0,4.0,NaN,2012,1719.0,2006.0
4,2012010000002,1.0,1,1.0,NaN,NaN,52,2,9999.0,1.0,1.0,NaN,2012,361.0,1990.0

,ID_ACCIDENTE,ID_VEHICULO,ID_PERSONA,ID_CONDUCTOR,ID_PASAJERO,ID_PEATON,EDAD,SEXO,ANIO_PERMISO,MANIOBRAS,INFRACC_VELOCIDAD,INFRACC_PEATON,ANIO,NUM_CONDUCTORES,MEDIA_ANTIG_CARNET
0,2012010000001,1.0,1,1.0,NaN,NaN,33,V,2003.0,43.0,4.0,NaN,2012,1954.0,2003.0
1,2012010000001,2.0,1,2.0,NaN,NaN,46,V,1993.0,1.0,1.0,NaN,2012,1508.0,1993.0
2,2012010000001,3.0,1,3.0,NaN,NaN,51,V,1988.0,1.0,3.0,NaN,2012,1195.0,1988.0
3,2012010000001,4.0,1,4.0,NaN,NaN,28,V,2006.0,43.0,4.0,NaN,2012,1719.0,2006.0
4,2012010000002,1.0,1,1.0,NaN,NaN,52,M,1990.0,1.0,1.0,NaN,2012,361.0,1990.0

0       61254
2008     7103
2007     6659
2011     6620
2010     6544
2006     6224
2009     5872
2005     5654
2003     5272
2004     4631
1982     4037
2000     4018
1        3852
1996     3758
2002     3597
1995     3520
1994     3518
2001     3451
2012     3367
1997     3171
1988     3135
1999     3077
1998     2941
1993     2927
1992     2865
1990     2839
1991     2828
1989     2453
1986     2407
1980     2189
        ...
1969      581
1970      575
1967      513
1968      419
1966      395
1964      376
1965      356
1963      264
1962      203
1961      153
1960      120
1959       89
1958       74
1957       54
1956       50
1955       31
1953       21
1954       19
1951       17
1950        8
1952        6
1949        5
1947        4
1948        2
1946        2
1943        2
1945        1
1944        1
1942        1
1939        1
Name: ANIO_PERMISO, dtype: int64

MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2012/TABLA_PERS_2012.csv

,ID_ACCIDENTE,ID_VEHICULO,ID_PERSONA,ID_CONDUCTOR,ID_PASAJERO,ID_PEATON,EDAD,SEXO,ANIO_PERMISO,MANIOBRAS,INFRACC_VELOCIDAD,INFRACC_PEATON,ANIO,NUM_CONDUCTORES,MEDIA_ANTIG_CARNET
0,2013010000001,1.0,1,1.0,NaN,NaN,45,1,9999.0,1.0,3.0,NaN,2013,1625.0,1994.0
1,2013010000002,1.0,1,1.0,NaN,NaN,65,1,9999.0,11.0,3.0,NaN,2013,597.0,1979.0
2,2013010000003,1.0,1,1.0,NaN,NaN,81,1,9999.0,22.0,3.0,NaN,2013,171.0,1970.0
3,2013010000003,2.0,1,2.0,NaN,NaN,31,1,9999.0,1.0,4.0,NaN,2013,1971.0,2005.0
4,2013010000004,1.0,1,1.0,NaN,NaN,57,1,9999.0,1.0,1.0,NaN,2013,950.0,1984.0

,ID_ACCIDENTE,ID_VEHICULO,ID_PERSONA,ID_CONDUCTOR,ID_PASAJERO,ID_PEATON,EDAD,SEXO,ANIO_PERMISO,MANIOBRAS,INFRACC_VELOCIDAD,INFRACC_PEATON,ANIO,NUM_CONDUCTORES,MEDIA_ANTIG_CARNET
0,2013010000001,1.0,1,1.0,NaN,NaN,45,V,1994.0,1.0,3.0,NaN,2013,1625.0,1994.0
1,2013010000002,1.0,1,1.0,NaN,NaN,65,V,1979.0,11.0,3.0,NaN,2013,597.0,1979.0
2,2013010000003,1.0,1,1.0,NaN,NaN,81,V,1970.0,22.0,3.0,NaN,2013,171.0,1970.0
3,2013010000003,2.0,1,2.0,NaN,NaN,31,V,2005.0,1.0,4.0,NaN,2013,1971.0,2005.0
4,2013010000004,1.0,1,1.0,NaN,NaN,57,V,1984.0,1.0,1.0,NaN,2013,950.0,1984.0

0       67029
2008     7377
2012     6754
2006     6509
2007     6498
2011     6228
2009     5916
2005     5821
2010     5527
2003     5174
2004     4797
1        4341
1997     4175
1994     3971
2000     3952
1990     3807
1992     3759
2002     3702
2001     3639
1999     3508
1996     3469
1998     3256
1993     3253
2013     3189
1966     3068
1989     2876
1995     2873
1987     2811
1988     2603
1991     2117
        ...
1970      715
1972      697
1969      643
1971      596
1967      494
1968      392
1965      378
1964      336
1963      296
1962      199
1961      148
1960      119
1959       88
1957       65
1958       63
1956       46
1955       29
1954       29
1953       16
1952       14
1949        9
1951        8
1950        7
1948        3
1947        3
1946        3
1943        1
1942        1
1940        1
1930        1
Name: ANIO_PERMISO, dtype: int64

MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2013/TABLA_PERS_2013.csv

,ID_ACCIDENTE,ID_VEHICULO,ID_PERSONA,ID_CONDUCTOR,ID_PASAJERO,ID_PEATON,EDAD,SEXO,ANIO_PERMISO,MANIOBRAS,INFRACC_VELOCIDAD,INFRACC_PEATON,ANIO,NUM_CONDUCTORES,MEDIA_ANTIG_CARNET
0,2014010051160,1.0,1,1.0,NaN,NaN,39,1,2003.0,71.0,3.0,NaN,2014,2327.0,1999.0
1,2014010051161,1.0,1,1.0,NaN,NaN,52,1,1985.0,71.0,3.0,NaN,2014,1631.0,1988.0
2,2014010051161,2.0,1,2.0,NaN,NaN,18,1,9999.0,71.0,3.0,NaN,2014,715.0,2013.0
3,2014010051162,1.0,1,1.0,NaN,NaN,62,1,1971.0,71.0,3.0,NaN,2014,841.0,1979.0
4,2014010051163,1.0,1,1.0,NaN,NaN,25,1,2013.0,71.0,3.0,NaN,2014,1886.0,2009.0

,ID_ACCIDENTE,ID_VEHICULO,ID_PERSONA,ID_CONDUCTOR,ID_PASAJERO,ID_PEATON,EDAD,SEXO,ANIO_PERMISO,MANIOBRAS,INFRACC_VELOCIDAD,INFRACC_PEATON,ANIO,NUM_CONDUCTORES,MEDIA_ANTIG_CARNET
0,2014010051160,1.0,1,1.0,NaN,NaN,39,V,2003.0,71.0,3.0,NaN,2014,2327.0,1999.0
1,2014010051161,1.0,1,1.0,NaN,NaN,52,V,1985.0,71.0,3.0,NaN,2014,1631.0,1988.0
2,2014010051161,2.0,1,2.0,NaN,NaN,18,V,2013.0,71.0,3.0,NaN,2014,715.0,2013.0
3,2014010051162,1.0,1,1.0,NaN,NaN,62,V,1971.0,71.0,3.0,NaN,2014,841.0,1979.0
4,2014010051163,1.0,1,1.0,NaN,NaN,25,V,2013.0,71.0,3.0,NaN,2014,1886.0,2009.0

0       68279
2008     7663
2007     7033
2009     6354
2013     6206
2006     6067
2005     5657
2011     5502
2012     4988
1988     4946
2004     4906
2010     4883
2003     4592
1995     3946
1996     3908
1993     3853
2002     3641
1990     3554
1998     3467
2001     3438
1992     3365
2000     3304
1994     3195
1999     3097
1989     3065
2014     3028
1997     3013
1991     2807
1987     2736
1985     2442
        ...
1974     1070
1972     1032
1971      829
1970      810
1969      659
1967      599
1968      506
1964      480
1965      451
1966      444
1963      393
1962      289
1961      183
1960      138
1959      111
1958      100
1957       71
1956       58
1955       31
1954       29
1953       19
1950       10
1951        8
1952        8
1948        4
1947        4
1945        3
1949        2
1946        1
1944        1
Name: ANIO_PERMISO, dtype: int64

MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2014/TABLA_PERS_2014.csv

,ID_ACCIDENTE,ID_VEHICULO,ID_PERSONA,ID_CONDUCTOR,ID_PASAJERO,ID_PEATON,EDAD,SEXO,ANIO_PERMISO,MANIOBRAS,INFRACC_VELOCIDAD,INFRACC_PEATON,ANIO,NUM_CONDUCTORES,MEDIA_ANTIG_CARNET
0,2015010050001,1.0,1,1.0,NaN,NaN,42,1,9999.0,1.0,3.0,NaN,2015,2268.0,1997.0
1,2015010050002,1.0,1,1.0,NaN,NaN,44,1,9999.0,1.0,3.0,NaN,2015,2188.0,1995.0
2,2015010050002,2.0,1,2.0,NaN,NaN,32,1,9999.0,1.0,3.0,NaN,2015,2191.0,2005.0
3,2015010050003,1.0,1,1.0,NaN,NaN,50,1,9999.0,1.0,3.0,NaN,2015,1793.0,1990.0
4,2015010050003,2.0,1,2.0,NaN,NaN,52,1,9999.0,1.0,3.0,NaN,2015,1709.0,1988.0

,ID_ACCIDENTE,ID_VEHICULO,ID_PERSONA,ID_CONDUCTOR,ID_PASAJERO,ID_PEATON,EDAD,SEXO,ANIO_PERMISO,MANIOBRAS,INFRACC_VELOCIDAD,INFRACC_PEATON,ANIO,NUM_CONDUCTORES,MEDIA_ANTIG_CARNET
0,2015010050001,1.0,1,1.0,NaN,NaN,42,V,1997.0,1.0,3.0,NaN,2015,2268.0,1997.0
1,2015010050002,1.0,1,1.0,NaN,NaN,44,V,1995.0,1.0,3.0,NaN,2015,2188.0,1995.0
2,2015010050002,2.0,1,2.0,NaN,NaN,32,V,2005.0,1.0,3.0,NaN,2015,2191.0,2005.0
3,2015010050003,1.0,1,1.0,NaN,NaN,50,V,1990.0,1.0,3.0,NaN,2015,1793.0,1990.0
4,2015010050003,2.0,1,2.0,NaN,NaN,52,V,1988.0,1.0,3.0,NaN,2015,1709.0,1988.0

0       73898
2014     6678
2007     6667
2008     6622
2006     6309
2009     5716
2013     5477
2010     5294
2011     5118
2015     4944
2004     4933
2012     4829
2005     4768
1998     4395
1992     4354
2003     4231
1996     4092
2002     3878
1997     3764
1995     3592
1990     3580
1993     3565
1994     3504
2000     3296
2001     3263
1989     3236
1999     3222
1991     3176
1        3162
1988     3093
        ...
1981     1294
1974     1260
1972     1138
1971     1038
1969      872
1970      788
1967      670
1968      584
1966      562
1965      516
1964      437
1963      357
1962      303
1961      190
1960      122
1959      106
1958       90
1957       64
1956       42
1955       25
1954       20
1953       15
1952        8
1949        5
1948        4
1951        3
1950        3
1947        3
1945        3
1942        1
Name: ANIO_PERMISO, dtype: int64

MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2015/TABLA_PERS_2015.csv

1     966485
2     562224
3      75661
4      18615
5       5496
6       2113
7        986
8        485
9        260
10       185
11       144
13       100
12        98
14        65
16        59
15        53
19        50
20        48
21        46
43        44
22        44
18        41
27        37
23        37
17        37
24        29
25        29
26        26
38        23
31        22
       ...
91         1
82         1
75         1
76         1
81         1
83         1
84         1
85         1
73         1
87         1
88         1
89         1
92         1
69         1
71         1
70         1
68         1
67         1
66         1
65         1
64         1
63         1
62         1
61         1
60         1
59         1
58         1
57         1
56         1
93         1
Name: ID_VEHICULO, dtype: int64

1    1192100
2     407788
3      33894
Name: ID_PERSONA, dtype: int64

1     1272140
2      306283
3       39680
4        9887
5        2877
6        1127
7         532
8         281
9         167
10        109
11         79
12         63
13         47
14         40
16         32
15         31
19         25
20         25
18         25
21         23
17         22
27         21
22         21
23         19
24         15
25         13
26         13
28         12
29         11
30         10
       ...
79          1
80          1
81          1
82          1
83          1
84          1
85          1
86          1
87          1
88          1
89          1
74          1
73          1
72          1
63          1
57          1
58          1
59          1
60          1
61          1
62          1
64          1
71          1
65          1
66          1
67          1
68          1
69          1
70          1
0           1
Name: ID_CONDUCTOR, dtype: int64

1      1465991
2        88629
3        41160
4        18107
5         7071
6         3664
7         2018
8         1192
9          738
10         533
11         419
12         350
13         303
14         260
15         236
16         215
17         197
18         183
19         168
20         154
21         146
22         133
23         121
24         116
25         110
26         102
27          93
28          86
29          82
30          81
        ...
91           1
92           1
93           1
94           1
95           1
103          1
97           1
98           1
99           1
100          1
101          1
102          1
88           1
89           1
78           1
87           1
86           1
85           1
84           1
83           1
82           1
81           1
80           1
79           1
77           1
76           1
75           1
74           1
73           1
104          1
Name: ID_PASAJERO, dtype: int64

1     1631018
2        2275
3         334
4          88
5          37
6          16
7           7
9           2
8           2
12          1
11          1
10          1
Name: ID_PEATON, dtype: int64

36     103277
38      44066
37      43138
32      39642
30      39250
31      39245
33      38924
34      38836
29      38630
28      38562
35      38498
27      38159
25      37749
26      37550
23      37538
22      37214
24      37030
21      36696
20      35863
39      34511
40      33803
41      32402
19      31706
42      31525
43      30501
44      28980
45      28519
46      27359
47      26265
48      25686
        ...
7        3654
3        3628
2        3555
1        3317
81       3078
82       2874
0        2326
83       2266
84       2009
85       1597
86       1223
87       1018
88        751
99        746
89        597
90        405
91        297
92        188
93        139
94         97
95         68
96         48
97         27
98         20
109        10
100         6
110         2
102         1
104         1
106         1
Name: EDAD, dtype: int64

9999    319320
0       257891
2008     59063
2007     57847
2006     51720
2001     49746
2005     44854
2009     41385
2004     39135
2003     36065
2010     33389
2002     28040
2000     26969
2011     26631
1996     26360
1997     25817
1995     24199
1992     24192
1994     23898
1993     23649
1998     23620
1999     23122
1990     22892
1988     22518
1989     20424
1991     20075
2012     19938
1987     17207
1986     16906
2013     14872
         ...
1963      2493
1962      1908
1961      1259
1960       955
1959       779
1958       644
1957       566
1956       405
1955       236
1954       218
1953       156
1952        98
1951        90
1950        68
1949        48
1947        31
1948        28
1945        21
1946        16
1920        10
1944         9
1943         8
1942         6
1941         4
1940         2
1939         1
1935         1
1934         1
1930         1
1927         1
Name: ANIO_PERMISO, dtype: int64

1     462907
18    461200
52    272067
72    130241
22     38214
21     32508
12     27529
71     26306
51     25656
3      24227
11     18053
2      12725
77     10759
0       8077
41      7446
43      7305
16      7112
19      7038
23      6856
20      6067
24      5891
17      5361
31      4296
15      4105
13      3492
5       3295
6       1784
25      1779
14      1748
29      1703
61      1574
7       1570
8       1252
42       954
30       701
4        604
9        586
26       499
10       174
27       121
Name: MANIOBRAS, dtype: int64

3    958538
4    452364
1     84546
5     82347
0     50616
2      5371
Name: INFRACC_VELOCIDAD, dtype: int64

9    1619355
0       5197
4       3303
8       2267
2       2036
1        813
5        652
6         92
7         57
3         10
Name: INFRACC_PEATON, dtype: int64

2008    223461
2015    217786
2009    212510
2010    206498
2014    205887
2013    200942
2012    187307
2011    179391
Name: ANIO, dtype: int64

CREADA VISTA CON DATOS DE VEHICULOS DE 2008 A 2015 EN ./CLEANED/----

### ESTAS SON LA COLUMNAS FINALES DE LOS 3 DATASETS

In [125]:
dic_all_headers={'Accvict':Header_Accvict,'Pers':Header_Pers,'Vehic':Header_Vehic}
dic_all_headers

{'Accvict': ['ID_ACCIDENTE',
  'ANIO',
  'MES',
  'HORA',
  'DIASEMANA',
  'PROVINCIA',
  'COMUNIDAD_AUTONOMA',
  'TOT_VICTIMAS',
  'TOT_MUERTOS',
  'TOT_HERIDOS_GRAVES',
  'TOT_HERIDOS_LEVES',
  'TOT_VEHICULOS_IMPLICADOS',
  'ZONA',
  'ZONA_AGRUPADA',
  'RED_CARRETERA',
  'TIPO_VIA',
  'SUPERFICIE_CALZADA',
  'LUMINOSIDAD',
  'FACTORES_ATMOSFERICOS',
  'VISIBILIDAD_RESTRINGIDA',
  'TIPO_ACCIDENTE'],
 'Pers': ['ID_ACCIDENTE',
  'ID_VEHICULO',
  'ID_PERSONA',
  'ID_CONDUCTOR',
  'ID_PASAJERO',
  'ID_PEATON',
  'EDAD',
  'SEXO',
  'ANIO_PERMISO',
  'MANIOBRAS',
  'INFRACC_VELOCIDAD',
  'INFRACC_PEATON',
  'ANIO'],
 'Vehic': ['ID_ACCIDENTE',
  'ID_VEHICULO',
  'ANIO_MATRICULA_VEHICULO',
  'MES_MATRICULA_VEHICULO',
  'TIPO_VEHICULO',
  'NUMERO_OCUPANTES_VEH',
  'ANIO']}

### -------------------------------------------------------------------------------------------------------
### PROCEDO A CARGAR EN DATAFRAMES DE CADA UNO DE LOS FICHEROS DEL DICCIONARIO
### -------------------------------------------------------------------------------------------------------

In [ ]:
df = pd.DataFrame({
    'x': [12, 20, 28, 18, 29, 33, 24, 45, 45, 52, 51, 52, 55, 53, 55, 61, 64, 69, 72],
    'y': [39, 36, 30, 52, 54, 46, 55, 59, 63, 70, 66, 63, 58, 23, 14, 8, 19, 7, 24]
})
df.head()
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=3)
kmeans.fit(df)
labels = kmeans.predict(df)
centroids = kmeans.cluster_centers_
labels
centroids

In [ ]:
from matplotlib import pyplot as plt
from sklearn.datasets import load_iris

df = pd.read_csv('./cleaned/MICRODATOS_ACC_VICT_2015/TABLA_VEHIC_2015.csv',delimiter=";",encoding="ISO-8859-1")
df.head()

from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=3)
kmeans.fit(df)
labels = kmeans.predict(df)
centroids = kmeans.cluster_centers_
labels
centroids

fig = plt.figure(figsize=(5, 5))

#colors = map(lambda x: colmap[x+1], labels)

plt.scatter(df['ANIO_MATRICULA_VEHICULO'], df['MES_MATRICULA_VEHICULO'], alpha=0.5, edgecolor='k')

plt.xlim(0, 80)
plt.ylim(0, 80)
plt.show()

In [ ]:
import sqlite3 
import pandas as pd
with sqlite3.connect("./cleaned/jj.db") as con:
    df = pd.read_csv('./cleaned/view_vehic_08_15.csv',delimiter=";",encoding="ISO-8859-1")
    c = con.cursor()
    c.executescript('''
    CREATE TABLE f (
    ID_ACCIDENTE INTEGER,
    ID_VEHICULO INTEGER,
    ANIO_MATRICULA_VEHICULO INTEGER,
    MES_MATRICULA_VEHICULO INTEGER,
    TIPO_VEHICULO INTEGER,
    NUMERO_OCUPANTES_VEH INTEGER,
    ANIO INTEGER)''')
  
    df.to_sql('f', con, index=False,schema=False)
    con.commit

In [ ]:
import sqlite3
with sqlite3.connect("./cleaned/datos_dgt.db") as con:
    c = con.cursor()
    c.executescript(
    "CREATE TABLE Direcciones (calle TEXT, cp NUMERIC);"
    "INSERT INTO Direcciones VALUES ('Calle 1', 1644);"
    "INSERT INTO Direcciones VALUES ('Calle 2', 7594);"
    )
    c.executescript(
    "CREATE TABLE vehic;"
    )
    df = pandas.read_csv('./cleaned/view_vehic_08_15.csv',delimiter=";",encoding="ISO-8859-1")
    df.to_sql(vehic, con, index=False)
    con.commit
c.close

In [ ]:
#guardo las claves de cada tipo de fichero
list_keys_dic=dic_all_files.keys()
list_keys_dic
#Actualizo el diccionario con la rutas a los ficheros de trabajo
dic_all_files['Accvict'].append('./cleaned/view_accvict_08_15.csv')
dic_all_files['Pers'].append('./cleaned/view_pers_08_15.csv')
dic_all_files['Vehic'].append('./cleaned/view_vehic_08_15.csv')
dic_all_files

In [ ]:
dic_all_files['Accvict'][8]

In [ ]:
#Creo un dataframe vacio para posteriormente rellenarlo con los a√±os 2001 al 2015
#Recorriendo por cada key los n values del diccionario

dic_total={}
df_total=pd.DataFrame()

for key in list_keys_dic:
    print ("#### "+key+" ####")
    for file in dic_all_files[key]:
        #meto en df cada file quedandome solo con las columnas seleccionadas anteriormente
        df_year=pd.read_csv(file,delimiter=";",encoding="ISO-8859-1",usecols=dic_all_headers[key])
        df_year=df_year.fillna(0)
        print("Cargando fichero-->"+file+"\n\t"+"Registros= "+str(df_year.shape[0])+"\n\t"+"Columnas= "+str(df_year.shape[1]))
        #df_total=df_total.append(df_year)
        df_total=pd.concat([df_total,df_year],ignore_index=True)
    dic_total[key] = df_total
print ("\n\t\t"+"##### CARGADOS EN DF_TOTAL TODOS LOS PERIODOS ########"+"\t\t")
df_total.shape

#### AHORA TENGO DE DATA FRAMES CON TODOS LOS A√ëOS DESDE 2008 HASTA 2015

In [ ]:
##para categorizar
#dic_total['Accvict']['HORA']=dic_total['Accvict']['HORA'].astype('category')
#dic_total['Accvict']['HORA'].describe()
#este funciona
dic_total['Accvict']['HORA']= pd.Series(pd.Categorical(dic_total['Accvict']['HORA'], categories=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]))
dic_total['Accvict']['HORA'].cat.rename_categories(['0','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23'])
dic_total['Accvict']['HORA'].cat.codes

In [ ]:
#Extraigo los datos cuantitativos de victimas por
# 1. A√±o-mes-dia de la semana
# 2. Localizacion geografica

accvict_geo=pd.get_dummies(dic_total['Accvict'], prefix=['CA','PROV'], columns=['COMUNIDAD_AUTONOMA','PROVINCIA'])

In [ ]:
dic_total['Accvict']

In [ ]:
df = pd.DataFrame({'A': ['x', 'y', 'x'], 'B': ['z', 'u', 'z'],
                  'C': [1,2,3],
                  'D':['j', 'l', 'j']})

In [ ]:
df

In [ ]:
df_1= pd.get_dummies(df)
df_1

In [ ]:
df_2=pd.get_dummies(df, prefix=['DDDD','DDD','D'], columns=['A','B','C'])
df_2

In [ ]:
  df_year=pd.read_csv(files_list[file],delimiter=";",encoding="ISO-8859-1",converters={'COD_MUNICIPIO': str, 'MUNICIPIO': str})


### LECTURA DE LOS DATASET DE VEHICULOS PARA LOS A√ëOS 2011-2015

In [ ]:
df_year.shape[0]

In [ ]:
#Creo un dataframe vacio para posteriormente rellenarlo con los a√±os 2001 al 2015
df_accvict_08_15 = pd.DataFrame()
dict={}
for key in list_keys_dic:
    for file in range(0,len(files_list)):
        df_year=pd.read_csv(files_list[file],delimiter=";",encoding="ISO-8859-1")
        df_year.fillna(0)
        dict[tipology]=files_list[file]
        print("Cargando fichero-->"+files_list[file]+"\n\t"+"Registros= "+str(df_year.shape[0])+"\n\t"+"Columnas= "+str(df_year.shape[1]))
        if tipology=='list_accvict'
        %(tipology)+_08_15=df_accvict_08_15.append(df_year)

In [ ]:
j=df_accvict_08_15.groupby(['ANIO']).size()

In [ ]:
type(j)

In [ ]:
df_accvict_08_15.groupby(['ANIO']).agg(['mean', 'count'])

In [ ]:
print(df_accvict_08_15.head())
#df1=df[['ANIO','TOT_VICTIMAS']]

In [ ]:
dict

In [ ]:
threedee.scatter(df.ANIO, df["TOT_MUERTOS"], df['Volume'])