#### IMPORTO LIBRERIAS ####

In [25]:
import pandas as pd
import numpy as np
from sklearn import linear_model

#configuro notebook para mostrar varios salidas en la misma celda
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
#amplio el output de columnas a 500
pd.set_option('display.max_columns', 500)

!pwd
!ls -l

/Users/mac/Documents/MASTER_DATA_SCIENCE/tfm
total 856
-rw-r--r--   1 mac  staff  104803 15 abr 11:08 TFM_DGT-pruebas.ipynb
-rw-r--r--   1 mac  staff  331497 30 may 22:56 TFM_DGT.ipynb
drwxr-xr-x  14 mac  staff     476 30 may 11:10 cleaned
-rw-r--r--   1 mac  staff       0 23 may 22:42 gg
drwxr-xr-x   5 mac  staff     170 30 mar 23:28 metadata
drwxr-xr-x  11 mac  staff     374 30 mar 23:28 raw
drwxr-xr-x  14 mac  staff     476 11 may 17:18 raw_zip

### CONSERVO LOS DATOS ORIGINALES EN LA CARPETA RAW. LOS FICHEROS DE TRABAJO ESTAN EN LA CARPETA CLEANED

In [26]:
!ls -l
!cp -r raw/* cleaned/

total 856
-rw-r--r--   1 mac  staff  104803 15 abr 11:08 TFM_DGT-pruebas.ipynb
-rw-r--r--   1 mac  staff  331497 30 may 22:56 TFM_DGT.ipynb
drwxr-xr-x  14 mac  staff     476 30 may 11:10 cleaned
-rw-r--r--   1 mac  staff       0 23 may 22:42 gg
drwxr-xr-x   5 mac  staff     170 30 mar 23:28 metadata
drwxr-xr-x  11 mac  staff     374 30 mar 23:28 raw
drwxr-xr-x  14 mac  staff     476 11 may 17:18 raw_zip

### GUARDO UN LISTADO POR TIPOLOGIA DE FICHERO, PARA POSTERIORMENTE ALMACENARLO EN UN DICCIONARIO ###

In [27]:
accvict=!ls ./cleaned/MICRODATOS_ACC_VICT_20*/TABLA_ACCVICT_*.csv
pers=!ls ./cleaned/MICRODATOS_ACC_VICT_20*/TABLA_PERS_*.csv
vehic=!ls ./cleaned/MICRODATOS_ACC_VICT_20*/TABLA_VEHIC_*.csv
dic_all_files={'Accvict':accvict,'Pers':pers,'Vehic':vehic}
len(dic_all_files)

3

#### RUTAS DE TODOS LOS FICHEROS ####

In [28]:
dic_all_files

{'Accvict': ['./cleaned/MICRODATOS_ACC_VICT_2008/TABLA_ACCVICT_24H_2008.csv',
  './cleaned/MICRODATOS_ACC_VICT_2009/TABLA_ACCVICT_24H_2009.csv',
  './cleaned/MICRODATOS_ACC_VICT_2010/TABLA_ACCVICT_24H_2010.csv',
  './cleaned/MICRODATOS_ACC_VICT_2011/TABLA_ACCVICT_2011.csv',
  './cleaned/MICRODATOS_ACC_VICT_2012/TABLA_ACCVICT_2012.csv',
  './cleaned/MICRODATOS_ACC_VICT_2013/TABLA_ACCVICT_2013.csv',
  './cleaned/MICRODATOS_ACC_VICT_2014/TABLA_ACCVICT_2014.csv',
  './cleaned/MICRODATOS_ACC_VICT_2015/TABLA_ACCVICT_2015.csv'],
 'Pers': ['./cleaned/MICRODATOS_ACC_VICT_2008/TABLA_PERS_24H_2008.csv',
  './cleaned/MICRODATOS_ACC_VICT_2009/TABLA_PERS_24H_2009.csv',
  './cleaned/MICRODATOS_ACC_VICT_2010/TABLA_PERS_24H_2010.csv',
  './cleaned/MICRODATOS_ACC_VICT_2011/TABLA_PERS_2011.csv',
  './cleaned/MICRODATOS_ACC_VICT_2012/TABLA_PERS_2012.csv',
  './cleaned/MICRODATOS_ACC_VICT_2013/TABLA_PERS_2013.csv',
  './cleaned/MICRODATOS_ACC_VICT_2014/TABLA_PERS_2014.csv',
  './cleaned/MICRODATOS_ACC_VICT_2015/TABLA_PERS_2015.csv'],
 'Vehic': ['./cleaned/MICRODATOS_ACC_VICT_2008/TABLA_VEHIC_24H_2008.csv',
  './cleaned/MICRODATOS_ACC_VICT_2009/TABLA_VEHIC_24H_2009.csv',
  './cleaned/MICRODATOS_ACC_VICT_2010/TABLA_VEHIC_24H_2010.csv',
  './cleaned/MICRODATOS_ACC_VICT_2011/TABLA_VEHIC_2011.csv',
  './cleaned/MICRODATOS_ACC_VICT_2012/TABLA_VEHIC_2012.csv',
  './cleaned/MICRODATOS_ACC_VICT_2013/TABLA_VEHIC_2013.csv',
  './cleaned/MICRODATOS_ACC_VICT_2014/TABLA_VEHIC_2014.csv',
  './cleaned/MICRODATOS_ACC_VICT_2015/TABLA_VEHIC_2015.csv']}

### Ahora que los datos estan trazados, procedemos a realizar una observacion preliminar para comprobar si hay homgeneidad en los datos, y si disponemos de la misma informacion en cada data set, ya que segun la DGT, las extructuras de los datos cambian a partir del 2011 en hasta el 2015.

### Por los que tenemos dos grupos de datos:

### Tipo 1) 2008-2010
### Tipo 2) 2011-2015

### Recorro cada clave - para obtener las cabeceras y poder comparar que campos tengo en cada a√±o por tipo de fichero, e introduzco los data frames en una lista.

In [29]:
dic_all_files.keys()

dict_keys(['Accvict', 'Pers', 'Vehic'])

In [30]:
#Creo una lista con las cabeceras de los ficheros
Headers_List=[]
for key in dic_all_files.keys():
    df_2008=pd.read_csv(dic_all_files[key][0],delimiter=';',nrows=0,encoding="ISO-8859-1")
    df_2008=df_2008.transpose()
    df_2008.reset_index(inplace=True)
    df_2008.columns=[key+'_2008']

    df_2015=pd.read_csv(dic_all_files[key][7],delimiter=';',nrows=0,encoding="ISO-8859-1")
    df_2015=df_2015.transpose()
    df_2015.reset_index(inplace=True)
    df_2015.columns=[key+'_2015']
        
    Headers_List.append(df_2008.merge(df_2015, left_on=key+'_2008', right_on=key+'_2015', how='outer'))

### --------------------------------------------------------------------------------------------------

## REVISION DE LOS TRES TIPOS DE DATA SETS

### SE DISPONE DE TRES TIPOS DE DATASETS:

#### 1. ACCIDENTES
#### 2. PERSONAS
#### 3 .VEHICULOS

#### COMO PRIMER PASO VOY A REVISAR TANTO ESTRUCTURA, PARA DECIDIR QUE VARIABLES MANTENDRE PARA EL ANALISIS POSTERIOR. PROCEDERE A MODIFICAR LOS DATASET DE LA CARPETA "./CLEANED" ANTES DE REALIZAR LA CARGA PARA EN ANALISIS.

### --------------------------------------------------------------------------------------------------

###   1. ACCIDENTES

In [31]:
#Cabecera del fichero de Accidentes_victimas
Header_Accvict=Headers_List[0]
Header_Accvict

                Accvict_2008              Accvict_2015
0               ID_ACCIDENTE              ID_ACCIDENTE
1                       ANIO                      ANIO
2                        MES                       MES
3                       HORA                      HORA
4                  DIASEMANA                 DIASEMANA
5                  PROVINCIA                 PROVINCIA
6         COMUNIDAD_AUTONOMA        COMUNIDAD_AUTONOMA
7                       ISLA                      ISLA
8                  MUNICIPIO                 MUNICIPIO
9               TOT_VICTIMAS              TOT_VICTIMAS
10               TOT_MUERTOS               TOT_MUERTOS
11        TOT_HERIDOS_GRAVES        TOT_HERIDOS_GRAVES
12         TOT_HERIDOS_LEVES         TOT_HERIDOS_LEVES
13  TOT_VEHICULOS_IMPLICADOS  TOT_VEHICULOS_IMPLICADOS
14                      ZONA                      ZONA
15             ZONA_AGRUPADA             ZONA_AGRUPADA
16                 CARRETERA                 CARRETERA
17             RED_CARRETERA             RED_CARRETERA
18                  TIPO_VIA                  TIPO_VIA
19       TRAZADO_NO_INTERSEC       TRAZADO_NO_INTERSEC
20             TIPO_INTERSEC             TIPO_INTERSEC
21             ACOND_CALZADA                       NaN
22                 PRIORIDAD                       NaN
23        SUPERFICIE_CALZADA        SUPERFICIE_CALZADA
24               LUMINOSIDAD               LUMINOSIDAD
25     FACTORES_ATMOSFERICOS     FACTORES_ATMOSFERICOS
26   VISIBILIDAD_RESTRINGIDA   VISIBILIDAD_RESTRINGIDA
27        OTRA_CIRCUNSTANCIA                       NaN
28                    ACERAS                    ACERAS
29            TIPO_ACCIDENTE            TIPO_ACCIDENTE
30      DENSIDAD_CIRCULACION                       NaN
31        MEDIDAS_ESPECIALES                       NaN
32                       NaN             COD_MUNICIPIO
33                       NaN           TOT_VICTIMAS30D
34                       NaN            TOT_MUERTOS30D
35                       NaN     TOT_HERIDOS_GRAVES30D
36                       NaN      TOT_HERIDOS_LEVES30D
37                       NaN          PRIORIDAD_AGENTE
38                       NaN        PRIORIDAD_SEMAFORO
39                       NaN            PRIORIDAD_STOP
40                       NaN            PRIORIDAD_CEDA
41                       NaN          PRIORIDAD_MARCAS
42                       NaN            PRIORIDAD_PASO
43                       NaN            PRIORIDAD_OTRA

In [32]:
#mantengo solo las columnas que son iguales en los dos tipos de dataset

Header_Accvict=Header_Accvict[Header_Accvict['Accvict_2008']==Header_Accvict['Accvict_2015']]
Header_Accvict=Header_Accvict['Accvict_2008'].tolist()
dic_all_headers={'Accvict':Header_Accvict}
dic_all_headers

#Genero nuevo DF
df_all_years=pd.DataFrame(index=None, columns=dic_all_headers['Accvict'])

#Cargo cada csv y concateno
for file in dic_all_files['Accvict']:
    df_vict=pd.read_csv(file,delimiter=';',usecols=dic_all_headers['Accvict'],encoding="ISO-8859-1")
    #relleno los nulos con 999
    df_vict.fillna(999,inplace=True)
    df_all_years=pd.concat([df_all_years,df_vict],ignore_index=True)
    
#muestreo los datos
df_all_years.head(3)
df_all_years.tail(3)
df_all_years.sample(3)

#De las columnas del data frame final, que contiene todos los a√±os, 
#examino los distintos valores de las columnas, para tratar de decidir 
#que campos conservare para el analisis.
for col in df_all_years.columns:
    #no saco los distinos valores para los id_accidente
    if col !='ID_ACCIDENTE':
        df_all_years[col].value_counts(dropna=False)
        
#Una vez examindas los resultado anteriores, decido descartar los siguientes campos:
df_vict.drop(['ISLA','MUNICIPIO','TIPO_INTERSEC','ACERAS','VISIBILIDAD_RESTRINGIDA','CARRETERA','TRAZADO_NO_INTERSEC'], axis=1, inplace=True)

#Actualizo mi diccionario con las cabeceras que utilizare en el proceso de carga
Header_Accvict=df_vict.columns.tolist()
dic_all_headers={'Accvict':Header_Accvict}
dic_all_headers
#En el campo factores atmosfericos, como lo considero relevante
#y tengo 4787 valores desconocidos, englobo estos registros dentro de la categoria otros(9)

for file in dic_all_files['Accvict']:
    df_acc=pd.read_csv(file,delimiter=";",usecols=dic_all_headers['Accvict'],encoding="ISO-8859-1")
    df_acc.fillna(999,inplace=True)
    #factores atmosfericos desconocidos,tal y como cometo arriba van a otros
    df_acc.ix[(df_vict['FACTORES_ATMOSFERICOS']==999), 'FACTORES_ATMOSFERICOS'] =9
    df_acc.to_csv(file,index=False,sep=";",encoding="ISO-8859-1")
    print("MODFICADO ----- "+file)
    
print("CREADA VISTA CON DATOS DE ACCIDENTES Y VISTIMAS DE 2008 A 2015")
df_all_years.to_csv("./cleaned/view_accvict_08_15.csv",index=False,sep=";",encoding="ISO-8859-1")

########   FIN DEL PROCESAMIENTO DE LOS DATASET DE ACCIDENTES #########

{'Accvict': ['ID_ACCIDENTE',
  'ANIO',
  'MES',
  'HORA',
  'DIASEMANA',
  'PROVINCIA',
  'COMUNIDAD_AUTONOMA',
  'ISLA',
  'MUNICIPIO',
  'TOT_VICTIMAS',
  'TOT_MUERTOS',
  'TOT_HERIDOS_GRAVES',
  'TOT_HERIDOS_LEVES',
  'TOT_VEHICULOS_IMPLICADOS',
  'ZONA',
  'ZONA_AGRUPADA',
  'CARRETERA',
  'RED_CARRETERA',
  'TIPO_VIA',
  'TRAZADO_NO_INTERSEC',
  'TIPO_INTERSEC',
  'SUPERFICIE_CALZADA',
  'LUMINOSIDAD',
  'FACTORES_ATMOSFERICOS',
  'VISIBILIDAD_RESTRINGIDA',
  'ACERAS',
  'TIPO_ACCIDENTE']}

,ID_ACCIDENTE,ANIO,MES,HORA,DIASEMANA,PROVINCIA,COMUNIDAD_AUTONOMA,ISLA,MUNICIPIO,TOT_VICTIMAS,TOT_MUERTOS,TOT_HERIDOS_GRAVES,TOT_HERIDOS_LEVES,TOT_VEHICULOS_IMPLICADOS,ZONA,ZONA_AGRUPADA,CARRETERA,RED_CARRETERA,TIPO_VIA,TRAZADO_NO_INTERSEC,TIPO_INTERSEC,SUPERFICIE_CALZADA,LUMINOSIDAD,FACTORES_ATMOSFERICOS,VISIBILIDAD_RESTRINGIDA,ACERAS,TIPO_ACCIDENTE
0,2.00848e+12,2008.0,4.0,7.0,5.0,48.0,17.0,999.0,999.0,4.0,0.0,0.0,4.0,1.0,1.0,1.0,BI-631,3.0,2.0,1.0,999.0,2.0,3.0,1.0,8.0,N,71.0
1,2.00825e+12,2008.0,3.0,14.0,7.0,25.0,9.0,999.0,999.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,C-12,2.0,5.0,2.0,999.0,1.0,1.0,9.0,8.0,N,22.0
2,2.00843e+12,2008.0,10.0,12.0,7.0,43.0,9.0,999.0,999.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,TV-7331,4.0,5.0,1.0,999.0,1.0,1.0,1.0,0.0,N,68.0

,ID_ACCIDENTE,ANIO,MES,HORA,DIASEMANA,PROVINCIA,COMUNIDAD_AUTONOMA,ISLA,MUNICIPIO,TOT_VICTIMAS,TOT_MUERTOS,TOT_HERIDOS_GRAVES,TOT_HERIDOS_LEVES,TOT_VEHICULOS_IMPLICADOS,ZONA,ZONA_AGRUPADA,CARRETERA,RED_CARRETERA,TIPO_VIA,TRAZADO_NO_INTERSEC,TIPO_INTERSEC,SUPERFICIE_CALZADA,LUMINOSIDAD,FACTORES_ATMOSFERICOS,VISIBILIDAD_RESTRINGIDA,ACERAS,TIPO_ACCIDENTE
711899,2016990000875,2015.0,12.0,11.0,4.0,28.0,13.0,999.0,28079.0,2.0,0.0,0.0,2.0,2.0,2.0,2.0,999,4.0,8.0,999.0,2.0,3.0,1.0,4.0,999.0,998,2.0
711900,2016990000876,2015.0,12.0,13.0,2.0,28.0,13.0,999.0,28079.0,1.0,0.0,0.0,1.0,1.0,2.0,2.0,999,4.0,8.0,1.0,999.0,1.0,1.0,1.0,999.0,999,7.0
711901,2016990001660,2015.0,11.0,15.0,1.0,28.0,13.0,999.0,28079.0,1.0,0.0,0.0,1.0,2.0,2.0,2.0,999,4.0,8.0,999.0,2.0,1.0,1.0,1.0,999.0,998,2.0

,ID_ACCIDENTE,ANIO,MES,HORA,DIASEMANA,PROVINCIA,COMUNIDAD_AUTONOMA,ISLA,MUNICIPIO,TOT_VICTIMAS,TOT_MUERTOS,TOT_HERIDOS_GRAVES,TOT_HERIDOS_LEVES,TOT_VEHICULOS_IMPLICADOS,ZONA,ZONA_AGRUPADA,CARRETERA,RED_CARRETERA,TIPO_VIA,TRAZADO_NO_INTERSEC,TIPO_INTERSEC,SUPERFICIE_CALZADA,LUMINOSIDAD,FACTORES_ATMOSFERICOS,VISIBILIDAD_RESTRINGIDA,ACERAS,TIPO_ACCIDENTE
422218,2012990000846,2012.0,1.0,19.0,5.0,28.0,13.0,999.0,28079.0,1.0,0.0,0.0,1.0,2.0,2.0,2.0,999,4.0,8.0,1.0,999.0,1.0,3.0,1.0,999.0,998,4.0
651127,201515054000267,2015.0,8.0,9.0,2.0,15.0,12.0,999.0,15054.0,1.0,0.0,0.0,1.0,1.0,2.0,2.0,999,4.0,8.0,999.0,999.0,1.0,1.0,1.0,999.0,0,7.0
273493,"2,01107E+12",2011.0,11.0,21.0,4.0,7.0,4.0,71.0,7040.0,1.0,0.0,0.0,1.0,2.0,1.0,1.0,Ma-15,3.0,3.0,999.0,3.0,1.0,3.0,1.0,1.0,998,20.0

2015.0    97756
2008.0    93161
2014.0    91570
2013.0    89519
2009.0    88251
2010.0    85503
2012.0    83115
2011.0    83027
Name: ANIO, dtype: int64

7.0     65542
6.0     62857
10.0    62465
5.0     61810
9.0     59530
11.0    59326
3.0     59080
12.0    57504
4.0     57120
8.0     56571
1.0     56326
2.0     53771
Name: MES, dtype: int64

14.0    50900
13.0    49985
19.0    47913
12.0    45912
18.0    45647
20.0    42737
15.0    42392
17.0    42003
11.0    39866
16.0    38648
9.0     38555
10.0    35469
8.0     34384
21.0    33464
22.0    25598
7.0     21813
23.0    17903
6.0     12540
0.0     10137
1.0      9118
5.0      7575
2.0      7009
3.0      6312
4.0      6022
Name: HORA, dtype: int64

5.0    115329
4.0    105408
1.0    105110
3.0    104661
2.0    104199
6.0     94620
7.0     82575
Name: DIASEMANA, dtype: int64

8.0     146569
28.0    113936
46.0     36233
41.0     26901
11.0     21723
7.0      20464
17.0     19579
29.0     19411
3.0      17788
33.0     16718
43.0     16622
48.0     16022
20.0     14863
36.0     14804
50.0     13253
38.0     11792
18.0     11634
25.0      9703
14.0      9100
15.0      8816
45.0      7480
30.0      7141
35.0      6996
23.0      6982
6.0       6864
24.0      6857
9.0       6532
1.0       6407
4.0       6265
39.0      6148
12.0      6133
47.0      5534
26.0      5337
21.0      5316
37.0      5249
13.0      4808
2.0       4418
10.0      4303
52.0      4035
27.0      3716
5.0       3593
22.0      3523
31.0      3360
16.0      3256
32.0      2618
34.0      2493
40.0      2436
19.0      2204
51.0      1564
49.0      1473
42.0      1468
44.0      1462
Name: PROVINCIA, dtype: int64

9.0     192473
13.0    113936
1.0     107332
10.0     60154
7.0      35635
12.0     29954
16.0     25058
8.0      22166
4.0      20464
5.0      18788
2.0      18238
17.0     17571
3.0      16718
11.0     11167
14.0      7141
6.0       6148
18.0      5599
15.0      3360
Name: COMUNIDAD_AUTONOMA, dtype: int64

999.0    672650
71.0      16438
381.0     10903
351.0      5049
73.0       3008
352.0      1120
72.0        871
382.0       851
353.0       827
74.0        147
383.0        21
384.0        17
Name: ISLA, dtype: int64

999.0      84369
28079.0    80322
0.0        75280
8019.0     66564
46250.0    17031
41091.0    15532
7040.0     10280
50297.0     8751
29067.0     7094
11020.0     6028
20069.0     5392
8015.0      4737
14021.0     4721
8279.0      4701
18087.0     4439
48020.0     4194
52001.0     4035
33044.0     3765
8101.0      3537
17079.0     3463
33024.0     3325
8121.0      2926
11012.0     2906
26089.0     2894
9059.0      2799
38023.0     2532
36057.0     2521
37274.0     2449
1059.0      2448
2003.0      2437
           ...
43016.0        3
15037.0        3
43907.0        3
38049.0        3
8295.0         3
8119.0         3
8291.0         3
8030.0         3
45102.0        2
43012.0        2
8091.0         2
8075.0         2
4017.0         2
43013.0        2
20055.0        1
8300.0         1
15074.0        1
8281.0         1
46032.0        1
17062.0        1
17092.0        1
48029.0        1
8209.0         1
8262.0         1
43086.0        1
8214.0         1
43044.0        1
8047.0         1
25072.0        1
8044.0         1
Name: MUNICIPIO, dtype: int64

1.0     522827
2.0     126411
3.0      36581
4.0      15072
5.0       6424
6.0       2475
7.0       1032
8.0        504
9.0        253
10.0       110
11.0        47
12.0        39
13.0        23
14.0        16
18.0        14
16.0        14
15.0        11
17.0         5
32.0         5
24.0         4
26.0         3
20.0         3
21.0         3
22.0         3
34.0         2
35.0         2
37.0         2
31.0         2
23.0         2
53.0         2
19.0         2
57.0         2
25.0         1
63.0         1
39.0         1
52.0         1
38.0         1
27.0         1
30.0         1
Name: TOT_VICTIMAS, dtype: int64

0.0     698204
1.0      12619
2.0        873
3.0        150
4.0         33
5.0         12
6.0          5
8.0          2
9.0          2
7.0          1
14.0         1
Name: TOT_MUERTOS, dtype: int64

0.0     628265
1.0      74407
2.0       7435
3.0       1288
4.0        345
5.0        107
6.0         33
7.0          7
10.0         3
8.0          3
9.0          3
17.0         1
21.0         1
43.0         1
40.0         1
16.0         1
14.0         1
Name: TOT_HERIDOS_GRAVES, dtype: int64

1.0     474279
2.0     113245
0.0      70581
3.0      32191
4.0      12874
5.0       5138
6.0       1947
7.0        823
8.0        387
9.0        188
10.0        83
11.0        34
12.0        31
13.0        16
14.0        15
15.0        12
17.0         9
18.0         8
16.0         7
20.0         5
21.0         4
19.0         3
22.0         3
30.0         2
27.0         2
32.0         2
31.0         2
36.0         2
24.0         2
29.0         1
47.0         1
43.0         1
25.0         1
52.0         1
26.0         1
34.0         1
Name: TOT_HERIDOS_LEVES, dtype: int64

2.0     374920
1.0     273281
3.0      47469
4.0      11374
5.0       2995
6.0       1010
7.0        408
8.0        181
9.0         95
10.0        42
11.0        29
12.0        18
13.0        16
0.0         14
14.0         9
15.0         7
21.0         5
30.0         3
16.0         3
23.0         3
17.0         2
20.0         2
32.0         2
26.0         2
25.0         1
34.0         1
36.0         1
39.0         1
45.0         1
43.0         1
18.0         1
47.0         1
91.0         1
55.0         1
22.0         1
24.0         1
Name: TOT_VEHICULOS_IMPLICADOS, dtype: int64

2.0    403042
1.0    301334
3.0      6761
4.0       765
Name: ZONA, dtype: int64

2.0    409803
1.0    302099
Name: ZONA_AGRUPADA, dtype: int64

999                407884
A-7                  6082
A-2                  5440
N-340                4808
AP-7                 4416
A-4                  3938
N-634                3451
A-3                  2851
A-6                  2810
A-1                  2629
M-40                 2423
N-332                2247
A-8                  2024
A-5                  1982
N-2                  1975
C-31                 1962
A-92                 1853
A-42                 1669
C-17                 1579
C-58                 1574
SE-30                1490
TF-1                 1480
A-44                 1460
VI-8                 1418
C-32                 1411
TF-5                 1377
A-66                 1372
No inventariada      1362
N-1                  1301
N-240                1266
                    ...
A-7-RE                  1
SS-4271                 1
ALCAUFAR                1
S/D PO                  1
OU-903                  1
EL ROMANI               1
VAPOR                   1
CV-064                  1
AL-6105                 1
CL-613A                 1
CV-036                  1
CORPUSCRIS              1
NA-4102                 1
CAMINO RSU              1
CO-4305                 1
JV-2212                 1
REGATELLS               1
CV-1601-79              1
CV-1601-70              1
VDA. CHORR              1
CTRA.MOTA               1
SG-V-2323               1
CAMELLOS                1
CV-905A                 1
CR-610                  1
CNO ERMITA              1
MU-330                  1
PERIN                   1
PE?AMAYOR               1
S/DENOM                 1
Name: CARRETERA, dtype: int64

4.0    462204
1.0     91948
2.0     88891
3.0     60515
5.0      8344
Name: RED_CARRETERA, dtype: int64

8.0    263004
9.0    138259
3.0    114178
5.0     94922
2.0     65112
1.0     18046
7.0      6841
4.0      6219
6.0      5321
Name: TIPO_VIA, dtype: int64

1.0      311808
999.0    298081
2.0       83834
5.0        8590
4.0        5092
3.0        4497
Name: TRAZADO_NO_INTERSEC, dtype: int64

999.0    445184
2.0      113787
1.0       78585
3.0       39152
4.0       16762
5.0       16295
6.0        2137
Name: TIPO_INTERSEC, dtype: int64

1.0      596752
3.0       91002
7.0        9596
2.0        3893
999.0      3357
9.0        2370
4.0        1762
6.0        1546
5.0        1044
8.0         580
Name: SUPERFICIE_CALZADA, dtype: int64

1.0    503603
3.0    121127
4.0     36137
2.0     33297
5.0     17738
Name: LUMINOSIDAD, dtype: int64

1.0      606046
4.0       58499
9.0       15584
5.0       11766
999.0     10516
8.0        3519
3.0        2262
2.0        1430
7.0        1344
6.0         936
Name: FACTORES_ATMOSFERICOS, dtype: int64

999.0    256880
1.0      164537
8.0      151022
0.0       94613
2.0       11739
7.0       11337
3.0       10176
4.0        7755
5.0        2681
6.0        1162
Name: VISIBILIDAD_RESTRINGIDA, dtype: int64

998    385762
N      190486
S       48987
999     35153
0       26955
1       24559
Name: ACERAS, dtype: int64

2.0     89924
4.0     82990
12.0    70554
7.0     55923
14.0    51057
3.0     34237
33.0    29470
20.0    27167
5.0     24207
13.0    22316
19.0    21280
16.0    21037
15.0    19466
71.0    15121
9.0     14116
1.0     13998
6.0     12085
68.0    10606
18.0    10454
11.0    10194
41.0     8905
10.0     7449
66.0     7166
64.0     5987
24.0     5595
56.0     4428
54.0     4363
63.0     4289
62.0     3068
52.0     2917
53.0     2890
61.0     2886
8.0      2387
67.0     2095
21.0     1853
51.0     1760
17.0     1732
65.0     1170
36.0     1091
57.0     1013
22.0      855
55.0      798
58.0      536
31.0      256
32.0       94
35.0       55
23.0       37
34.0       25
Name: TIPO_ACCIDENTE, dtype: int64

{'Accvict': ['ID_ACCIDENTE',
  'ANIO',
  'MES',
  'HORA',
  'DIASEMANA',
  'PROVINCIA',
  'COMUNIDAD_AUTONOMA',
  'TOT_VICTIMAS',
  'TOT_MUERTOS',
  'TOT_HERIDOS_GRAVES',
  'TOT_HERIDOS_LEVES',
  'TOT_VEHICULOS_IMPLICADOS',
  'ZONA',
  'ZONA_AGRUPADA',
  'RED_CARRETERA',
  'TIPO_VIA',
  'SUPERFICIE_CALZADA',
  'LUMINOSIDAD',
  'FACTORES_ATMOSFERICOS',
  'TIPO_ACCIDENTE']}

MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2008/TABLA_ACCVICT_24H_2008.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2009/TABLA_ACCVICT_24H_2009.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2010/TABLA_ACCVICT_24H_2010.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2011/TABLA_ACCVICT_2011.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2012/TABLA_ACCVICT_2012.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2013/TABLA_ACCVICT_2013.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2014/TABLA_ACCVICT_2014.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2015/TABLA_ACCVICT_2015.csv
CREADA VISTA CON DATOS DE ACCIDENTES Y VISTIMAS DE 2008 A 2015

###   2. VEHICULOS

In [33]:
#Cabecera del fichero de Vehiculos
Header_Vehic=Headers_List[2]
Header_Vehic

                 Vehic_2008               Vehic_2015
0              ID_ACCIDENTE             ID_ACCIDENTE
1               ID_VEHICULO              ID_VEHICULO
2   ANIO_MATRICULA_VEHICULO  ANIO_MATRICULA_VEHICULO
3    MES_MATRICULA_VEHICULO   MES_MATRICULA_VEHICULO
4             TIPO_VEHICULO            TIPO_VEHICULO
5           ESTADO_VEHICULO                      NaN
6      NUMERO_OCUPANTES_VEH     NUMERO_OCUPANTES_VEH
7     MERCANCIAS_PELIGROSAS    MERCANCIAS_PELIGROSAS
8       VEHICULO_INCENDIADO      VEHICULO_INCENDIADO
9                      ANIO                     ANIO
10                      NaN         ANOMALIA_NINGUNA
11                      NaN       ANOMALIA_NEUMATICO
12                      NaN        ANOMALIA_REVENTON
13                      NaN       ANOMALIA_DIRECCION
14                      NaN          ANOMALIA_FRENOS

In [34]:
#Matego solo las columnas inguales y actualizo mi diccionario con las cabeceras que utilizare en el proceso de carga

Header_Vehic=Header_Vehic[Header_Vehic['Vehic_2008']==Header_Vehic['Vehic_2015']]
Header_Vehic=Header_Vehic['Vehic_2008'].tolist()
dic_all_headers={'Vehic':Header_Vehic}
dic_all_headers

#Genero un df vacio donde concatenare todos los a√±os para ver la cantidad de valores de que 
#dispongo por cada columna

df_all_years=pd.DataFrame(index=None, columns=dic_all_headers['Vehic'])

#Cargo cada csv y concateno
for file in dic_all_files['Vehic']:
    df_vehic=pd.read_csv(file,delimiter=';',usecols=dic_all_headers['Vehic'],encoding="ISO-8859-1")
    #relleno los nulos con 999
    df_vehic.fillna(999,inplace=True)
    df_all_years=pd.concat([df_all_years,df_vehic],ignore_index=True)
    
#muestreo los datos
df_all_years.head(3)
df_all_years.tail(3)
df_all_years.sample(3)

#De las columnas del data frame final, que contiene todos los a√±os, 
#examino los distintos valores de las columnas, para tratar de decidir 
#que campos conservare para el analisis.
for col in df_all_years.columns:
    #no saco los distinos valores para los id_accidente
    if col !='ID_ACCIDENTE':
        df_all_years[col].value_counts(dropna=False)

#Una vez examindas los resultado anteriores, decido descartar los siguientes campos de la vista:
df_all_years.drop(['MERCANCIAS_PELIGROSAS','VEHICULO_INCENDIADO'], axis=1, inplace=True)

#Actualizo mi diccionario con las cabeceras que utilizare en el proceso de carga

        
#------------------SOBREECRITURA DE LOS DATOS APLICANDO MODIFICACIONES--------------
#Decido eliminor las siguientes columnas, por el alto numero de registro desconocidos y 
#porque considero que no me aportan valor:

#MERCANCIAS_PELIGROSAS
#VEHICULO_INCENDIADO
for file in dic_all_files['Vehic']:
    df_vehic=pd.read_csv(file,delimiter=';',usecols=dic_all_headers['Vehic'],encoding="ISO-8859-1")
    #relleno los nulos con 999
    df_vehic.fillna(999,inplace=True)
    df_vehic.drop(['MERCANCIAS_PELIGROSAS','VEHICULO_INCENDIADO'],axis=1,inplace=True)
    df_vehic.to_csv(file,index=False,sep=";",encoding="ISO-8859-1")
    print("MODFICADO ----- "+file)

print("CREADA VISTA CON DATOS DE VEHICULOS DE 2008 A 2015 EN ./CLEANED/----")
df_all_years.to_csv("./cleaned/view_vehic_08_15.csv",index=False,sep=";",encoding="ISO-8859-1")

########   FIN DEL PROCESAMIENTO DE LOS DATASET DE VEHICULOS #########

{'Vehic': ['ID_ACCIDENTE',
  'ID_VEHICULO',
  'ANIO_MATRICULA_VEHICULO',
  'MES_MATRICULA_VEHICULO',
  'TIPO_VEHICULO',
  'NUMERO_OCUPANTES_VEH',
  'MERCANCIAS_PELIGROSAS',
  'VEHICULO_INCENDIADO',
  'ANIO']}

,ID_ACCIDENTE,ID_VEHICULO,ANIO_MATRICULA_VEHICULO,MES_MATRICULA_VEHICULO,TIPO_VEHICULO,NUMERO_OCUPANTES_VEH,MERCANCIAS_PELIGROSAS,VEHICULO_INCENDIADO,ANIO
0,2.008410e+12,2.0,9999.0,99.0,22.0,1.0,N,N,2008.0
1,2.008520e+12,2.0,1991.0,99.0,22.0,1.0,N,N,2008.0
2,2.009460e+12,3.0,2004.0,1.0,22.0,1.0,N,N,2008.0

,ID_ACCIDENTE,ID_VEHICULO,ANIO_MATRICULA_VEHICULO,MES_MATRICULA_VEHICULO,TIPO_VEHICULO,NUMERO_OCUPANTES_VEH,MERCANCIAS_PELIGROSAS,VEHICULO_INCENDIADO,ANIO
1239590,2.016990e+12,1.0,2011.0,1.0,6.0,1.0,0,999,2015.0
1239591,2.016990e+12,1.0,9999.0,99.0,6.0,1.0,0,999,2015.0
1239592,2.016990e+12,2.0,2011.0,1.0,6.0,4.0,0,999,2015.0

,ID_ACCIDENTE,ID_VEHICULO,ANIO_MATRICULA_VEHICULO,MES_MATRICULA_VEHICULO,TIPO_VEHICULO,NUMERO_OCUPANTES_VEH,MERCANCIAS_PELIGROSAS,VEHICULO_INCENDIADO,ANIO
569548,2.011430e+12,2.0,9999.0,99.0,6.0,1.0,0,999,2011.0
68155,2.008030e+12,1.0,1996.0,9.0,22.0,1.0,N,N,2008.0
742214,2.012990e+12,1.0,2006.0,1.0,5.0,999.0,0,999,2012.0

1.0     710054
2.0     438466
3.0      64903
4.0      16647
5.0       5005
6.0       1931
7.0        868
8.0        443
9.0        249
10.0       158
11.0       120
12.0        86
13.0        66
14.0        52
16.0        41
15.0        39
18.0        32
19.0        29
20.0        29
27.0        26
21.0        26
17.0        25
22.0        23
23.0        22
24.0        17
25.0        15
26.0        15
28.0        14
29.0        13
30.0        13
         ...
57.0         1
59.0         1
88.0         1
60.0         1
87.0         1
86.0         1
85.0         1
84.0         1
83.0         1
82.0         1
81.0         1
90.0         1
79.0         1
76.0         1
75.0         1
80.0         1
73.0         1
72.0         1
71.0         1
70.0         1
69.0         1
68.0         1
67.0         1
66.0         1
65.0         1
91.0         1
63.0         1
62.0         1
61.0         1
74.0         1
Name: ID_VEHICULO, dtype: int64

9999.0    423289
2007.0     77705
2006.0     73347
2005.0     67073
2004.0     58430
2008.0     54907
2003.0     49727
2001.0     46652
2000.0     45401
2002.0     44417
1999.0     41282
2009.0     32893
1998.0     30027
2010.0     29527
1997.0     22104
2011.0     21817
1996.0     16367
2012.0     14456
1995.0     12105
2013.0     11508
1994.0     11366
1992.0      9372
2014.0      8628
1993.0      8328
1991.0      6615
1990.0      5158
1989.0      4133
2015.0      3723
1988.0      2705
1987.0      1840
           ...
1900.0         5
1957.0         4
1952.0         4
1948.0         4
1943.0         3
1944.0         3
1949.0         3
1947.0         3
1950.0         3
1951.0         3
1954.0         3
1914.0         3
1938.0         2
1909.0         2
1945.0         2
1946.0         2
1932.0         1
1931.0         1
1926.0         1
1925.0         1
1924.0         1
1923.0         1
1921.0         1
1920.0         1
1939.0         1
1912.0         1
1910.0         1
1942.0         1
1953.0         1
1941.0         1
Name: ANIO_MATRICULA_VEHICULO, dtype: int64

99.0    502516
1.0     161316
7.0      65918
6.0      61920
3.0      57533
5.0      55623
10.0     51713
4.0      51691
12.0     50245
11.0     48738
2.0      47150
9.0      43491
8.0      41739
Name: MES_MATRICULA_VEHICULO, dtype: int64

6.0     491756
22.0    300202
4.0     106634
2.0      67209
11.0     56248
9.0      43968
3.0      39686
43.0     26815
1.0      10572
5.0       9317
16.0      9295
10.0      9218
12.0      8412
41.0      6863
21.0      6253
15.0      6183
51.0      5666
20.0      5350
81.0      3928
55.0      3673
61.0      3244
52.0      2564
63.0      2335
13.0      2067
8.0       1917
90.0      1431
7.0       1301
23.0      1272
18.0      1125
14.0       866
42.0       813
82.0       628
31.0       529
30.0       403
32.0       402
24.0       291
53.0       231
19.0       227
17.0       187
62.0       165
70.0       159
54.0       148
80.0        40
Name: TIPO_VEHICULO, dtype: int64

1.0      832129
2.0      188288
999.0    114350
3.0       48701
4.0       24477
0.0       18881
5.0        9476
6.0         969
7.0         455
8.0         251
9.0         212
10.0        181
20.0        133
15.0        115
11.0         77
30.0         73
12.0         72
25.0         43
40.0         42
16.0         42
14.0         42
13.0         41
18.0         37
50.0         36
21.0         32
22.0         25
17.0         24
23.0         24
35.0         23
19.0         23
          ...
56.0         12
31.0         11
45.0         10
28.0         10
48.0          9
39.0          9
42.0          9
43.0          9
55.0          8
54.0          8
49.0          8
57.0          7
34.0          7
37.0          7
44.0          7
46.0          7
38.0          6
52.0          6
47.0          5
51.0          5
53.0          5
61.0          4
33.0          4
58.0          3
66.0          2
59.0          2
70.0          2
67.0          1
68.0          1
63.0          1
Name: NUMERO_OCUPANTES_VEH, dtype: int64

0      772212
N      258104
999    208699
1         306
4         135
3         104
2          23
1          10
Name: MERCANCIAS_PELIGROSAS, dtype: int64

999    824532
N      414254
1.0       445
S         362
Name: VEHICULO_INCENDIADO, dtype: int64

2015.0    170749
2008.0    163785
2014.0    158835
2013.0    155004
2009.0    154013
2010.0    149277
2011.0    144274
2012.0    143656
Name: ANIO, dtype: int64

MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2008/TABLA_VEHIC_24H_2008.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2009/TABLA_VEHIC_24H_2009.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2010/TABLA_VEHIC_24H_2010.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2011/TABLA_VEHIC_2011.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2012/TABLA_VEHIC_2012.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2013/TABLA_VEHIC_2013.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2014/TABLA_VEHIC_2014.csv
MODFICADO ----- ./cleaned/MICRODATOS_ACC_VICT_2015/TABLA_VEHIC_2015.csv
CREADA VISTA CON DATOS DE VEHICULOS DE 2008 A 2015 EN ./CLEANED/----

In [44]:
df_vehic=pd.read_csv('./cleaned/MICRODATOS_ACC_VICT_2013/TABLA_VEHIC_2013.csv',delimiter=';',encoding="ISO-8859-1")
df_vehic.sample(5)

,ID_ACCIDENTE,ID_VEHICULO,ANIO_MATRICULA_VEHICULO,MES_MATRICULA_VEHICULO,TIPO_VEHICULO,NUMERO_OCUPANTES_VEH,ANIO
75174,2013250021329,3,9999,99,6,1,2013
128583,2013480052241,1,2001,1,16,20,2013
37199,2013080012569,2,9999,99,4,2,2013
60240,2013170018555,1,1997,1,6,1,2013
141747,2013990007088,1,2006,1,6,999,2013

In [23]:
df_vehic

,ID_ACCIDENTE,ID_VEHICULO,ANIO_MATRICULA_VEHICULO,MES_MATRICULA_VEHICULO,TIPO_VEHICULO,NUMERO_OCUPANTES_VEH,ANIO
0,2008410002330,2,9999,99,22,1,2008
1,2008520000162,2,1991,99,22,1,2008
2,2009460000665,3,2004,1,22,1,2008
3,2008460007725,1,2003,1,22,5,2008
4,2008410000371,1,2006,7,22,1,2008
5,2008410002803,1,1998,3,11,1,2008
6,2008460007689,2,2000,2,22,1,2008
7,2008460003425,1,2001,9,22,2,2008
8,2008410003099,1,2004,3,2,1,2008
9,2008460008075,1,2001,7,22,1,2008
10,2008410000904,1,2007,8,22,1,2008
11,2008460003866,2,9999,99,22,1,2008
12,2008460008102,2,9999,99,11,1,2008
13,2008420000223,4,2004,11,22,2,2008
14,2008500000230,1,2004,10,55,1,2008
15,2008460006529,1,2003,11,22,1,2008
16,2008460007055,1,2007,4,11,2,2008
17,2008470000765,4,2007,4,22,1,2008
18,2008430022562,3,9999,99,43,1,2008
19,2008470000977,1,2001,12,22,1,2008
20,2008500008506,1,2007,5,43,1,2008
21,2008460008722,2,9999,99,22,1,2008
22,2008460008326,2,1992,12,22,1,2008
23,2008480050187,2,1993,99,61,1,2008
24,2009460000436,1,2007,3,2,1,2008
25,2008410002932,1,1999,6,22,1,2008
26,2008410001300,1,2007,2,2,2,2008
27,2008350900139,2,2007,9,22,1,2008
28,2008450001762,1,1992,1,22,2,2008
29,2008400000230,1,2006,4,22,1,2008
...,...,...,...,...,...,...,...
163755,2008990004970,1,2001,99,22,999,2008
163756,2008990012634,1,2004,99,22,999,2008
163757,2008990007986,2,2007,99,11,999,2008
163758,2008280006344,2,1991,4,22,2,2008
163759,2008990014641,1,2000,99,22,999,2008
163760,2008330000872,2,2001,11,55,1,2008
163761,2008990019061,1,2005,99,22,999,2008
163762,2008250021340,2,9999,99,1,1,2008
163763,2008280002181,1,2002,10,55,1,2008
163764,2008990010691,2,2000,99,22,999,2008
163765,2008280006235,2,1992,7,22,1,2008
163766,2008990013238,1,2008,99,11,999,2008
163767,2008990000424,2,2005,99,22,999,2008
163768,2008280005273,1,2005,1,22,1,2008
163769,2008290001210,1,2006,2,22,1,2008
163770,2008290003519,2,9999,99,2,1,2008
163771,2008260001222,1,2006,8,43,1,2008
163772,2008280004094,1,2007,9,22,3,2008
163773,2008280007174,1,1996,4,22,1,2008
163774,2008290000067,1,2007,9,11,1,2008
163775,2008280008750,1,2008,6,22,3,2008
163776,2008990018349,2,2008,99,11,999,2008
163777,2008990002593,1,2000,99,22,999,2008
163778,2008990016280,2,2003,99,22,999,2008
163779,2008280000366,2,2000,3,22,1,2008
163780,2008990014043,2,2000,99,22,999,2008
163781,2008990000613,1,1998,99,22,999,2008
163782,2008990011660,2,2008,99,41,999,2008
163783,2008290002957,1,2007,1,21,1,2008
163784,2008990003643,2,2006,99,22,999,2008

###   1. PERSONAS

### TRATAMIENTO DATA SET PERSONAS

#### Se observa una diferencia en cuanto a la codificacion en los datos de sexo
#### entre los datasets anteriores y posteriores a 2011:

#####    -Para a√±os anteriores a 2011 la codificacion es V o H
#####    -Para a√±os posteriores, aparece codificados como 1 o 2, por lo que voy a intentar averiguar cual corresponde a hombre y mujeres
    
#### Es logico pensar que en los a√±os anteriores a 1960, por ejemplo, el numero de hombres conductores era considerablemente al de mujeres, por lo que voy agrupar por edades y a√±o de permiso de circulacion


#### Repito el procedimiento anterior para los datos desde 2011 a 2015 grabando los xls modificados en la carpeta cleaned junto con los otros data sets de a√±os 2008 a 2010

### Repito el procedimiento anterior para los datos desde 2011 a 2015
### grabando los xls modificados en la carpeta cleaned junto con los otros data set 
### de a√±os 2008 a 2010

In [11]:
#Cabecera del fichero de Personas
Header_Pers=Headers_List[1]
Header_Pers

               Pers_2008                  Pers_2015
0           ID_ACCIDENTE               ID_ACCIDENTE
1            ID_VEHICULO                ID_VEHICULO
2             ID_PERSONA                 ID_PERSONA
3           ID_CONDUCTOR               ID_CONDUCTOR
4            ID_PASAJERO                ID_PASAJERO
5              ID_PEATON                  ID_PEATON
6                   EDAD                       EDAD
7                   SEXO                       SEXO
8           ANIO_PERMISO               ANIO_PERMISO
9           COD_POSICION                        NaN
10     COD_ACCESEGURIDAD                        NaN
11         COD_LESIVIDAD                        NaN
12             MANIOBRAS                  MANIOBRAS
13     INFRACC_VELOCIDAD          INFRACC_VELOCIDAD
14  INFRACC_NO_VELOCIDAD                        NaN
15          ACCIONPEATON                        NaN
16        INFRACC_PEATON             INFRACC_PEATON
17                  ANIO                       ANIO
18                   NaN                   POSICION
19                   NaN               USO_CINTURON
20                   NaN                    USO_SRI
21                   NaN                  USO_CASCO
22                   NaN                 MUERTO_24H
23                   NaN                 MUERTO_30D
24                   NaN           HERIDO_GRAVE_24H
25                   NaN            HERIDO_GRAVE30D
26                   NaN            HERIDO_LEVE_24H
27                   NaN             HERIDO_LEVE30D
28                   NaN      DICCIONARIO_MANIOBRAS
29                   NaN               INFRACC_COND
30                   NaN           INFRACC_APERTURA
31                   NaN          INFRACC_ALUMBRADO
32                   NaN     INFRACC_CARGA_VEHICULO
33                   NaN            INFRACC_RESUMEN
34                   NaN  DICCIONARIO_ACCION_PEATON
35                   NaN              ACCION_PEATON

In [12]:
Header_Pers=Header_Pers[Header_Pers['Pers_2008']==Header_Pers['Pers_2015']]
Header_Pers=Header_Pers['Pers_2008'].tolist()
dic_all_headers={'Pers':Header_Pers}
dic_all_headers

df_all_years=pd.DataFrame(index=None, columns=dic_all_headers['Pers'])

#Cargo cada csv y concateno
for file in dic_all_files['Pers']:
    df_pers=pd.read_csv(file,delimiter=';',usecols=dic_all_headers['Pers'],encoding="ISO-8859-1")
    #relleno los nulos con 999
    df_pers.fillna(999,inplace=True)
    df_all_years=pd.concat([df_all_years,df_pers],ignore_index=True)
    
#muestreo los datos
df_all_years.head(3)
df_all_years.tail(3)
df_all_years.sample(3)

#De las columnas del data frame final, que contiene todos los a√±os, 
#examino los distintos valores de las columnas, para tratar de decidir 
#que campos conservare para el analisis.
for col in df_all_years.columns:
    #no saco los distinos valores para los id_accidente
    if col !='ID_ACCIDENTE':
        df_all_years[col].value_counts(dropna=False)

#Modifico el sexo y el a√±o de permiso en cada fichero origen

for file in range(3,8):
    #leo fichero
    df_pers_sexo=pd.read_csv(dic_all_files['Pers'][file],delimiter=";",usecols=dic_all_headers['Pers'],encoding="ISO-8859-1")
    #Para sexo desconocido relleno aleatoriamente con 1 o 2
    df_pers_sexo[df_pers_sexo['SEXO']==999]=np.random.randint(1,2)

    #selecciono las personas que son conductores ('ID_PERSONA'=1) y los a√±os desconocidos (9999) que quiero sutituir
    pers_grp=df_pers_sexo[(df_pers_sexo['ID_PERSONA']==1) & (df_pers_sexo['ANIO_PERMISO']!=9999)].groupby(['EDAD','SEXO'],as_index=False)['ANIO_PERMISO'].agg({'NUM_CONDUCTORES':'count','MEDIA_ANTIG_CARNET':'mean'})
    #conversion de a entero
    pers_grp['MEDIA_ANTIG_CARNET']=pers_grp['MEDIA_ANTIG_CARNET'].round(0)
    pers_grp['MEDIA_ANTIG_CARNET']=pers_grp['MEDIA_ANTIG_CARNET'].astype(int)

    #cruzo el df original por edad y sexo con el df con las medias
    merged=pd.merge(df_pers_sexo, pers_grp, how='left',on=['EDAD','SEXO'],suffixes=['_left', '_right'])
    merged.head()

    #1. sutituyo los 1 por V y los 2 por H
    merged.ix[(merged['SEXO']==1), 'SEXO'] ='V'
    merged.ix[(merged['SEXO']==2), 'SEXO'] ='M'
    #2. sustituyo los valores de a√±os de permisos deconocidos
    merged.ix[((merged['ANIO_PERMISO']==9999) | (merged['ANIO_PERMISO']==0.0)) & (df_pers_sexo['ID_PERSONA']==1), 'ANIO_PERMISO'] =merged['MEDIA_ANTIG_CARNET']
    merged.head()
    #elimino del df las columnas con el numeor de conductores y la media de a√±o de carnet
    merged.drop(['NUM_CONDUCTORES','MEDIA_ANTIG_CARNET'], axis=1, inplace=True)

    #si hubiese algun a√±o NULL, lo relleno a 0.0
    merged['ANIO_PERMISO'].fillna(0.0,inplace=True)
    merged['ANIO_PERMISO']=merged['ANIO_PERMISO'].astype(int)

    #existen errores en los a√±os de permiso, para conductores tenemos valores 0,1 y 999
    #muestro los diferentes valores de a√±o de permiso
    pd.value_counts(merged['ANIO_PERMISO'])
    #elimino esos registros
    merged=merged[(merged['ANIO_PERMISO'].isin([0,1,999])) & merged['ID_PERSONA']!=1]
    #guardo el fichero
    merged.to_csv(dic_all_files['Pers'][file],index=False,sep=";",encoding="ISO-8859-1")
    print (dic_all_files['Pers'][file]+" --- modificado"+"\n")


#Genero la vista con los datos de todos los a√±os
df_all_years=pd.DataFrame(index=None, columns=dic_all_headers['Pers'])

#Cargo de nuevo ya que he modificado las tablas que componen la vista y la genero de nuevo
for file in dic_all_files['Pers']:
    df_pers=pd.read_csv(file,delimiter=';',usecols=dic_all_headers['Pers'],encoding="ISO-8859-1")
    #relleno los nulos con 999
    df_pers.fillna(999,inplace=True)
    df_all_years=pd.concat([df_all_years,df_pers],ignore_index=True)
    
print("CREADA VISTA CON DATOS DE VEHICULOS DE 2008 A 2015 EN ./CLEANED/----")
df_all_years.to_csv("./cleaned/view_pers_08_15.csv",index=False,sep=";",encoding="ISO-8859-1")

{'Pers': ['ID_ACCIDENTE',
  'ID_VEHICULO',
  'ID_PERSONA',
  'ID_CONDUCTOR',
  'ID_PASAJERO',
  'ID_PEATON',
  'EDAD',
  'SEXO',
  'ANIO_PERMISO',
  'MANIOBRAS',
  'INFRACC_VELOCIDAD',
  'INFRACC_PEATON',
  'ANIO']}

,ID_ACCIDENTE,ID_VEHICULO,ID_PERSONA,ID_CONDUCTOR,ID_PASAJERO,ID_PEATON,EDAD,SEXO,ANIO_PERMISO,MANIOBRAS,INFRACC_VELOCIDAD,INFRACC_PEATON,ANIO
0,"2,00801E+12",1.0,2.0,999.0,1.0,999.0,32.0,M,9999.0,999.0,999.0,999.0,2008.0
1,"2,00801E+12",2.0,2.0,999.0,1.0,999.0,60.0,M,9999.0,999.0,999.0,999.0,2008.0
2,"2,00801E+12",2.0,2.0,999.0,2.0,999.0,23.0,V,9999.0,999.0,999.0,999.0,2008.0

,ID_ACCIDENTE,ID_VEHICULO,ID_PERSONA,ID_CONDUCTOR,ID_PASAJERO,ID_PEATON,EDAD,SEXO,ANIO_PERMISO,MANIOBRAS,INFRACC_VELOCIDAD,INFRACC_PEATON,ANIO
1724733,2016990000358,999.0,3.0,999.0,999.0,1.0,31.0,1,999.0,999.0,999.0,2.0,2015.0
1724734,2016990000448,999.0,3.0,999.0,999.0,1.0,7.0,1,999.0,999.0,999.0,2.0,2015.0
1724735,2016990000876,999.0,3.0,999.0,999.0,2.0,7.0,2,999.0,999.0,999.0,2.0,2015.0

,ID_ACCIDENTE,ID_VEHICULO,ID_PERSONA,ID_CONDUCTOR,ID_PASAJERO,ID_PEATON,EDAD,SEXO,ANIO_PERMISO,MANIOBRAS,INFRACC_VELOCIDAD,INFRACC_PEATON,ANIO
327777,"2,00928E+12",1.0,1.0,1.0,999.0,999.0,51.0,V,2004.0,11.0,4.0,999.0,2009.0
367246,"2,00941E+12",1.0,2.0,999.0,1.0,999.0,23.0,V,9999.0,999.0,999.0,999.0,2009.0
1304763,2014080014553,1.0,1.0,1.0,999.0,999.0,32.0,1,2004.0,52.0,3.0,999.0,2014.0

1.0      944267
2.0      573607
999.0     97957
3.0       78297
4.0       19402
5.0        5733
6.0        2203
7.0        1023
8.0         503
9.0         269
10.0        188
11.0        149
13.0        102
12.0         99
14.0         67
16.0         60
15.0         54
19.0         50
20.0         48
21.0         46
22.0         44
43.0         44
18.0         42
27.0         38
17.0         37
23.0         37
24.0         29
25.0         29
26.0         26
38.0         23
          ...
57.0          1
56.0          1
91.0          1
58.0          1
73.0          1
89.0          1
88.0          1
87.0          1
85.0          1
84.0          1
83.0          1
82.0          1
81.0          1
92.0          1
76.0          1
75.0          1
71.0          1
59.0          1
70.0          1
69.0          1
68.0          1
67.0          1
66.0          1
65.0          1
93.0          1
63.0          1
64.0          1
62.0          1
61.0          1
60.0          1
Name: ID_VEHICULO, dtype: int64

1.0    1214662
2.0     412117
3.0      97957
Name: ID_PERSONA, dtype: int64

1.0      845258
999.0    510074
2.0      312839
3.0       40573
4.0       10100
5.0        2939
6.0        1145
7.0         538
8.0         287
9.0         168
10.0        109
11.0         81
12.0         63
13.0         47
14.0         41
16.0         33
15.0         32
18.0         26
20.0         25
19.0         25
21.0         23
27.0         22
17.0         22
22.0         21
23.0         19
24.0         15
26.0         13
25.0         13
28.0         12
29.0         11
          ...
59.0          1
86.0          1
73.0          1
85.0          1
84.0          1
83.0          1
82.0          1
81.0          1
88.0          1
79.0          1
78.0          1
77.0          1
76.0          1
75.0          1
80.0          1
72.0          1
60.0          1
71.0          1
70.0          1
69.0          1
68.0          1
67.0          1
66.0          1
65.0          1
89.0          1
63.0          1
90.0          1
62.0          1
61.0          1
74.0          1
Name: ID_CONDUCTOR, dtype: int64

999.0    1312619
1.0       242201
2.0        89740
3.0        41701
4.0        18324
5.0         7140
6.0         3692
7.0         2043
8.0         1211
9.0          753
10.0         544
11.0         427
12.0         357
13.0         310
14.0         268
15.0         243
16.0         220
17.0         203
18.0         189
19.0         172
20.0         157
21.0         149
22.0         136
23.0         125
24.0         119
25.0         111
26.0         104
27.0          94
28.0          88
29.0          85
          ...
104.0          1
100.0          1
99.0           1
98.0           1
97.0           1
102.0          1
95.0           1
94.0           1
93.0           1
92.0           1
91.0           1
90.0           1
89.0           1
88.0           1
87.0           1
86.0           1
85.0           1
84.0           1
83.0           1
82.0           1
80.0           1
103.0          1
79.0           1
78.0           1
77.0           1
76.0           1
75.0           1
74.0           1
73.0           1
81.0           1
Name: ID_PASAJERO, dtype: int64

999.0    1626779
1.0        89664
2.0         6889
3.0          958
4.0          244
5.0           83
6.0           34
7.0           18
8.0            6
9.0            5
11.0           5
12.0           5
10.0           5
15.0           3
14.0           3
13.0           3
16.0           3
17.0           2
19.0           1
38.0           1
42.0           1
41.0           1
40.0           1
39.0           1
36.0           1
37.0           1
44.0           1
35.0           1
34.0           1
33.0           1
43.0           1
28.0           1
29.0           1
32.0           1
18.0           1
27.0           1
26.0           1
25.0           1
24.0           1
23.0           1
30.0           1
22.0           1
21.0           1
20.0           1
31.0           1
Name: ID_PEATON, dtype: int64

999.0    107080
32.0      40355
30.0      39945
31.0      39914
33.0      39668
34.0      39541
29.0      39315
35.0      39253
28.0      39230
27.0      38822
25.0      38365
36.0      38319
26.0      38227
23.0      38213
22.0      37942
24.0      37708
37.0      37443
21.0      37395
20.0      36671
38.0      36397
39.0      35270
40.0      34532
41.0      33177
19.0      32505
42.0      32293
43.0      31199
44.0      29672
45.0      29226
46.0      28092
47.0      27014
          ...
4.0        4395
3.0        4276
2.0        3975
81.0       3867
82.0       3597
1.0        3533
83.0       2974
84.0       2618
0.0        2481
85.0       2132
86.0       1704
87.0       1387
88.0       1073
89.0        846
99.0        746
90.0        610
91.0        454
92.0        304
93.0        227
94.0        151
95.0        101
96.0         74
97.0         47
98.0         35
109.0        10
100.0         6
110.0         2
104.0         1
102.0         1
106.0         1
Name: EDAD, dtype: int64

1      694965
V      427297
2      369572
M      200983
999     17730
X       14189
Name: SEXO, dtype: int64

9999.0    538162
999.0     350562
2008.0     51658
2007.0     50334
2006.0     43806
2005.0     35843
2009.0     34474
2004.0     33494
2003.0     26726
2010.0     26661
2002.0     22856
1996.0     21422
2011.0     20960
1997.0     20250
2000.0     19962
1995.0     19586
1992.0     19529
2001.0     19346
1993.0     18404
1994.0     18299
1990.0     17824
1999.0     17779
1991.0     17722
1989.0     17486
1998.0     17134
1988.0     16103
2012.0     15526
1987.0     15094
1986.0     12930
2013.0     11762
           ...
1963.0      2484
1962.0      1879
1961.0      1235
1960.0       941
1959.0       777
1958.0       644
1957.0       564
1956.0       402
1955.0       235
1954.0       210
1953.0       155
1952.0        98
1951.0        90
1950.0        68
1949.0        48
1947.0        31
1948.0        28
1945.0        22
1946.0        16
1920.0        10
1944.0         9
1943.0         8
1942.0         6
1941.0         4
1935.0         2
1940.0         2
1939.0         1
1934.0         1
1930.0         1
1927.0         1
Name: ANIO_PERMISO, dtype: int64

999.0    526460
1.0      468748
52.0     276890
72.0     135879
22.0      38750
21.0      32937
12.0      27908
71.0      27395
51.0      25886
3.0       24421
11.0      18451
2.0       12843
77.0      11172
0.0        8077
41.0       7491
43.0       7381
16.0       7195
19.0       7090
23.0       7016
20.0       6090
24.0       5915
17.0       5396
31.0       4375
18.0       4215
15.0       4133
13.0       3546
5.0        3312
61.0       2137
25.0       1794
6.0        1792
14.0       1765
29.0       1723
7.0        1588
8.0        1269
42.0        967
30.0        716
4.0         609
9.0         593
26.0        509
10.0        179
27.0        123
Name: MANIOBRAS, dtype: int64

3.0      530815
999.0    510074
4.0      460376
1.0       85123
5.0       82347
0.0       50616
2.0        5385
Name: INFRACC_VELOCIDAD, dtype: int64

999.0    1626779
2.0        45372
9.0        19467
1.0        15548
4.0         6812
0.0         5197
3.0         2493
8.0         2267
5.0          652
6.0           92
7.0           57
Name: INFRACC_PEATON, dtype: int64

2015.0    238476
2008.0    223461
2014.0    222722
2013.0    219061
2009.0    212510
2010.0    206498
2012.0    202804
2011.0    199204
Name: ANIO, dtype: int64

,ID_ACCIDENTE,ID_VEHICULO,ID_PERSONA,ID_CONDUCTOR,ID_PASAJERO,ID_PEATON,EDAD,SEXO,ANIO_PERMISO,MANIOBRAS,INFRACC_VELOCIDAD,INFRACC_PEATON,ANIO,NUM_CONDUCTORES,MEDIA_ANTIG_CARNET
0,2011010000018,1.0,1,1.0,NaN,NaN,65,1,9999.0,1.0,4.0,NaN,2011,470.0,1977.0
1,2011010000019,1.0,1,1.0,NaN,NaN,58,1,9999.0,1.0,3.0,NaN,2011,752.0,1982.0
2,2011010000020,1.0,1,1.0,NaN,NaN,31,2,9999.0,1.0,3.0,NaN,2011,758.0,2003.0
3,2011010000021,1.0,1,1.0,NaN,NaN,18,1,9999.0,1.0,3.0,NaN,2011,669.0,2010.0
4,2011010000021,2.0,1,2.0,NaN,NaN,45,1,9999.0,1.0,3.0,NaN,2011,1463.0,1993.0

,ID_ACCIDENTE,ID_VEHICULO,ID_PERSONA,ID_CONDUCTOR,ID_PASAJERO,ID_PEATON,EDAD,SEXO,ANIO_PERMISO,MANIOBRAS,INFRACC_VELOCIDAD,INFRACC_PEATON,ANIO,NUM_CONDUCTORES,MEDIA_ANTIG_CARNET
0,2011010000018,1.0,1,1.0,NaN,NaN,65,V,1977.0,1.0,4.0,NaN,2011,470.0,1977.0
1,2011010000019,1.0,1,1.0,NaN,NaN,58,V,1982.0,1.0,3.0,NaN,2011,752.0,1982.0
2,2011010000020,1.0,1,1.0,NaN,NaN,31,M,2003.0,1.0,3.0,NaN,2011,758.0,2003.0
3,2011010000021,1.0,1,1.0,NaN,NaN,18,V,2010.0,1.0,3.0,NaN,2011,669.0,2010.0
4,2011010000021,2.0,1,2.0,NaN,NaN,45,V,1993.0,1.0,3.0,NaN,2011,1463.0,1993.0

0       60651
2008     8027
2010     7743
2009     7375
2005     6729
2007     6649
2006     6479
2003     5346
2004     5083
1997     4222
2000     4113
1        3948
2002     3674
2001     3534
1993     3384
1996     3220
2011     3163
1998     3099
1988     3083
1995     3052
1986     3042
1994     3017
1999     3003
1992     2908
1977     2869
1991     2766
1990     2738
1989     2565
1985     1766
1979     1761
        ...
1980      992
1972      835
1970      718
1967      574
1969      551
1971      499
1968      410
1965      379
1966      341
1964      308
1963      285
1962      217
1961      160
1960       90
1959       90
1958       77
1957       69
1956       49
1954       27
1955       24
1953       22
1952       19
1951        9
1950        7
1949        6
1948        3
1943        3
1947        2
1945        2
1946        1
Name: ANIO_PERMISO, dtype: int64

./cleaned/MICRODATOS_ACC_VICT_2011/TABLA_PERS_2011.csv --- modificado

,ID_ACCIDENTE,ID_VEHICULO,ID_PERSONA,ID_CONDUCTOR,ID_PASAJERO,ID_PEATON,EDAD,SEXO,ANIO_PERMISO,MANIOBRAS,INFRACC_VELOCIDAD,INFRACC_PEATON,ANIO,NUM_CONDUCTORES,MEDIA_ANTIG_CARNET
0,2012010000001,1.0,1,1.0,NaN,NaN,33,1,9999.0,43.0,4.0,NaN,2012,1954.0,2003.0
1,2012010000001,2.0,1,2.0,NaN,NaN,46,1,9999.0,1.0,1.0,NaN,2012,1508.0,1993.0
2,2012010000001,3.0,1,3.0,NaN,NaN,51,1,9999.0,1.0,3.0,NaN,2012,1195.0,1988.0
3,2012010000001,4.0,1,4.0,NaN,NaN,28,1,9999.0,43.0,4.0,NaN,2012,1719.0,2006.0
4,2012010000002,1.0,1,1.0,NaN,NaN,52,2,9999.0,1.0,1.0,NaN,2012,361.0,1990.0

,ID_ACCIDENTE,ID_VEHICULO,ID_PERSONA,ID_CONDUCTOR,ID_PASAJERO,ID_PEATON,EDAD,SEXO,ANIO_PERMISO,MANIOBRAS,INFRACC_VELOCIDAD,INFRACC_PEATON,ANIO,NUM_CONDUCTORES,MEDIA_ANTIG_CARNET
0,2012010000001,1.0,1,1.0,NaN,NaN,33,V,2003.0,43.0,4.0,NaN,2012,1954.0,2003.0
1,2012010000001,2.0,1,2.0,NaN,NaN,46,V,1993.0,1.0,1.0,NaN,2012,1508.0,1993.0
2,2012010000001,3.0,1,3.0,NaN,NaN,51,V,1988.0,1.0,3.0,NaN,2012,1195.0,1988.0
3,2012010000001,4.0,1,4.0,NaN,NaN,28,V,2006.0,43.0,4.0,NaN,2012,1719.0,2006.0
4,2012010000002,1.0,1,1.0,NaN,NaN,52,M,1990.0,1.0,1.0,NaN,2012,361.0,1990.0

0       61254
2008     7103
2007     6659
2011     6620
2010     6544
2006     6224
2009     5872
2005     5654
2003     5272
2004     4631
1982     4037
2000     4018
1        3852
1996     3758
2002     3597
1995     3520
1994     3518
2001     3451
2012     3367
1997     3171
1988     3135
1999     3077
1998     2941
1993     2927
1992     2865
1990     2839
1991     2828
1989     2453
1986     2407
1980     2189
        ...
1969      581
1970      575
1967      513
1968      419
1966      395
1964      376
1965      356
1963      264
1962      203
1961      153
1960      120
1959       89
1958       74
1957       54
1956       50
1955       31
1953       21
1954       19
1951       17
1950        8
1952        6
1949        5
1947        4
1948        2
1946        2
1943        2
1945        1
1944        1
1942        1
1939        1
Name: ANIO_PERMISO, dtype: int64

./cleaned/MICRODATOS_ACC_VICT_2012/TABLA_PERS_2012.csv --- modificado

,ID_ACCIDENTE,ID_VEHICULO,ID_PERSONA,ID_CONDUCTOR,ID_PASAJERO,ID_PEATON,EDAD,SEXO,ANIO_PERMISO,MANIOBRAS,INFRACC_VELOCIDAD,INFRACC_PEATON,ANIO,NUM_CONDUCTORES,MEDIA_ANTIG_CARNET
0,2013010000001,1.0,1,1.0,NaN,NaN,45,1,9999.0,1.0,3.0,NaN,2013,1625.0,1994.0
1,2013010000002,1.0,1,1.0,NaN,NaN,65,1,9999.0,11.0,3.0,NaN,2013,597.0,1979.0
2,2013010000003,1.0,1,1.0,NaN,NaN,81,1,9999.0,22.0,3.0,NaN,2013,171.0,1970.0
3,2013010000003,2.0,1,2.0,NaN,NaN,31,1,9999.0,1.0,4.0,NaN,2013,1971.0,2005.0
4,2013010000004,1.0,1,1.0,NaN,NaN,57,1,9999.0,1.0,1.0,NaN,2013,950.0,1984.0

,ID_ACCIDENTE,ID_VEHICULO,ID_PERSONA,ID_CONDUCTOR,ID_PASAJERO,ID_PEATON,EDAD,SEXO,ANIO_PERMISO,MANIOBRAS,INFRACC_VELOCIDAD,INFRACC_PEATON,ANIO,NUM_CONDUCTORES,MEDIA_ANTIG_CARNET
0,2013010000001,1.0,1,1.0,NaN,NaN,45,V,1994.0,1.0,3.0,NaN,2013,1625.0,1994.0
1,2013010000002,1.0,1,1.0,NaN,NaN,65,V,1979.0,11.0,3.0,NaN,2013,597.0,1979.0
2,2013010000003,1.0,1,1.0,NaN,NaN,81,V,1970.0,22.0,3.0,NaN,2013,171.0,1970.0
3,2013010000003,2.0,1,2.0,NaN,NaN,31,V,2005.0,1.0,4.0,NaN,2013,1971.0,2005.0
4,2013010000004,1.0,1,1.0,NaN,NaN,57,V,1984.0,1.0,1.0,NaN,2013,950.0,1984.0

0       67029
2008     7377
2012     6754
2006     6509
2007     6498
2011     6228
2009     5916
2005     5821
2010     5527
2003     5174
2004     4797
1        4341
1997     4175
1994     3971
2000     3952
1990     3807
1992     3759
2002     3702
2001     3639
1999     3508
1996     3469
1998     3256
1993     3253
2013     3189
1966     3068
1989     2876
1995     2873
1987     2811
1988     2603
1991     2117
        ...
1970      715
1972      697
1969      643
1971      596
1967      494
1968      392
1965      378
1964      336
1963      296
1962      199
1961      148
1960      119
1959       88
1957       65
1958       63
1956       46
1955       29
1954       29
1953       16
1952       14
1949        9
1951        8
1950        7
1948        3
1947        3
1946        3
1943        1
1942        1
1940        1
1930        1
Name: ANIO_PERMISO, dtype: int64

./cleaned/MICRODATOS_ACC_VICT_2013/TABLA_PERS_2013.csv --- modificado

,ID_ACCIDENTE,ID_VEHICULO,ID_PERSONA,ID_CONDUCTOR,ID_PASAJERO,ID_PEATON,EDAD,SEXO,ANIO_PERMISO,MANIOBRAS,INFRACC_VELOCIDAD,INFRACC_PEATON,ANIO,NUM_CONDUCTORES,MEDIA_ANTIG_CARNET
0,2014010051160,1.0,1,1.0,NaN,NaN,39,1,2003.0,71.0,3.0,NaN,2014,2327.0,1999.0
1,2014010051161,1.0,1,1.0,NaN,NaN,52,1,1985.0,71.0,3.0,NaN,2014,1631.0,1988.0
2,2014010051161,2.0,1,2.0,NaN,NaN,18,1,9999.0,71.0,3.0,NaN,2014,715.0,2013.0
3,2014010051162,1.0,1,1.0,NaN,NaN,62,1,1971.0,71.0,3.0,NaN,2014,841.0,1979.0
4,2014010051163,1.0,1,1.0,NaN,NaN,25,1,2013.0,71.0,3.0,NaN,2014,1886.0,2009.0

,ID_ACCIDENTE,ID_VEHICULO,ID_PERSONA,ID_CONDUCTOR,ID_PASAJERO,ID_PEATON,EDAD,SEXO,ANIO_PERMISO,MANIOBRAS,INFRACC_VELOCIDAD,INFRACC_PEATON,ANIO,NUM_CONDUCTORES,MEDIA_ANTIG_CARNET
0,2014010051160,1.0,1,1.0,NaN,NaN,39,V,2003.0,71.0,3.0,NaN,2014,2327.0,1999.0
1,2014010051161,1.0,1,1.0,NaN,NaN,52,V,1985.0,71.0,3.0,NaN,2014,1631.0,1988.0
2,2014010051161,2.0,1,2.0,NaN,NaN,18,V,2013.0,71.0,3.0,NaN,2014,715.0,2013.0
3,2014010051162,1.0,1,1.0,NaN,NaN,62,V,1971.0,71.0,3.0,NaN,2014,841.0,1979.0
4,2014010051163,1.0,1,1.0,NaN,NaN,25,V,2013.0,71.0,3.0,NaN,2014,1886.0,2009.0

0       68279
2008     7663
2007     7033
2009     6354
2013     6206
2006     6067
2005     5657
2011     5502
2012     4988
1988     4946
2004     4906
2010     4883
2003     4592
1995     3946
1996     3908
1993     3853
2002     3641
1990     3554
1998     3467
2001     3438
1992     3365
2000     3304
1994     3195
1999     3097
1989     3065
2014     3028
1997     3013
1991     2807
1987     2736
1985     2442
        ...
1974     1070
1972     1032
1971      829
1970      810
1969      659
1967      599
1968      506
1964      480
1965      451
1966      444
1963      393
1962      289
1961      183
1960      138
1959      111
1958      100
1957       71
1956       58
1955       31
1954       29
1953       19
1950       10
1951        8
1952        8
1948        4
1947        4
1945        3
1949        2
1946        1
1944        1
Name: ANIO_PERMISO, dtype: int64

./cleaned/MICRODATOS_ACC_VICT_2014/TABLA_PERS_2014.csv --- modificado

,ID_ACCIDENTE,ID_VEHICULO,ID_PERSONA,ID_CONDUCTOR,ID_PASAJERO,ID_PEATON,EDAD,SEXO,ANIO_PERMISO,MANIOBRAS,INFRACC_VELOCIDAD,INFRACC_PEATON,ANIO,NUM_CONDUCTORES,MEDIA_ANTIG_CARNET
0,2015010050001,1.0,1,1.0,NaN,NaN,42,1,9999.0,1.0,3.0,NaN,2015,2268.0,1997.0
1,2015010050002,1.0,1,1.0,NaN,NaN,44,1,9999.0,1.0,3.0,NaN,2015,2188.0,1995.0
2,2015010050002,2.0,1,2.0,NaN,NaN,32,1,9999.0,1.0,3.0,NaN,2015,2191.0,2005.0
3,2015010050003,1.0,1,1.0,NaN,NaN,50,1,9999.0,1.0,3.0,NaN,2015,1793.0,1990.0
4,2015010050003,2.0,1,2.0,NaN,NaN,52,1,9999.0,1.0,3.0,NaN,2015,1709.0,1988.0

,ID_ACCIDENTE,ID_VEHICULO,ID_PERSONA,ID_CONDUCTOR,ID_PASAJERO,ID_PEATON,EDAD,SEXO,ANIO_PERMISO,MANIOBRAS,INFRACC_VELOCIDAD,INFRACC_PEATON,ANIO,NUM_CONDUCTORES,MEDIA_ANTIG_CARNET
0,2015010050001,1.0,1,1.0,NaN,NaN,42,V,1997.0,1.0,3.0,NaN,2015,2268.0,1997.0
1,2015010050002,1.0,1,1.0,NaN,NaN,44,V,1995.0,1.0,3.0,NaN,2015,2188.0,1995.0
2,2015010050002,2.0,1,2.0,NaN,NaN,32,V,2005.0,1.0,3.0,NaN,2015,2191.0,2005.0
3,2015010050003,1.0,1,1.0,NaN,NaN,50,V,1990.0,1.0,3.0,NaN,2015,1793.0,1990.0
4,2015010050003,2.0,1,2.0,NaN,NaN,52,V,1988.0,1.0,3.0,NaN,2015,1709.0,1988.0

0       73898
2014     6678
2007     6667
2008     6622
2006     6309
2009     5716
2013     5477
2010     5294
2011     5118
2015     4944
2004     4933
2012     4829
2005     4768
1998     4395
1992     4354
2003     4231
1996     4092
2002     3878
1997     3764
1995     3592
1990     3580
1993     3565
1994     3504
2000     3296
2001     3263
1989     3236
1999     3222
1991     3176
1        3162
1988     3093
        ...
1981     1294
1974     1260
1972     1138
1971     1038
1969      872
1970      788
1967      670
1968      584
1966      562
1965      516
1964      437
1963      357
1962      303
1961      190
1960      122
1959      106
1958       90
1957       64
1956       42
1955       25
1954       20
1953       15
1952        8
1949        5
1948        4
1951        3
1950        3
1947        3
1945        3
1942        1
Name: ANIO_PERMISO, dtype: int64

./cleaned/MICRODATOS_ACC_VICT_2015/TABLA_PERS_2015.csv --- modificado

CREADA VISTA CON DATOS DE VEHICULOS DE 2008 A 2015 EN ./CLEANED/----

### ESTAS SERIAN LA COLUMNAS FINALES DE LOS 3 DATASETS

In [13]:
dic_all_headers={'Accvict':Header_Accvict,'Pers':Header_Pers,'Vehic':Header_Vehic}
dic_all_headers

{'Accvict': ['ID_ACCIDENTE',
  'ANIO',
  'MES',
  'HORA',
  'DIASEMANA',
  'PROVINCIA',
  'COMUNIDAD_AUTONOMA',
  'TOT_VICTIMAS',
  'TOT_MUERTOS',
  'TOT_HERIDOS_GRAVES',
  'TOT_HERIDOS_LEVES',
  'TOT_VEHICULOS_IMPLICADOS',
  'ZONA',
  'ZONA_AGRUPADA',
  'RED_CARRETERA',
  'TIPO_VIA',
  'SUPERFICIE_CALZADA',
  'LUMINOSIDAD',
  'FACTORES_ATMOSFERICOS',
  'TIPO_ACCIDENTE'],
 'Pers': ['ID_ACCIDENTE',
  'ID_VEHICULO',
  'ID_PERSONA',
  'ID_CONDUCTOR',
  'ID_PASAJERO',
  'ID_PEATON',
  'EDAD',
  'SEXO',
  'ANIO_PERMISO',
  'MANIOBRAS',
  'INFRACC_VELOCIDAD',
  'INFRACC_PEATON',
  'ANIO'],
 'Vehic': ['ID_ACCIDENTE',
  'ID_VEHICULO',
  'ANIO_MATRICULA_VEHICULO',
  'MES_MATRICULA_VEHICULO',
  'TIPO_VEHICULO',
  'NUMERO_OCUPANTES_VEH',
  'MERCANCIAS_PELIGROSAS',
  'VEHICULO_INCENDIADO',
  'ANIO']}

### -------------------------------------------------------------------------------------------------------
### PROCEDO A CARGAR EN DATAFRAMES DE CADA UNO DE LOS FICHEROS DEL DICCIONARIO
### -------------------------------------------------------------------------------------------------------

In [14]:
#guardo las claves de cada tipo de fichero
list_keys_dic=dic_all_files.keys()
list_keys_dic
#Actualizo el diccionario con la rutas a los ficheros de trabajo
dic_all_files['Accvict'].append('./cleaned/view_accvict_08_15.csv')
dic_all_files['Pers'].append('./cleaned/view_pers_08_15.csv')
dic_all_files['Vehic'].append('./cleaned/view_vehic_08_15.csv')
dic_all_files

dict_keys(['Accvict', 'Pers', 'Vehic'])

{'Accvict': ['./cleaned/MICRODATOS_ACC_VICT_2008/TABLA_ACCVICT_24H_2008.csv',
  './cleaned/MICRODATOS_ACC_VICT_2009/TABLA_ACCVICT_24H_2009.csv',
  './cleaned/MICRODATOS_ACC_VICT_2010/TABLA_ACCVICT_24H_2010.csv',
  './cleaned/MICRODATOS_ACC_VICT_2011/TABLA_ACCVICT_2011.csv',
  './cleaned/MICRODATOS_ACC_VICT_2012/TABLA_ACCVICT_2012.csv',
  './cleaned/MICRODATOS_ACC_VICT_2013/TABLA_ACCVICT_2013.csv',
  './cleaned/MICRODATOS_ACC_VICT_2014/TABLA_ACCVICT_2014.csv',
  './cleaned/MICRODATOS_ACC_VICT_2015/TABLA_ACCVICT_2015.csv',
  './cleaned/view_accvict_08_15.csv'],
 'Pers': ['./cleaned/MICRODATOS_ACC_VICT_2008/TABLA_PERS_24H_2008.csv',
  './cleaned/MICRODATOS_ACC_VICT_2009/TABLA_PERS_24H_2009.csv',
  './cleaned/MICRODATOS_ACC_VICT_2010/TABLA_PERS_24H_2010.csv',
  './cleaned/MICRODATOS_ACC_VICT_2011/TABLA_PERS_2011.csv',
  './cleaned/MICRODATOS_ACC_VICT_2012/TABLA_PERS_2012.csv',
  './cleaned/MICRODATOS_ACC_VICT_2013/TABLA_PERS_2013.csv',
  './cleaned/MICRODATOS_ACC_VICT_2014/TABLA_PERS_2014.csv',
  './cleaned/MICRODATOS_ACC_VICT_2015/TABLA_PERS_2015.csv',
  './cleaned/view_pers_08_15.csv'],
 'Vehic': ['./cleaned/MICRODATOS_ACC_VICT_2008/TABLA_VEHIC_24H_2008.csv',
  './cleaned/MICRODATOS_ACC_VICT_2009/TABLA_VEHIC_24H_2009.csv',
  './cleaned/MICRODATOS_ACC_VICT_2010/TABLA_VEHIC_24H_2010.csv',
  './cleaned/MICRODATOS_ACC_VICT_2011/TABLA_VEHIC_2011.csv',
  './cleaned/MICRODATOS_ACC_VICT_2012/TABLA_VEHIC_2012.csv',
  './cleaned/MICRODATOS_ACC_VICT_2013/TABLA_VEHIC_2013.csv',
  './cleaned/MICRODATOS_ACC_VICT_2014/TABLA_VEHIC_2014.csv',
  './cleaned/MICRODATOS_ACC_VICT_2015/TABLA_VEHIC_2015.csv',
  './cleaned/view_vehic_08_15.csv']}

In [45]:
dic_all_files['Accvict'][8]

IndexError: list index out of range

In [15]:
#Creo un dataframe vacio para posteriormente rellenarlo con los a√±os 2001 al 2015
#Recorriendo por cada key los n values del diccionario

dic_total={}
df_total=pd.DataFrame()

for key in list_keys_dic:
    print ("#### "+key+" ####")
    for file in dic_all_files[key]:
        #meto en df cada file quedandome solo con las columnas seleccionadas anteriormente
        df_year=pd.read_csv(file,delimiter=";",encoding="ISO-8859-1",usecols=dic_all_headers[key])
        df_year=df_year.fillna(0)
        print("Cargando fichero-->"+file+"\n\t"+"Registros= "+str(df_year.shape[0])+"\n\t"+"Columnas= "+str(df_year.shape[1]))
        #df_total=df_total.append(df_year)
        df_total=pd.concat([df_total,df_year],ignore_index=True)
    dic_total[key] = df_total
print ("\n\t\t"+"##### CARGADOS EN DF_TOTAL TODOS LOS PERIODOS ########"+"\t\t")
df_total.shape

#### Accvict ####
Cargando fichero-->./cleaned/MICRODATOS_ACC_VICT_2008/TABLA_ACCVICT_24H_2008.csv
	Registros= 93161
	Columnas= 27
Cargando fichero-->./cleaned/MICRODATOS_ACC_VICT_2009/TABLA_ACCVICT_24H_2009.csv
	Registros= 88251
	Columnas= 27
Cargando fichero-->./cleaned/MICRODATOS_ACC_VICT_2010/TABLA_ACCVICT_24H_2010.csv
	Registros= 85503
	Columnas= 27
Cargando fichero-->./cleaned/MICRODATOS_ACC_VICT_2011/TABLA_ACCVICT_2011.csv
	Registros= 83027
	Columnas= 27
Cargando fichero-->./cleaned/MICRODATOS_ACC_VICT_2012/TABLA_ACCVICT_2012.csv
	Registros= 83115
	Columnas= 27
Cargando fichero-->./cleaned/MICRODATOS_ACC_VICT_2013/TABLA_ACCVICT_2013.csv
	Registros= 89519
	Columnas= 27
Cargando fichero-->./cleaned/MICRODATOS_ACC_VICT_2014/TABLA_ACCVICT_2014.csv
	Registros= 91570
	Columnas= 27
Cargando fichero-->./cleaned/MICRODATOS_ACC_VICT_2015/TABLA_ACCVICT_2015.csv
	Registros= 97756
	Columnas= 27
#### Pers ####
Cargando fichero-->./cleaned/MICRODATOS_ACC_VICT_2008/TABLA_PERS_24H_2008.csv
	Registros= 223461
	Columnas= 13
Cargando fichero-->./cleaned/MICRODATOS_ACC_VICT_2009/TABLA_PERS_24H_2009.csv
	Registros= 212510
	Columnas= 13
Cargando fichero-->./cleaned/MICRODATOS_ACC_VICT_2010/TABLA_PERS_24H_2010.csv
	Registros= 206498
	Columnas= 13
Cargando fichero-->./cleaned/MICRODATOS_ACC_VICT_2011/TABLA_PERS_2011.csv
	Registros= 179391
	Columnas= 13
Cargando fichero-->./cleaned/MICRODATOS_ACC_VICT_2012/TABLA_PERS_2012.csv
	Registros= 187307
	Columnas= 13
Cargando fichero-->./cleaned/MICRODATOS_ACC_VICT_2013/TABLA_PERS_2013.csv
	Registros= 200942
	Columnas= 13
Cargando fichero-->./cleaned/MICRODATOS_ACC_VICT_2014/TABLA_PERS_2014.csv
	Registros= 205887
	Columnas= 13
Cargando fichero-->./cleaned/MICRODATOS_ACC_VICT_2015/TABLA_PERS_2015.csv
	Registros= 217786
	Columnas= 13
#### Vehic ####
Cargando fichero-->./cleaned/MICRODATOS_ACC_VICT_2008/TABLA_VEHIC_24H_2008.csv
	Registros= 163785
	Columnas= 9
Cargando fichero-->./cleaned/MICRODATOS_ACC_VICT_2009/TABLA_VEHIC_24H_2009.csv
	Registros= 154013
	Columnas= 9
Cargando fichero-->./cleaned/MICRODATOS_ACC_VICT_2010/TABLA_VEHIC_24H_2010.csv
	Registros= 149277
	Columnas= 9
Cargando fichero-->./cleaned/MICRODATOS_ACC_VICT_2011/TABLA_VEHIC_2011.csv
	Registros= 144274
	Columnas= 9
Cargando fichero-->./cleaned/MICRODATOS_ACC_VICT_2012/TABLA_VEHIC_2012.csv
	Registros= 143656
	Columnas= 9
Cargando fichero-->./cleaned/MICRODATOS_ACC_VICT_2013/TABLA_VEHIC_2013.csv
	Registros= 155004
	Columnas= 9
Cargando fichero-->./cleaned/MICRODATOS_ACC_VICT_2014/TABLA_VEHIC_2014.csv
	Registros= 158835
	Columnas= 9
Cargando fichero-->./cleaned/MICRODATOS_ACC_VICT_2015/TABLA_VEHIC_2015.csv
	Registros= 170749
	Columnas= 9

		##### CARGADOS EN DF_TOTAL TODOS LOS PERIODOS ########

(3585277, 44)

#### AHORA TENGO DE DATA FRAMES CON TODOS LOS A√ëOS DESDE 2008 HASTA 2015

In [92]:
##para categorizar
#dic_total['Accvict']['HORA']=dic_total['Accvict']['HORA'].astype('category')
#dic_total['Accvict']['HORA'].describe()
#este funciona
dic_total['Accvict']['HORA']= pd.Series(pd.Categorical(dic_total['Accvict']['HORA'], categories=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]))
dic_total['Accvict']['HORA'].cat.rename_categories(['0','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23'])
dic_total['Accvict']['HORA'].cat.codes

count     711902
unique        24
top           14
freq       50900
Name: HORA, dtype: int64

In [22]:
#Extraigo los datos cuantitativos de victimas por
# 1. A√±o-mes-dia de la semana
# 2. Localizacion geografica

accvict_geo=pd.get_dummies(dic_total['Accvict'], prefix=['CA','PROV'], columns=['COMUNIDAD_AUTONOMA','PROVINCIA'])

In [23]:
dic_total['Accvict']

,ID_ACCIDENTE,ANIO,MES,HORA,DIASEMANA,PROVINCIA,COMUNIDAD_AUTONOMA,ISLA,MUNICIPIO,TOT_VICTIMAS,...,RED_CARRETERA,TIPO_VIA,TRAZADO_NO_INTERSEC,TIPO_INTERSEC,SUPERFICIE_CALZADA,LUMINOSIDAD,FACTORES_ATMOSFERICOS,VISIBILIDAD_RESTRINGIDA,ACERAS,TIPO_ACCIDENTE
0,2008480000372,2008,4,07:00,5,48,17,0.0,0.0,4,...,3,2,1.0,0.0,2,3,1,8,N,71
1,2008250021218,2008,3,14:00,7,25,9,0.0,0.0,1,...,2,5,2.0,0.0,1,1,9,8,N,22
2,2008430024095,2008,10,12:00,7,43,9,0.0,0.0,1,...,4,5,1.0,0.0,1,1,1,0,N,68
3,2008430022973,2008,4,18:00,2,43,9,0.0,0.0,1,...,4,5,0.0,3.0,1,1,1,0,N,14
4,2008250021457,2008,5,19:00,5,25,9,0.0,0.0,1,...,4,9,1.0,0.0,9,1,9,8,N,66
5,2008250022083,2008,12,14:00,1,25,9,0.0,0.0,3,...,2,5,2.0,0.0,1,1,1,8,N,67
6,2008430024521,2008,12,20:00,2,43,9,0.0,0.0,1,...,4,9,1.0,0.0,1,5,1,0,N,12
7,2008480000579,2008,6,19:00,5,48,17,0.0,0.0,2,...,5,1,1.0,0.0,1,1,1,8,N,13
8,2008430022598,2008,3,02:00,7,43,9,0.0,0.0,2,...,4,5,0.0,1.0,1,5,1,0,N,68
9,2008080018378,2008,12,13:00,2,8,9,0.0,0.0,1,...,4,5,0.0,3.0,9,1,1,0,N,41
10,2008430023482,2008,7,22:00,3,43,9,0.0,0.0,2,...,4,5,1.0,0.0,1,3,1,0,N,12
11,2008080006201,2008,5,21:00,4,8,9,0.0,0.0,2,...,4,5,1.0,0.0,1,1,1,0,N,14
12,2008250021663,2008,7,13:00,1,25,9,0.0,0.0,3,...,4,5,1.0,0.0,1,1,1,0,N,12
13,2008080003928,2008,3,18:00,1,8,9,0.0,0.0,2,...,4,5,0.0,3.0,1,1,1,0,N,13
14,2008170018860,2008,3,18:00,2,17,9,0.0,0.0,1,...,4,5,1.0,0.0,9,1,1,0,N,41
15,2008010000305,2008,10,08:00,1,1,17,0.0,0.0,4,...,3,2,1.0,0.0,1,1,1,8,N,54
16,2008080018201,2008,12,17:00,4,8,9,0.0,0.0,1,...,4,5,1.0,0.0,1,2,1,0,N,68
17,2008170020032,2008,8,15:00,1,17,9,0.0,0.0,1,...,4,5,1.0,0.0,1,1,1,0,N,68
18,2008080009722,2008,7,14:00,1,8,9,0.0,0.0,1,...,4,5,1.0,0.0,1,1,1,0,N,12
19,2008080005320,2008,4,11:00,2,8,9,0.0,0.0,1,...,4,5,1.0,0.0,1,1,1,0,N,15
20,2008480000925,2008,9,00:00,4,48,17,0.0,0.0,1,...,3,5,1.0,0.0,3,3,4,1,S,62
21,2008430022766,2008,3,19:00,1,43,9,0.0,0.0,1,...,4,9,1.0,0.0,1,1,1,0,N,33
22,2008080017929,2008,12,18:00,6,8,9,0.0,0.0,1,...,4,5,1.0,0.0,1,3,1,0,N,13
23,2008480000482,2008,5,08:00,1,48,17,0.0,0.0,1,...,3,8,0.0,3.0,1,1,1,7,N,13
24,2008250022084,2008,12,10:00,1,25,9,0.0,0.0,1,...,4,9,1.0,0.0,1,1,1,0,N,68
25,2008080016327,2008,11,20:00,3,8,9,0.0,0.0,3,...,4,5,1.0,0.0,1,5,1,0,N,68
26,2008080010617,2008,7,21:00,3,8,9,0.0,0.0,1,...,4,5,0.0,5.0,9,2,1,0,N,41
27,2008080002919,2008,2,17:00,4,8,9,0.0,0.0,2,...,4,5,1.0,0.0,1,1,1,0,N,12
28,2008430023989,2008,9,06:00,6,43,9,0.0,0.0,2,...,1,5,0.0,1.0,1,4,1,8,N,11
29,2008250021559,2008,6,01:00,1,25,9,0.0,0.0,2,...,4,9,1.0,0.0,1,5,1,0,N,68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
711872,2016990000181,2015,12,16,1,28,13,0.0,28079.0,1,...,4,8,2.0,0.0,1,1,4,999,998,20
711873,2016990000183,2015,12,9,2,28,13,0.0,28079.0,1,...,4,8,1.0,0.0,3,1,1,999,998,20
711874,2016990000188,2015,12,10,2,28,13,0.0,28079.0,1,...,4,8,1.0,0.0,1,1,1,999,999,7
711875,2016990000191,2015,12,7,1,28,13,0.0,28079.0,1,...,4,8,1.0,0.0,1,3,1,999,998,4
711876,2016990000193,2015,12,9,3,28,13,0.0,28079.0,1,...,4,8,0.0,2.0,1,1,1,999,998,2
711877,2016990000194,2015,12,8,3,28,13,0.0,28079.0,1,...,4,8,0.0,2.0,1,1,1,999,998,2
711878,2016990000200,2015,12,20,4,28,13,0.0,28079.0,1,...,4,8,1.0,0.0,1,3,1,999,998,4
711879,2016990000202,2015,12,7,7,28,13,0.0,28079.0,1,...,4,8,0.0,2.0,1,3,1,999,998,2
711880,2016990000227,2015,12,11,6,28,13,0.0,28079.0,1,...,4,8,1.0,0.0,1,1,1,999,998,4
711881,2016990000232,2015,12,0,2,28,13,0.0,28079.0,1,...,4,8,1.0,0.0,3,3,4,999,999,7
711882,2016990000234,2015,12,13,2,28,13,0.0,28079.0,2,...,4,8,0.0,1.0,1,1,1,999,998,2
711883,2016990000241,2015,12,13,3,28,13,0.0,28079.0,1,...,4,8,1.0,0.0,1,1,1,999,998,4
711884,2016990000258,2015,12,12,4,28,13,0.0,28079.0,1,...,4,8,1.0,0.0,1,1,4,999,998,20
711885,2016990000295,2015,12,12,6,28,13,0.0,28079.0,1,...,4,8,1.0,0.0,1,1,1,999,998,4
711886,2016990000308,2015,12,12,4,28,13,0.0,28079.0,1,...,4,8,0.0,2.0,3,1,4,999,998,2
711887,2016990000358,2015,12,18,4,28,13,0.0,28079.0,1,...,4,8,0.0,2.0,1,3,1,999,999,7
711888,2016990000380,2015,12,9,6,28,13,0.0,28079.0,1,...,4,8,1.0,0.0,1,1,1,999,998,4
711889,2016990000382,2015,12,0,2,28,13,0.0,28079.0,2,...,4,8,0.0,2.0,3,3,4,999,998,2
711890,2016990000391,2015,12,1,5,28,13,0.0,28079.0,1,...,4,8,1.0,0.0,1,3,1,999,998,4
711891,2016990000392,2015,12,13,7,28,13,0.0,28079.0,1,...,4,8,0.0,1.0,1,1,1,999,998,5
711892,2016990000395,2015,12,16,3,28,13,0.0,28079.0,2,...,4,8,1.0,0.0,1,1,1,999,998,20
711893,2016990000397,2015,12,13,2,28,13,0.0,28079.0,1,...,4,8,0.0,2.0,1,1,1,999,998,2
711894,2016990000405,2015,12,14,4,28,13,0.0,28079.0,1,...,4,8,0.0,2.0,1,1,1,999,998,2
711895,2016990000436,2015,12,11,3,28,13,0.0,28079.0,1,...,4,8,0.0,2.0,1,1,1,999,998,2
711896,2016990000444,2015,12,12,4,28,13,0.0,28079.0,1,...,4,8,1.0,0.0,3,1,4,999,998,20
711897,2016990000448,2015,12,13,2,28,13,0.0,28079.0,1,...,4,8,0.0,2.0,1,1,1,999,999,7
711898,2016990000873,2015,12,7,4,28,13,0.0,28079.0,1,...,4,8,0.0,2.0,3,3,4,999,998,2
711899,2016990000875,2015,12,11,4,28,13,0.0,28079.0,2,...,4,8,0.0,2.0,3,1,4,999,998,2
711900,2016990000876,2015,12,13,2,28,13,0.0,28079.0,1,...,4,8,1.0,0.0,1,1,1,999,999,7
711901,2016990001660,2015,11,15,1,28,13,0.0,28079.0,1,...,4,8,0.0,2.0,1,1,1,999,998,2

In [24]:
df = pd.DataFrame({'A': ['x', 'y', 'x'], 'B': ['z', 'u', 'z'],
                  'C': [1,2,3],
                  'D':['j', 'l', 'j']})

In [25]:
df

   A  B  C  D
0  x  z  1  j
1  y  u  2  l
2  x  z  3  j

In [26]:
df_1= pd.get_dummies(df)
df_1

   C  A_x  A_y  B_u  B_z  D_j  D_l
0  1    1    0    0    1    1    0
1  2    0    1    1    0    0    1
2  3    1    0    0    1    1    0

In [27]:
df_2=pd.get_dummies(df, prefix=['DDDD','DDD','D'], columns=['A','B','C'])
df_2

   D  DDDD_x  DDDD_y  DDD_u  DDD_z  D_1  D_2  D_3
0  j       1       0      0      1    1    0    0
1  l       0       1      1      0    0    1    0
2  j       1       0      0      1    0    0    1

In [28]:
  df_year=pd.read_csv(files_list[file],delimiter=";",encoding="ISO-8859-1",converters={'COD_MUNICIPIO': str, 'MUNICIPIO': str})

NameError: name 'files_list' is not defined


### LECTURA DE LOS DATASET DE VEHICULOS PARA LOS A√ëOS 2011-2015

In [ ]:
df_year.shape[0]

In [187]:
#Creo un dataframe vacio para posteriormente rellenarlo con los a√±os 2001 al 2015
df_accvict_08_15 = pd.DataFrame()
dict={}
for key in list_keys_dic:
    for file in range(0,len(files_list)):
        df_year=pd.read_csv(files_list[file],delimiter=";",encoding="ISO-8859-1")
        df_year.fillna(0)
        dict[tipology]=files_list[file]
        print("Cargando fichero-->"+files_list[file]+"\n\t"+"Registros= "+str(df_year.shape[0])+"\n\t"+"Columnas= "+str(df_year.shape[1]))
        if tipology=='list_accvict'
        %(tipology)+_08_15=df_accvict_08_15.append(df_year)

Cargando fichero-->./MICRODATOS_ACC_VICT_2008/TABLA_ACCVICT_24H_2008.csv
	Registros= 93161
	Columnas= 32
Cargando fichero-->./MICRODATOS_ACC_VICT_2009/TABLA_ACCVICT_24H_2009.csv
	Registros= 88251
	Columnas= 32
Cargando fichero-->./MICRODATOS_ACC_VICT_2010/TABLA_ACCVICT_24H_2010.csv
	Registros= 85503
	Columnas= 32
Cargando fichero-->./MICRODATOS_ACC_VICT_2011/TABLA_ACCVICT_2011.csv
	Registros= 83027
	Columnas= 39
Cargando fichero-->./MICRODATOS_ACC_VICT_2012/TABLA_ACCVICT_2012.csv
	Registros= 83115
	Columnas= 39
Cargando fichero-->./MICRODATOS_ACC_VICT_2013/TABLA_ACCVICT_2013.csv
	Registros= 89519
	Columnas= 39
Cargando fichero-->./MICRODATOS_ACC_VICT_2014/TABLA_ACCVICT_2014.csv
	Registros= 91570
	Columnas= 39
Cargando fichero-->./MICRODATOS_ACC_VICT_2015/TABLA_ACCVICT_2015.csv
	Registros= 97756
	Columnas= 39

In [189]:
j=df_accvict_08_15.groupby(['ANIO']).size()

In [191]:
type(j)

pandas.core.series.Series

In [ ]:
df_accvict_08_15.groupby(['ANIO']).agg(['mean', 'count'])

In [176]:
print(df_accvict_08_15.head())
#df1=df[['ANIO','TOT_VICTIMAS']]

  ACERAS  ACOND_CALZADA  ANIO CARRETERA  COD_MUNICIPIO  COMUNIDAD_AUTONOMA  \
0      N            0.0  2008    BI-631            NaN                  17
1      N            0.0  2008      C-12            NaN                   9
2      N            0.0  2008   TV-7331            NaN                   9
3      N            0.0  2008     N-340            NaN                   9
4      N            0.0  2008     CR-26            NaN                   9

   DENSIDAD_CIRCULACION  DIASEMANA  FACTORES_ATMOSFERICOS   HORA  \
0                   1.0          5                      1  07:00
1                   1.0          7                      9  14:00
2                   0.0          7                      1  12:00
3                   0.0          2                      1  18:00
4                   1.0          5                      9  19:00

       ...        TOT_HERIDOS_LEVES30D  TOT_MUERTOS  TOT_MUERTOS30D  \
0      ...                         NaN            0             NaN
1      ...                         NaN            0             NaN
2      ...                         NaN            0             NaN
3      ...                         NaN            0             NaN
4      ...                         NaN            0             NaN

   TOT_VEHICULOS_IMPLICADOS  TOT_VICTIMAS  TOT_VICTIMAS30D  \
0                         1             4              NaN
1                         1             1              NaN
2                         1             1              NaN
3                         2             1              NaN
4                         1             1              NaN

   TRAZADO_NO_INTERSEC  VISIBILIDAD_RESTRINGIDA  ZONA  ZONA_AGRUPADA
0                  1.0                        8     1              1
1                  2.0                        8     1              1
2                  1.0                        0     1              1
3                  NaN                        0     1              1
4                  1.0                        8     1              1

[5 rows x 44 columns]

In [174]:
dict

{0: './MICRODATOS_ACC_VICT_2008/TABLA_ACCVICT_24H_2008.csv',
 1: './MICRODATOS_ACC_VICT_2009/TABLA_ACCVICT_24H_2009.csv',
 2: './MICRODATOS_ACC_VICT_2010/TABLA_ACCVICT_24H_2010.csv',
 3: './MICRODATOS_ACC_VICT_2011/TABLA_ACCVICT_2011.csv',
 4: './MICRODATOS_ACC_VICT_2012/TABLA_ACCVICT_2012.csv',
 5: './MICRODATOS_ACC_VICT_2013/TABLA_ACCVICT_2013.csv',
 6: './MICRODATOS_ACC_VICT_2014/TABLA_ACCVICT_2014.csv',
 7: './MICRODATOS_ACC_VICT_2015/TABLA_ACCVICT_2015.csv'}

In [ ]:
threedee.scatter(df.ANIO, df["TOT_MUERTOS"], df['Volume'])